            <div data-v-6f8a040c="">
              <meta itemprop="name" content="Serenity" />
              <div itemprop="address" data-v-6f8a040c="">
                <meta
                  itemprop="streetAddress"
                  content="ул. Большая Разночиная, д. 14, м. Чкаловская"
                />
                <meta itemprop="postalCode" content="197110" />
                <meta
                  itemprop="addressLocality"
                  content="Санкт-Петербург, Россия"
                />
              </div>
              <meta itemprop="telephone" content="+7 (812) 602-50-44" />
              <meta itemprop="email" content="mail@serenity.ru" />
            </div>
