            <div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide swiper-slide-active"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kontekstnaya-i-georeklama-premium-segment"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как контекстная реклама и геореклама влияют на продажи в премиум-сегменте
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Рассказываем на примере проекта в нише дизайнерской мебели
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/kontekstnaya-i-georeklama-premium-segment/card.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Иллюстрация к статье: Как контекстная реклама и геореклама влияют на продажи в премиум-сегменте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide swiper-slide-next"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/geo-seo-kak-ne-popast-v-lovushku-trendov-i-ne-slit-byudzhet"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            GEO: как не попасть в ловушку трендов и не слить бюджет
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Механики, ограничения и условия эффективного продвижения в AI-поиске
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/2c90ZsktwnulhdYmqcyYhovKfI3rlTcUWjIFPDnT.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="GEO: как не попасть в ловушку трендов и не слить бюджет" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/rabota-s-auditoriej-konkurentov-cherez-vk-reklamu-parsing-i-sms-kanaly"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Работа с аудиторией конкурентов через VK Рекламу, парсинг и SMS-каналы
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/HvnbMEsTcvsvxf15HTuhBT6yObhnIQxcfdPP3i6k.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Работа с аудиторией конкурентов через VK Рекламу, парсинг и SMS-каналы" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kak-privlekat-auditoriyu-konkurentov-cherez-yandeks-direkt"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как привлекать аудиторию конкурентов через Яндекс Директ
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/J0EX1CGpblUqb2f2bhGaKSnVK6Zmmf0gSiHSDksY.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Как привлекать аудиторию конкурентов через Яндекс Директ" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kak-optimizirovat-izobrazheniya-na-sajte"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как оптимизировать изображения на сайте
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            О влиянии картинок на скорость загрузки сайта, пользовательское поведение и улучшение SEO-показателей.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/7ghVzOIfc86UwRPhHBVEW5rCMIn4UmBhKSVJ5JCg.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Как оптимизировать изображения на сайте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kak-oformlyat-stati-na-sajte-tak-chtoby-ih-chitali"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как оформлять статьи на сайте так, чтобы их читали
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Рассказываем о важных нюансах структуры, SEO-оптимизации и верстки.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/7BzTXRHMBYwo8hfBnHANzuwCkMpEE41hcdkWHXzK.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Как оформлять статьи на сайте так, чтобы их читали" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/produktovyj-ux-analiz-kak-nahodit-tochki-poteri-konversii-i-prevrashhat-trafik-v-prodazhi"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Продуктовый UX-анализ: как находить точки потери конверсии и превращать трафик в продажи
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/Zb86uL90gVnahODsBbhi8leq61P28cxq6bA4HD7Y.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Продуктовый UX-анализ: как находить точки потери конверсии и превращать трафик в продажи" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/produktovaya-analitika-cherez-glubinnye-ux-ui-intervyu"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Продуктовая аналитика через глубинные UX/UI-интервью
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Как бизнесу находить точки роста, повышать конверсию и ускорять принятие решений.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/FpLmTDkCl8sbTQbahDAe9sbcOHCkBjVBWjp7DfLU.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Продуктовая аналитика через глубинные UX/UI-интервью" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kontekstnaya-reklama-dlya-b2b-v-2026-godu-kak-privlekat-lidy"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Контекстная реклама для B2B в 2026 году: как привлекать лиды
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Как выстроить системный подход к B2B-контексту в условиях высокой конкуренции и сложного поведения аудитории, чтобы получать стабильный поток качественных лидов.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/Y7RPRjfXHu0BWKHp6BPBatoagQy2KblJSebGRwLC.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Контекстная реклама для B2B в 2026 году: как привлекать лиды" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
