<!-- Награды: localhost — оболочка; слайды 2026–2022: @partial section-home-awards-slides -->
<template id="sa-home-awards-fragment">
            <div data-v-6f8a040c="" style="z-index: 10">
              <div
                class="component-block home-awards-block isNewContent"
                data-v-6f8a040c=""
              >
                <section class="wrapper home-awards-section">
                  <div class="awards">
                    <div class="awards__header">
                      <h2 class="home-clients-awards__title" data-v-08586076="" id="home-awards-heading">Награды</h2>
                    </div>
                    <div
                      class="swiper-container swiper-container-horizontal swiper-container-free-mode swiper-container-clients-new"
                      data-v-08586076=""
                      data-v-6f8a040c=""
                    >
                      <div
                        class="swiper-wrapper clients-new__context-wrapper"
                        data-v-08586076=""
                        data-v-6f8a040c=""
                      >
<!-- @partial section-home-awards-slides -->
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
</template>
