            <div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge">
                  <h2 data-v-56f85d51="" class="services__title">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide swiper-slide-active"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/rabota-s-auditoriej-konkurentov-cherez-vk-reklamu-parsing-i-sms-kanaly"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Работа с аудиторией конкурентов через VK Рекламу,
                            парсинг и SMS-каналы
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__HvnbMEsTcvsvxf15HTuhBT6yObhnIQxcfdPP3i6k.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide swiper-slide-next"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/kak-privlekat-auditoriyu-konkurentov-cherez-yandeks-direkt"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как привлекать аудиторию конкурентов через Яндекс
                            Директ
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__J0EX1CGpblUqb2f2bhGaKSnVK6Zmmf0gSiHSDksY.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/kak-optimizirovat-izobrazheniya-na-sajte"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как оптимизировать изображения на сайте
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            О влиянии картинок на скорость загрузки сайта,
                            пользовательское поведение и улучшение
                            SEO-показателей.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__7ghVzOIfc86UwRPhHBVEW5rCMIn4UmBhKSVJ5JCg.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/produktovyj-ux-analiz-kak-nahodit-tochki-poteri-konversii-i-prevrashhat-trafik-v-prodazhi"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Продуктовый UX-анализ: как находить точки потери
                            конверсии и превращать трафик в продажи
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__Zb86uL90gVnahODsBbhi8leq61P28cxq6bA4HD7Y.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/produktovaya-analitika-cherez-glubinnye-ux-ui-intervyu"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Продуктовая аналитика через глубинные UX/UI-интервью
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Как бизнесу находить точки роста, повышать конверсию
                            и ускорять принятие решений.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__FpLmTDkCl8sbTQbahDAe9sbcOHCkBjVBWjp7DfLU.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/pochemu-vashemu-biznesu-nuzhna-reklama-vo-vkontakte-i-pochemu-effektivnee-ee-delegirovat-professionalam"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Почему вашему бизнесу нужна реклама во ВКонтакте и
                            почему эффективнее ее делегировать профессионалам
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Честный взгляд изнутри от руководителя отдела
                            таргетированной рекламы.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__KXulxM9r2B8L7SqmZXVW3LkZ9nmhn5VUdGG3dBn2.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/kontekstnaya-reklama-dlya-b2b-v-2026-godu-kak-privlekat-lidy"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Контекстная реклама для B2B в 2026 году: как
                            привлекать лиды
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Как выстроить системный подход к B2B-контексту в
                            условиях высокой конкуренции и сложного поведения
                            аудитории, чтобы получать стабильный поток
                            качественных лидов.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__Y7RPRjfXHu0BWKHp6BPBatoagQy2KblJSebGRwLC.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog/article/maksim-spiridonov-vzglyad-ceo-na-marketing-i-razvitie-produkta"
                        target="_blank"
                        class="case white-text case--resource case-cutted more-blog-case articles podcast"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи </span
                          ><span data-v-410c06b6="" class="case__tag">
                            Подкаст
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Максим Спиридонов. Взгляд CEO на маркетинг и
                            развитие продукта
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            9 выпуск, «Мышеловка» — подкаст, в котором мы
                            общаемся с топовыми предпринимателями и
                            маркетологами о том, как делать крутой маркетинг.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/storage__4rd77wPh8GwqYEMfMCSxb3AHwrCFEEEaKtxSDbAB.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="https://serenity.agency/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
