              <div
                class="live-marketing-block-wr home-between"
                data-v-1c300291=""
                data-v-6f8a040c=""
              >
                <div
                  class="component-block__top-element-last"
                  data-v-1c300291=""
                ></div>
                <div
                  class="component-block__top-element-big"
                  data-v-1c300291=""
                ></div>
                <div class="live-marketing-block" data-v-1c300291="">
                  <div class="home-ledge home-ledge--lm">
                    <h2 class="live-marketing-block__title" data-v-1c300291="">
                      Мы любим маркетинг
                    </h2>
                    <p class="live-marketing-block__subtitle" data-v-1c300291="">
                      И каждый день с душой работаем над развитием бизнеса наших
                      клиентов.
                    </p>
                  </div>
                  <div class="live-marketing-block__content" data-v-1c300291="">
                    <div class="live-marketing-block__card" data-v-1c300291="">
                      <div
                        class="live-marketing-block__card-text"
                        data-v-1c300291=""
                      >
                        <h4
                          class="live-marketing-block__card-title"
                          data-v-1c300291=""
                        >
                          100+
                        </h4>
                        <p
                          class="live-marketing-block__card-subtitle"
                          data-v-1c300291=""
                        >
                          профессионалов
                        </p>
                      </div>
                      <div
                        class="live-marketing-block__card-gradient"
                        data-v-1c300291=""
                      ></div>
                      <p
                        class="live-marketing-block__card-description"
                        data-v-1c300291=""
                      >
                        Команда нашего маркетингового агентства — это опытные
                        специалисты разных направлений маркетинга, которые
                        стремятся к достижению комплексных результатов.
                      </p>
                    </div>
                    <div class="live-marketing-block__card" data-v-1c300291="">
                      <div
                        class="live-marketing-block__card-text"
                        data-v-1c300291=""
                      >
                        <h4
                          class="live-marketing-block__card-title"
                          data-v-1c300291=""
                        >
                          20
                        </h4>
                        <p
                          class="live-marketing-block__card-subtitle"
                          data-v-1c300291=""
                        >
                          лет работы
                        </p>
                      </div>
                      <div
                        class="live-marketing-block__card-gradient"
                        data-v-1c300291=""
                      ></div>
                      <p
                        class="live-marketing-block__card-description"
                        data-v-1c300291=""
                      >
                        Накопили огромный опыт развития проектов от стартапов до
                        брендов федерального и международного уровня.
                      </p>
                    </div>
                    <div class="live-marketing-block__card" data-v-1c300291="">
                      <div
                        class="live-marketing-block__card-text"
                        data-v-1c300291=""
                      >
                        <h4
                          class="live-marketing-block__card-title"
                          data-v-1c300291=""
                        >
                          13+
                        </h4>
                        <p
                          class="live-marketing-block__card-subtitle"
                          data-v-1c300291=""
                        >
                          направлений маркетинга
                        </p>
                      </div>
                      <div
                        class="live-marketing-block__card-gradient"
                        data-v-1c300291=""
                      ></div>
                      <p
                        class="live-marketing-block__card-description"
                        data-v-1c300291=""
                      >
                        В синергии эффективно решаем задачи от увеличению продаж
                        до развития брендов.
                      </p>
                    </div>
                    <a
                      target="_blank"
                      href="https://serenity.agency/about"
                      class="live-marketing-block__content-link"
                      data-v-1c300291=""
                      >Подробнее о нас
                      <svg
                        width="10"
                        height="16"
                        viewBox="0 0 10 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2.14551 2L8.22607 8.42719L1.96979 14.6835"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                    ></a>
                  </div>
                </div>
              </div>
