            <div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-08586076=""
                data-v-6f8a040c=""
                class="clients-wrapper clients-mainstr clients-wrapper_main-structure"
              >
                <div data-v-08586076="" class="clients-new-section home-between">
                  <div data-v-08586076="" class="clients-new home-ledge">
                    <h2 data-v-08586076="" class="clients-new__title">
                      Наши клиенты
                    </h2>
                    <div data-v-08586076="" class="swiper-buttons">
                      <div data-v-08586076="" class="swiper-button-prev">
                        <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M1.39844 0.900391L10.5908 10.0928L1.39844 19.2852" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      </div>
                      <div data-v-08586076="" class="swiper-button-next">
                        <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M1.39844 0.900391L10.5908 10.0928L1.39844 19.2852" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      </div>
                    </div>
                  </div>
                  <div
                    data-v-08586076=""
                    class="swiper-container swiper-container-clients-new swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                  >
                    <div
                      data-v-08586076=""
                      class="swiper-wrapper clients-new__context-wrapper"
                    >
                      <a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="0"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__mtsBTKBo2pcgymTuOBVX2TH40nBNPWpwZACScRMg.png"
                          alt="function String() { [native code] } - img 1"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="1"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__T0iEKGWlNMfQ9nL1Sukiu40aYVGzlwE3MwklJFZ7.png"
                          alt="function String() { [native code] } - img 2"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="2"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__48eY8HtiowBxzmSHd4CppIf3uiamDHFxKTeIhHBQ.png"
                          alt="function String() { [native code] } - img 3"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                        data-swiper-slide-index="3"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__QfyxZ8bEL5NTkfkRPolKdC1eOsuKWtRagVlEgmTp.png"
                          alt="function String() { [native code] } - img 4"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        href="https://serenity.agency/case/volvo-penta"
                        class="swiper-slide clients-new__slide clients-new__slide--link swiper-slide-duplicate swiper-slide-duplicate-active"
                        data-swiper-slide-index="4"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__di6OvWVvImeiVprIQOsnSThMtQArzCThnt9aNQHl.png"
                          alt="function String() { [native code] } - img 5"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate swiper-slide-duplicate-next"
                        data-swiper-slide-index="5"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__U2ZXSKj2Xd41ig5teXMv2vMMlLlDEI5z7bRf78HV.svg"
                          alt="function String() { [native code] } - img 6"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="6"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__VYilJPLPBBeu4APyQHjwOyBQPS93Tahs75rGmk8w.svg"
                          alt="function String() { [native code] } - img 7"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        href="https://serenity.agency/case/all/orange"
                        class="swiper-slide clients-new__slide clients-new__slide--link swiper-slide-duplicate"
                        data-swiper-slide-index="7"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__bR5c6wK4E0fnHM77iHDSUFS4S0A3h99BlK4LRSYG.png"
                          alt="function String() { [native code] } - img 8"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="8"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__PGi2bChOs2bXV2X4tL3pLVtNqreYGocLWQJwqX0V.png"
                          alt="function String() { [native code] } - img 9"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="9"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__b19c5BeePbOyZZRh25xCqnZhmRzHvHuvtOOOE66Y.png"
                          alt="function String() { [native code] } - img 10"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="10"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__NROwzT3nByfcmr5WtQFlPRD1nlfL3VxceucgN1C3.png"
                          alt="function String() { [native code] } - img 11"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="11"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__sCAHr1EVxx63n932wlgY12N3VvOym4rB0595WOJG.png"
                          alt="function String() { [native code] } - img 12"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="0"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__mtsBTKBo2pcgymTuOBVX2TH40nBNPWpwZACScRMg.png"
                          alt="function String() { [native code] } - img 1"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="1"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__T0iEKGWlNMfQ9nL1Sukiu40aYVGzlwE3MwklJFZ7.png"
                          alt="function String() { [native code] } - img 2"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="2"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__48eY8HtiowBxzmSHd4CppIf3uiamDHFxKTeIhHBQ.png"
                          alt="function String() { [native code] } - img 3"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-prev"
                        data-swiper-slide-index="3"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__QfyxZ8bEL5NTkfkRPolKdC1eOsuKWtRagVlEgmTp.png"
                          alt="function String() { [native code] } - img 4"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        href="https://serenity.agency/case/volvo-penta"
                        class="swiper-slide clients-new__slide clients-new__slide--link swiper-slide-active"
                        data-swiper-slide-index="4"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__di6OvWVvImeiVprIQOsnSThMtQArzCThnt9aNQHl.png"
                          alt="function String() { [native code] } - img 5"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-next"
                        data-swiper-slide-index="5"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__U2ZXSKj2Xd41ig5teXMv2vMMlLlDEI5z7bRf78HV.svg"
                          alt="function String() { [native code] } - img 6"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="6"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__VYilJPLPBBeu4APyQHjwOyBQPS93Tahs75rGmk8w.svg"
                          alt="function String() { [native code] } - img 7"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        href="https://serenity.agency/case/all/orange"
                        class="swiper-slide clients-new__slide clients-new__slide--link"
                        data-swiper-slide-index="7"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__bR5c6wK4E0fnHM77iHDSUFS4S0A3h99BlK4LRSYG.png"
                          alt="function String() { [native code] } - img 8"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="8"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__PGi2bChOs2bXV2X4tL3pLVtNqreYGocLWQJwqX0V.png"
                          alt="function String() { [native code] } - img 9"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="9"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__b19c5BeePbOyZZRh25xCqnZhmRzHvHuvtOOOE66Y.png"
                          alt="function String() { [native code] } - img 10"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="10"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__NROwzT3nByfcmr5WtQFlPRD1nlfL3VxceucgN1C3.png"
                          alt="function String() { [native code] } - img 11"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide"
                        data-swiper-slide-index="11"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__sCAHr1EVxx63n932wlgY12N3VvOym4rB0595WOJG.png"
                          alt="function String() { [native code] } - img 12"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="0"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__mtsBTKBo2pcgymTuOBVX2TH40nBNPWpwZACScRMg.png"
                          alt="function String() { [native code] } - img 1"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="1"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__T0iEKGWlNMfQ9nL1Sukiu40aYVGzlwE3MwklJFZ7.png"
                          alt="function String() { [native code] } - img 2"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="2"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__48eY8HtiowBxzmSHd4CppIf3uiamDHFxKTeIhHBQ.png"
                          alt="function String() { [native code] } - img 3"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                        data-swiper-slide-index="3"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__QfyxZ8bEL5NTkfkRPolKdC1eOsuKWtRagVlEgmTp.png"
                          alt="function String() { [native code] } - img 4"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        href="https://serenity.agency/case/volvo-penta"
                        class="swiper-slide clients-new__slide clients-new__slide--link swiper-slide-duplicate swiper-slide-duplicate-active"
                        data-swiper-slide-index="4"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__di6OvWVvImeiVprIQOsnSThMtQArzCThnt9aNQHl.png"
                          alt="function String() { [native code] } - img 5"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate swiper-slide-duplicate-next"
                        data-swiper-slide-index="5"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__U2ZXSKj2Xd41ig5teXMv2vMMlLlDEI5z7bRf78HV.svg"
                          alt="function String() { [native code] } - img 6"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="6"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__VYilJPLPBBeu4APyQHjwOyBQPS93Tahs75rGmk8w.svg"
                          alt="function String() { [native code] } - img 7"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        href="https://serenity.agency/case/all/orange"
                        class="swiper-slide clients-new__slide clients-new__slide--link swiper-slide-duplicate"
                        data-swiper-slide-index="7"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__bR5c6wK4E0fnHM77iHDSUFS4S0A3h99BlK4LRSYG.png"
                          alt="function String() { [native code] } - img 8"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="8"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__PGi2bChOs2bXV2X4tL3pLVtNqreYGocLWQJwqX0V.png"
                          alt="function String() { [native code] } - img 9"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="9"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__b19c5BeePbOyZZRh25xCqnZhmRzHvHuvtOOOE66Y.png"
                          alt="function String() { [native code] } - img 10"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="10"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__NROwzT3nByfcmr5WtQFlPRD1nlfL3VxceucgN1C3.png"
                          alt="function String() { [native code] } - img 11"
                          loading="lazy" /></a
                      ><a
                        data-v-08586076=""
                        class="swiper-slide clients-new__slide swiper-slide-duplicate"
                        data-swiper-slide-index="11"
                        style="margin-right: 40px"
                        ><img fetchpriority="low" decoding="async"
                          data-v-08586076=""
                          src="/img/storage__sCAHr1EVxx63n932wlgY12N3VvOym4rB0595WOJG.png"
                          alt="function String() { [native code] } - img 12"
                          loading="lazy"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
