<section class="page-constructor__section">
  <div id="sa-home-awards-mounted" data-v-6f8a040c="" style="z-index: 10">
    <div class="component-block home-awards-block isNewContent" data-v-6f8a040c="">
      <section class="wrapper home-awards-section">
        <div class="awards">
          <div class="awards__header">
            <h3 class="home-clients-awards__title kontekstnaya-page__section-heading" data-v-08586076="" id="__HEADING_ID__">Награды</h3>
          </div>
          <div
            class="swiper-container swiper-container-horizontal swiper-container-free-mode swiper-container-clients-new"
            data-v-08586076=""
            data-v-6f8a040c=""
          >
            <div class="swiper-wrapper clients-new__context-wrapper" data-v-08586076="" data-v-6f8a040c="">
__SLIDES_HTML__
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
