<!-- Награды marketing: json/services/marketing/awards.json + home-awards.css. -->
<section class="page-constructor__section">
  <div id="sa-home-awards-mounted" data-v-6f8a040c="" style="z-index: 10">
    <div class="component-block home-awards-block isNewContent" data-v-6f8a040c="">
      <section class="wrapper home-awards-section">
        <div class="awards">
          <div class="awards__header">
            <h3 class="home-clients-awards__title kontekstnaya-page__section-heading" data-v-08586076="" id="targeting-awards-heading">Награды</h3>
          </div>
          <div
            class="swiper-container swiper-container-horizontal swiper-container-free-mode swiper-container-clients-new"
            data-v-08586076=""
            data-v-6f8a040c=""
          >
            <div class="swiper-wrapper clients-new__context-wrapper" data-v-08586076="" data-v-6f8a040c="">

                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Connect</span>
                                <span class="awards__card-year">2026</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                ТОП-50 в списке проверенных агентств контекстной рекламы в России
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место по России в контекстной рекламе в сфере медицины и здоровья
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><a class="home-awards-slide-shell" data-v-6f8a040c="" href="https://workspace.ru/awards/cases/kompleksnaya-usluga-dlya-peterburgskogo-brenda-ukrasheniy-darkrain/" target="_blank" rel="noopener noreferrer">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Workspace Digital</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                1 место за комплексные услуги для eCom бренда Darkrain
                              </p>
                            </div>
                          </a>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                3 место по России в рейтинге комплексных digital-агентств в сфере «Красота, мода»
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                4 место в СПб по комплексному продвижению в интернете
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                23 место в СПб по настройке контекстной рекламы
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                14 место в России по комплексному продвижению в сфере «Промышленность»
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                14 место в России по комплексному продвижению микро-бизнеса
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                16 место в России по комплексному продвижению корпоративных сайтов
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                29 место в России по комплексному продвижению в интернете
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2023</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                11 место в рейтинге агентств контекстной рекламы Санкт-Петербурга
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Ruward</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                2 место в России по performance-маркетингу для IT-услуг и сервисов
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><a class="home-awards-slide-shell" data-v-6f8a040c="" href="https://api.cabinet.cmsmagazine.ru/diplom/show/28d58dab9fc743a06e23b15c496d3f03" target="_blank" rel="noopener noreferrer">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                14 место в рейтинге агентств контекстной рекламы Санкт-Петербурга
                              </p>
                            </div>
                          </a>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Tagline</span>
                                <span class="awards__card-year">2018</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место в рейтинге агентств performance-маркетинга Петербурга
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Tagline</span>
                                <span class="awards__card-year">2017</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                9 место по performance-маркетингу в Санкт-Петербурге
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Ruward</span>
                                <span class="awards__card-year">2017</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место по контекстной рекламе в Санкт-Петербурге
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2021</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                8 место в СПб в рейтинге агентств по контекстной рекламе
                              </p>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
