<!-- Награды marketing: слайды с главной (section-home-awards-slides) + home-awards.css -->
<section class="page-constructor__section">
  <div id="sa-home-awards-mounted" data-v-6f8a040c="" style="z-index: 10">
    <div class="component-block home-awards-block isNewContent" data-v-6f8a040c="">
      <section class="wrapper home-awards-section">
        <div class="awards">
          <div class="awards__header marketing-awards-header">
            <h3 class="home-clients-awards__title kontekstnaya-page__section-heading" data-v-08586076="" id="marketing-awards-heading">Награды</h3>
            <p class="marketing-awards__lead">
              Serenity — <a href="/">маркетинговое агентство</a> полного цикла.
            </p>
          </div>
          <div
            class="swiper-container swiper-container-clients-new"
            data-v-08586076=""
            data-v-6f8a040c=""
          >
            <div class="swiper-wrapper clients-new__context-wrapper" data-v-08586076="" data-v-6f8a040c="">
<!-- Тексты карточек «Награды»: 2026–2022. 2026 — Connect (в SSR /about нет строки года 2026); 2025–2022 — с https://serenity.agency/about -->
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Connect</span>
                                <span class="awards__card-year">2026</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                ТОП-50 в&nbsp;списке проверенных digital-агентств по&nbsp;контекстной рекламе в&nbsp;России
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Workspace Digital</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                16 место в&nbsp;списке самых награждаемых маркетинговых агентств
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место по&nbsp;России среди маркетинговых агентств в&nbsp;контент-маркетинге в&nbsp;IT-сфере
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место по&nbsp;России в&nbsp;дизайне ювелирных украшений
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место по&nbsp;России по&nbsp;контекстной рекламе в&nbsp;сфере медицины и&nbsp;здоровья
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                5 место в&nbsp;Санкт-Петербурге среди агентств маркетинга в&nbsp;PR
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                3 место по&nbsp;России в&nbsp;маркетинговом рейтинге по&nbsp;SMM для&nbsp;спортивных и&nbsp;фитнес сервисов
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                3 место по&nbsp;России в&nbsp;рейтинге маркетинговых агентств по&nbsp;SMM для&nbsp;производства алкоголя
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                1 место в&nbsp;рейтинге digital-агентств по&nbsp;России по&nbsp;инфлюенс-маркетингу в&nbsp;сфере отдыха и&nbsp;досуга
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2024</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                2 место в&nbsp;рейтинге маркетинговых агентств по&nbsp;PR-продвижению в&nbsp;Санкт-Петербурге
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2023</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                7 место в&nbsp;России среди маркетинговых агентств по&nbsp;SMM-продвижению в&nbsp;сфере красоты и&nbsp;моды
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2023</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                2 место в&nbsp;России в&nbsp;рейтинге digital-агентств по&nbsp;брендингу для&nbsp;промышленных предприятий
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                1 место в&nbsp;России в&nbsp;рейтинге маркетинговых агентств по&nbsp;разработке позиционирования
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг АКАР</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                ТОП-85 по&nbsp;России в&nbsp;Digital Non-Media Rating
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Ruward</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                2 место в&nbsp;России по&nbsp;performance-маркетингу для&nbsp;IT-услуг и&nbsp;сервисов
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Ruward</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                5 место в&nbsp;России по&nbsp;SMM-продвижению IT-услуг и&nbsp;сервисов
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Ruward</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                15 место в&nbsp;России по&nbsp;digital-продвижению в&nbsp;сфере красоты и&nbsp;косметологии
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Ruward</span>
                                <span class="awards__card-year">2022</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                28 место в&nbsp;России по&nbsp;digital-продвижению в&nbsp;сфере промышленности
                              </p>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
