<!-- Награды /strategy: json/services/strategy/awards.json + home-awards.css. -->
<section class="page-constructor__section strategy-awards-section">
  <div id="sa-home-awards-mounted" data-v-6f8a040c="" style="z-index: 10">
    <div class="component-block home-awards-block isNewContent" data-v-6f8a040c="">
      <section class="wrapper home-awards-section">
        <div class="awards">
          <div class="awards__header">
            <h3 class="home-clients-awards__title kontekstnaya-page__section-heading" data-v-08586076="" id="strategy-awards-heading">Награды</h3>
          </div>
          <div
            class="swiper-container swiper-container-horizontal swiper-container-free-mode swiper-container-clients-new"
            data-v-08586076=""
            data-v-6f8a040c=""
          >
            <div class="swiper-wrapper clients-new__context-wrapper" data-v-08586076="" data-v-6f8a040c="">

                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место в&nbsp;России по&nbsp;разработке бренд-стратегий
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2025</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                5 место в&nbsp;России по&nbsp;анализу бренда
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2023</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                1 место в&nbsp;России по&nbsp;разработке позиционирования
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2019</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                6 место в&nbsp;рейтинге креативности веб-студий
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Tagline</span>
                                <span class="awards__card-year">2018</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                3 место в&nbsp;Санкт-Петербурге в&nbsp;рейтинге креативных digital-агентств
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2021</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                2 место в&nbsp;СПб в&nbsp;рейтинге брендинговых агентств
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide clients-new__slide awards__card-wraper"
                          data-v-6f8a040c=""
                        ><div class="home-awards-slide-shell" data-v-6f8a040c="">
                            <div class="awards__card" data-v-6f8a040c="">
                              <div class="awards__card-info">
                                <span class="awards__card-rating">Рейтинг Рунета</span>
                                <span class="awards__card-year">2023</span>
                              </div>
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <img
                                class="awards__card-img"
                                src="/_sa/img/home/award-wreath-union1.svg"
                                alt=""
                                width="148"
                                height="131"
                                loading="lazy"
                                decoding="async"
                              />
                              <p class="awards__card-description">
                                3 место в&nbsp;СПб в&nbsp;рейтинге брендинговых агентство
                              </p>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
