<section class="page-constructor__section targeting-blog-section kontekst-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide swiper-slide-active"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/rabota-s-auditoriej-konkurentov-cherez-vk-reklamu-parsing-i-sms-kanaly"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Работа с аудиторией конкурентов через VK Рекламу, парсинг и SMS-каналы
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/HvnbMEsTcvsvxf15HTuhBT6yObhnIQxcfdPP3i6k.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Иллюстрация к статье: Работа с аудиторией конкурентов через VK Рекламу, парсинг и SMS-каналы" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide swiper-slide-next"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kak-privlekat-auditoriyu-konkurentov-cherez-yandeks-direkt"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как привлекать аудиторию конкурентов через Яндекс Директ
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/J0EX1CGpblUqb2f2bhGaKSnVK6Zmmf0gSiHSDksY.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Как привлекать аудиторию конкурентов через Яндекс Директ" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/pochemu-vashemu-biznesu-nuzhna-reklama-vo-vkontakte-i-pochemu-effektivnee-ee-delegirovat-professionalam"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Почему вашему бизнесу нужна реклама во ВКонтакте и почему эффективнее ее делегировать профессионалам
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Честный взгляд изнутри от руководителя отдела таргетированной рекламы.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/KXulxM9r2B8L7SqmZXVW3LkZ9nmhn5VUdGG3dBn2.webp"
                            loading="lazy"
                            class="case__media--front"
                           alt="Почему вашему бизнесу нужна реклама во ВКонтакте и почему эффективнее ее делегировать профессионалам" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/target-vk-v-2025-godu-chto-nuzhno-uchest-chtoby-ispolzovat-byudzhet-na-maksimum"
                        class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Таргет ВК в 2025 году: что нужно учесть, чтобы использовать бюджет на максимум
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Делимся обзором на рекламный кабинет ВК, правилами размещения рекламы, а также как анализировать результаты и отслеживать эффективность.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/syZGRfJ9opAzx53wOTY6Gz8MVHAZl9qfRs4zLlsX.jpg"
                            loading="lazy"
                            class="case__media--front"
                           alt="Таргет ВК в 2025 году: что нужно учесть, чтобы использовать бюджет на максимум" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kak-rabotaet-targetirovannaya-reklama-v-telegram-sekrety-uspeha"
                        class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как работает таргетированная реклама в телеграм: секреты успеха
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Таргетированная реклама в Telegram: ключевые аспекты и полезные советы.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/kgFdVih8krC1uO29Az5RdIEzQxcvZsIZjU7Hdr8t.jpg"
                            loading="lazy"
                            class="case__media--front"
                           alt="Как работает таргетированная реклама в телеграм: секреты успеха" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/serenity-kak-stroim-uspeshnyj-marketing-ot-sotrudnika-do-klienta"
                        class="case white-text case--resource case-cutted more-blog-case articles podcast"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Подкаст
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Serenity: Как строим успешный маркетинг — от сотрудника до клиента
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            7 выпуск, «Мышеловка» — подкаст, в котором мы общаемся с топовыми предпринимателями и маркетологами о том, как делать крутой маркетинг.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/3IHrfdwO12TCeLIT21fsrOGzw0uR2NgxYETYiyzf.jpg"
                            loading="lazy"
                            class="case__media--front"
                           alt="Serenity: Как строим успешный маркетинг — от сотрудника до клиента" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/kak-vybrat-kanaly-dlya-reklamy-v-telegram"
                        class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Как выбрать каналы для рекламы в Telegram
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            С лидером PR-направления разбираемся, как запускать посевы в Telegram, чтобы не потерять бюджет.
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/nM2qigeO46uv6gwjyIilVWRWeR8sf03Nu3tHyFUY.jpg"
                            loading="lazy"
                            class="case__media--front"
                           alt="Как выбрать каналы для рекламы в Telegram" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div
                      data-v-25bf775d=""
                      class="swiper-slide blog-block__content-box-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-410c06b6=""
                        data-v-25bf775d=""
                        href="/blog/article/strategiya-v-targete-5-shagov-k-zapusku-reklamnoj-kampanii"
                        class="case white-text case--resource case-cutted more-blog-case articles case"
                        ><div data-v-410c06b6="" class="case__tags">
                          <span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                          <span data-v-410c06b6="" class="case__tag">
                            Кейсы
                          </span>
                        </div>
                        <div data-v-410c06b6="" class="case__top">
                          <p
                            data-v-410c06b6=""
                            class="case__description case__description--static"
                          >
                            Стратегия в таргете: 5 шагов к запуску рекламной кампании
                          </p>
                          <p data-v-410c06b6="" class="case__subtitle">
                            Рассказывает Олег Дробыш — лидер направления «Таргет».
                          </p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async"
                            data-v-410c06b6=""
                            src="/_sa/img/blog/rh1u7ZQWjB09Uk4SDRGgSBgKgjFSAj7MYwwXioqa.jpg"
                            loading="lazy"
                            class="case__media--front"
                           alt="Стратегия в таргете: 5 шагов к запуску рекламной кампании" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
