<section class="page-constructor__section seo-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о&nbsp;маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide swiper-slide-active" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-optimizirovat-izobrazheniya-na-sajte" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;оптимизировать изображения на&nbsp;сайте</p>
                          <p data-v-410c06b6="" class="case__subtitle">О&nbsp;влиянии картинок на&nbsp;скорость загрузки сайта, пользовательское поведение и&nbsp;улучшение SEO-показателей.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7ghVzOIfc86UwRPhHBVEW5rCMIn4UmBhKSVJ5JCg.webp" loading="lazy" class="case__media--front" alt="Как оптимизировать изображения на сайте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-oformlyat-stati-na-sajte-tak-chtoby-ih-chitali" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;оформлять статьи на&nbsp;сайте так, чтобы их читали</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем о&nbsp;важных нюансах структуры, SEO-оптимизации и&nbsp;верстки.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7BzTXRHMBYwo8hfBnHANzuwCkMpEE41hcdkWHXzK.webp" loading="lazy" class="case__media--front" alt="Как оформлять статьи на сайте так, чтобы их читали" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-uvelichit-trafik-sajta" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;увеличить трафик сайта?</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;повысить посещаемость сайта в&nbsp;Яндексе и&nbsp;Google: инструменты, которые работают.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/9eHVMlF9O6FJCDlX9qaudoGE8DGJVzJToi7Pm6ll.jpg" loading="lazy" class="case__media--front" alt="Как увеличить трафик сайта?" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-sajta-statyami-ekspertnyj-kontent-kotoryj-rabotaet" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение сайта статьями: экспертный контент, который работает</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;продвигать сайт с&nbsp;помощью статей: критерии качества текста, юзабилити и&nbsp;оптимизация.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/T0t2iRg3ujDBa6tonZBtHr7TE5JFoAj12RWfilI2.jpg" loading="lazy" class="case__media--front" alt="Продвижение сайта статьями: экспертный контент, который работает" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/seo-pri-pereezde-sajta-kak-ne-poteryat-pozitsii-i-trafik" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">SEO при&nbsp;переезде сайта: как&nbsp;не потерять позиции и&nbsp;трафик</p>
                          <p data-v-410c06b6="" class="case__subtitle">SEO-переезд сайта — советы и&nbsp;стратегии для&nbsp;безопасного переезда вашего сайта без&nbsp;потери драгоценного трафика и&nbsp;высоких позиций в&nbsp;поисковой выдаче.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/0lS3eurRQYeVMArhIe1qxldqRyNrq7iVOgAp1QG3.jpg" loading="lazy" class="case__media--front" alt="SEO при переезде сайта: как не потерять позиции и трафик" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kompleksnyj-seo-audit-sajta-zachem-kogda-i-iz-chego-sostoit" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Комплексный SEO-аудит сайта: зачем, когда и&nbsp;из&nbsp;чего состоит</p>
                          <p data-v-410c06b6="" class="case__subtitle">Успешное SEO-продвижение: почему аудит сайта — необходимость, а&nbsp;не опция.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/Mg3PVvezisXKgUba4CiQdztzYD58HBKyCWMVbcfm.jpg" loading="lazy" class="case__media--front" alt="Комплексный SEO-аудит сайта: зачем, когда и из чего состоит" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/seo-optimizatsiya-internet-magazina" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">SEO-оптимизация интернет-магазина</p>
                          <p data-v-410c06b6="" class="case__subtitle">На&nbsp;что&nbsp;обратить внимание при&nbsp;настройке SEO для&nbsp;интернет-магазина.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/IVipzkWJpI1qytG4Sv3dALRVrlKfOC2lVwXH0T2q.jpg" loading="lazy" class="case__media--front" alt="SEO-оптимизация интернет-магазина" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/etapy-seo-prodvizheniya-sajta" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Этапы SEO-продвижения сайта</p>
                          <p data-v-410c06b6="" class="case__subtitle">Из&nbsp;чего состоит продвижение сайта: ключевые этапы и&nbsp;методы для&nbsp;успеха в&nbsp;SEO.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/lvXTsf67IptFAbuOK0ZnKCEa8CVNotAiIDOnuNEy.jpg" loading="lazy" class="case__media--front" alt="Этапы SEO-продвижения сайта" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/seo-meditsinskih-sajtov" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">SEO медицинских сайтов</p>
                          <p data-v-410c06b6="" class="case__subtitle">Стандарты продвижения медицинских услуг и&nbsp;алгоритм проработки своего сайта.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/ssFPMUTbksRTGtMS59Pr2R2oY0Kr2fJZrcNNllbE.jpg" loading="lazy" class="case__media--front" alt="SEO медицинских сайтов" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-pravilno-pisat-seo-teksty" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;правильно писать SEO-тексты</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем, на&nbsp;что&nbsp;нужно обратить внимание при&nbsp;формировании и&nbsp;написании текста, чтобы он обязательно попал в&nbsp;топ выдачи поисковиков.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/dX3x4ZYwfE3JisKSY2A0IO8fxEbiPzRGIEcjRc4m.jpg" loading="lazy" class="case__media--front" alt="Как правильно писать SEO-тексты" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в&nbsp;нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
