<section class="page-constructor__section korporativnyj-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title kontekstnaya-page__section-heading">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                  >
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-optimizirovat-izobrazheniya-na-sajte" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как оптимизировать изображения на сайте</p>
                          <p data-v-410c06b6="" class="case__subtitle">О влиянии картинок на скорость загрузки сайта, пользовательское поведение и улучшение SEO-показателей.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7ghVzOIfc86UwRPhHBVEW5rCMIn4UmBhKSVJ5JCg.webp" loading="lazy" class="case__media--front" alt="Как оптимизировать изображения на сайте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-oformlyat-stati-na-sajte-tak-chtoby-ih-chitali" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как оформлять статьи на сайте так, чтобы их читали</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем о важных нюансах структуры, SEO-оптимизации и верстки.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7BzTXRHMBYwo8hfBnHANzuwCkMpEE41hcdkWHXzK.webp" loading="lazy" class="case__media--front" alt="Как оформлять статьи на сайте так, чтобы их читали" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-uvelichit-trafik-sajta" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как увеличить трафик сайта?</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как повысить посещаемость сайта в Яндексе и Google: инструменты, которые работают.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/9eHVMlF9O6FJCDlX9qaudoGE8DGJVzJToi7Pm6ll.jpg" loading="lazy" class="case__media--front" alt="Как увеличить трафик сайта?" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-sajta-statyami-ekspertnyj-kontent-kotoryj-rabotaet" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение сайта статьями: экспертный контент, который работает</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как продвигать сайт с помощью статей: критерии качества текста, юзабилити и оптимизация.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/T0t2iRg3ujDBa6tonZBtHr7TE5JFoAj12RWfilI2.jpg" loading="lazy" class="case__media--front" alt="Продвижение сайта статьями: экспертный контент, который работает" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/sozdanie-kontenta-dlya-sajta-bukvy-zvuki-i-tsveta" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Создание контента для сайта: буквы, звуки и цвета</p>
                          <p data-v-410c06b6="" class="case__subtitle">Все про процесс разработки контента для сайта рассказывает наш копирайтер — Илья Полторацкий.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/wUyg5TFiLIL0oZ6XyVreGwcy45LNejWWY0y2CGUk.jpg" loading="lazy" class="case__media--front" alt="Создание контента для сайта: буквы, звуки и цвета" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/etapy-seo-prodvizheniya-sajta" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Этапы SEO-продвижения сайта</p>
                          <p data-v-410c06b6="" class="case__subtitle">Из чего состоит продвижение сайта: ключевые этапы и методы для успеха в SEO.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/lvXTsf67IptFAbuOK0ZnKCEa8CVNotAiIDOnuNEy.jpg" loading="lazy" class="case__media--front" alt="Этапы SEO-продвижения сайта" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/intervyu-serenity-sergei-pruss-samoorganizatsiya" class="case white-text case--resource case-cutted more-blog-case articles life"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                          <span data-v-410c06b6="" class="case__tag">
                            Наша жизнь
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Сергей Прусс о самоорганизации в Serenity</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как «бирюзовый» подход работает в ведении проектов, найме, корпоративной культуре и как влияет на результаты.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/OO0Ifn9wkf0iC5ZrF7O207sn7eI4EcbmerpMG2Qa.jpg" loading="lazy" class="case__media--front" alt="Сергей Прусс о самоорганизации в Serenity" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
