<section class="page-constructor__section uks-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title kontekstnaya-page__section-heading">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Рассказываем про&nbsp;UX, аналитику и&nbsp;улучшение сайта. Делимся подходами к&nbsp;росту конверсии.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide swiper-slide-active" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/rabota-s-auditoriej-konkurentov-cherez-vk-reklamu-parsing-i-sms-kanaly" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Работа с&nbsp;аудиторией конкурентов через&nbsp;VK Рекламу, парсинг и&nbsp;SMS-каналы</p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/HvnbMEsTcvsvxf15HTuhBT6yObhnIQxcfdPP3i6k.webp" loading="lazy" class="case__media--front" alt="Работа с аудиторией конкурентов через VK Рекламу, парсинг и SMS-каналы" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-optimizirovat-izobrazheniya-na-sajte" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;оптимизировать изображения на&nbsp;сайте</p>
                          <p data-v-410c06b6="" class="case__subtitle">О&nbsp;влиянии картинок на&nbsp;скорость загрузки сайта, пользовательское поведение и&nbsp;улучшение SEO-показателей.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7ghVzOIfc86UwRPhHBVEW5rCMIn4UmBhKSVJ5JCg.webp" loading="lazy" class="case__media--front" alt="Как оптимизировать изображения на сайте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-oformlyat-stati-na-sajte-tak-chtoby-ih-chitali" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;оформлять статьи на&nbsp;сайте так, чтобы их читали</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем о&nbsp;важных нюансах структуры, SEO-оптимизации и&nbsp;верстки.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7BzTXRHMBYwo8hfBnHANzuwCkMpEE41hcdkWHXzK.webp" loading="lazy" class="case__media--front" alt="Как оформлять статьи на сайте так, чтобы их читали" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/produktovyj-ux-analiz-kak-nahodit-tochki-poteri-konversii-i-prevrashhat-trafik-v-prodazhi" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продуктовый UX-анализ: как&nbsp;находить точки потери конверсии и&nbsp;превращать трафик в&nbsp;продажи</p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/Zb86uL90gVnahODsBbhi8leq61P28cxq6bA4HD7Y.webp" loading="lazy" class="case__media--front" alt="Продуктовый UX-анализ: как находить точки потери конверсии и превращать трафик в продажи" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/produktovaya-analitika-cherez-glubinnye-ux-ui-intervyu" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продуктовая аналитика через&nbsp;глубинные UX/UI-интервью</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;бизнесу находить точки роста, повышать конверсию и&nbsp;ускорять принятие решений.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/FpLmTDkCl8sbTQbahDAe9sbcOHCkBjVBWjp7DfLU.webp" loading="lazy" class="case__media--front" alt="Продуктовая аналитика через глубинные UX/UI-интервью" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-uvelichit-trafik-sajta" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;увеличить трафик сайта?</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;повысить посещаемость сайта в&nbsp;Яндексе и&nbsp;Google: инструменты, которые работают.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/9eHVMlF9O6FJCDlX9qaudoGE8DGJVzJToi7Pm6ll.jpg" loading="lazy" class="case__media--front" alt="Как увеличить трафик сайта?" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/unisender-tsennost-brenda-cherez-produktovyj-podhod" class="case white-text case--resource case-cutted more-blog-case articles podcast"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Подкаст
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Unisender: ценность бренда через&nbsp;продуктовый подход</p>
                          <p data-v-410c06b6="" class="case__subtitle">8 выпуск, «Мышеловка» — подкаст, в&nbsp;котором мы общаемся с&nbsp;топовыми предпринимателями и&nbsp;маркетологами о&nbsp;том, как&nbsp;делать крутой маркетинг.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/4OKhXLGFMWItU2VRf6DzRBpsRvOlEQ8SCFSU38WA.jpg" loading="lazy" class="case__media--front" alt="Unisender: ценность бренда через продуктовый подход" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-sozdat-kachestvennyj-tekst-dlya-sajta-prakticheskoe-rukovodstvo" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;создать качественный текст для&nbsp;сайта: практическое руководство</p>
                          <p data-v-410c06b6="" class="case__subtitle">Ключевые аспекты создания успешного контента для&nbsp;вашего сайта.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/neYl4zQ41JcMmkTEGRM3ozTS1WNpz0jKYf9llilJ.jpg" loading="lazy" class="case__media--front" alt="Как создать качественный текст для сайта: практическое руководство" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-sajta-statyami-ekspertnyj-kontent-kotoryj-rabotaet" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение сайта статьями: экспертный контент, который работает</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;продвигать сайт с&nbsp;помощью статей: критерии качества текста, юзабилити и&nbsp;оптимизация.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/T0t2iRg3ujDBa6tonZBtHr7TE5JFoAj12RWfilI2.jpg" loading="lazy" class="case__media--front" alt="Продвижение сайта статьями: экспертный контент, который работает" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kontent-dlya-sajta-strategiya-i-prakticheskie-sovety-ot-serenity" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Контент для&nbsp;сайта: стратегия и&nbsp;практические советы от&nbsp;Serenity</p>
                          <p data-v-410c06b6="" class="case__subtitle">Меня зовут Валерия Леонова, я&nbsp;тимлид контента в&nbsp;компании Serenity. Сегодня хочу поделиться нашим подходом к&nbsp;ведению блогов клиентов.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/bly8NePBhtnJJIWkkV0Hwvgo2HSuByfuQq3Obdub.jpg" loading="lazy" class="case__media--front" alt="Контент для сайта: стратегия и практические советы от Serenity" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в&nbsp;нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
