<section class="page-constructor__section lending-tilda-blog-section korporativnyj-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title kontekstnaya-page__section-heading">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся опытом создания лендингов: конверсия, тексты, дизайн, Tilda и&nbsp;измеримый результат для&nbsp;бизнеса.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide swiper-slide-active" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/produktovyj-ux-analiz-kak-nahodit-tochki-poteri-konversii-i-prevrashhat-trafik-v-prodazhi" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продуктовый UX-анализ: как&nbsp;находить точки потери конверсии и&nbsp;превращать трафик в&nbsp;продажи</p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/Zb86uL90gVnahODsBbhi8leq61P28cxq6bA4HD7Y.webp" loading="lazy" class="case__media--front" alt="Продуктовый UX-анализ: как находить точки потери конверсии и превращать трафик в продажи" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-oformlyat-stati-na-sajte-tak-chtoby-ih-chitali" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;оформлять статьи на&nbsp;сайте так, чтобы их читали</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем о&nbsp;важных нюансах структуры, SEO-оптимизации и&nbsp;верстки.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7BzTXRHMBYwo8hfBnHANzuwCkMpEE41hcdkWHXzK.webp" loading="lazy" class="case__media--front" alt="Как оформлять статьи на сайте так, чтобы их читали" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kontent-dlya-sajta-strategiya-i-prakticheskie-sovety-ot-serenity" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Контент для&nbsp;сайта: стратегия и&nbsp;практические советы от&nbsp;Serenity</p>
                          <p data-v-410c06b6="" class="case__subtitle">Меня зовут Валерия Леонова, я&nbsp;тимлид контента в&nbsp;компании Serenity. Сегодня хочу поделиться нашим подходом к&nbsp;ведению блогов клиентов.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/bly8NePBhtnJJIWkkV0Hwvgo2HSuByfuQq3Obdub.jpg" loading="lazy" class="case__media--front" alt="Контент для сайта: стратегия и практические советы от Serenity" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-sozdat-kachestvennyj-tekst-dlya-sajta-prakticheskoe-rukovodstvo" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;создать качественный текст для&nbsp;сайта: практическое руководство</p>
                          <p data-v-410c06b6="" class="case__subtitle">Ключевые аспекты создания успешного контента для&nbsp;вашего сайта.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/neYl4zQ41JcMmkTEGRM3ozTS1WNpz0jKYf9llilJ.jpg" loading="lazy" class="case__media--front" alt="Как создать качественный текст для сайта: практическое руководство" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/etapy-seo-prodvizheniya-sajta" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Этапы SEO-продвижения сайта</p>
                          <p data-v-410c06b6="" class="case__subtitle">Из&nbsp;чего состоит продвижение сайта: ключевые этапы и&nbsp;методы для&nbsp;успеха в&nbsp;SEO.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/lvXTsf67IptFAbuOK0ZnKCEa8CVNotAiIDOnuNEy.jpg" loading="lazy" class="case__media--front" alt="Этапы SEO-продвижения сайта" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-optimizirovat-izobrazheniya-na-sajte" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;оптимизировать изображения на&nbsp;сайте</p>
                          <p data-v-410c06b6="" class="case__subtitle">О&nbsp;влиянии картинок на&nbsp;скорость загрузки сайта, пользовательское поведение и&nbsp;улучшение SEO-показателей.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/7ghVzOIfc86UwRPhHBVEW5rCMIn4UmBhKSVJ5JCg.webp" loading="lazy" class="case__media--front" alt="Как оптимизировать изображения на сайте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/rabotaem-nad-uluchsheniem-chitaemosti-teksta-na-sajte" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Работаем над&nbsp;улучшением читаемости текста на&nbsp;сайте</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;создавать качественный контент, который будут видеть и&nbsp;люди, и&nbsp;поисковые системы.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/VOrXJOhwZVB1cQqcLWn4JvalilRZMYZSt9Uv49Pb.jpg" loading="lazy" class="case__media--front" alt="Работаем над улучшением читаемости текста на сайте" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-sajta-statyami-ekspertnyj-kontent-kotoryj-rabotaet" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение сайта статьями: экспертный контент, который работает</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;продвигать сайт с&nbsp;помощью статей: критерии качества текста, юзабилити и&nbsp;оптимизация.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/T0t2iRg3ujDBa6tonZBtHr7TE5JFoAj12RWfilI2.jpg" loading="lazy" class="case__media--front" alt="Продвижение сайта статьями: экспертный контент, который работает" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kompleksnyj-seo-audit-sajta-zachem-kogda-i-iz-chego-sostoit" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Комплексный SEO-аудит сайта: зачем, когда и&nbsp;из&nbsp;чего состоит</p>
                          <p data-v-410c06b6="" class="case__subtitle">Успешное SEO-продвижение: почему аудит сайта — необходимость, а&nbsp;не опция.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/Mg3PVvezisXKgUba4CiQdztzYD58HBKyCWMVbcfm.jpg" loading="lazy" class="case__media--front" alt="Комплексный SEO-аудит сайта: зачем, когда и из чего состоит" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-na-yandex-kartah-dlya-biznesa" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение на&nbsp;Яндекс Картах для&nbsp;бизнеса: звонки, маршруты и&nbsp;заявки</p>
                          <p data-v-410c06b6="" class="case__subtitle">Разбираем, кому подходит продвижение на&nbsp;Яндекс Картах, как&nbsp;оно работает, какие форматы рекламы доступны и&nbsp;как&nbsp;бизнесу оценивать результат по&nbsp;звонкам, маршрутам и&nbsp;заявкам.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/prodvizhenie-na-yandex-kartah-dlya-biznesa/card.webp?v=20260615orig" loading="lazy" class="case__media--front" alt="Продвижение на Яндекс Картах для бизнеса: звонки, маршруты и заявки" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в&nbsp;нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
