<section class="page-constructor__section strategy-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о&nbsp;маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide swiper-slide-active" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/rabota-s-auditoriej-konkurentov-cherez-vk-reklamu-parsing-i-sms-kanaly" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Работа с&nbsp;аудиторией конкурентов через&nbsp;VK Рекламу, парсинг и&nbsp;SMS-каналы</p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/HvnbMEsTcvsvxf15HTuhBT6yObhnIQxcfdPP3i6k.webp" loading="lazy" class="case__media--front" alt="Работа с аудиторией конкурентов через VK Рекламу, парсинг и SMS-каналы" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-rabotaet-targetirovannaya-reklama-v-telegram-sekrety-uspeha" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;работает таргетированная реклама в&nbsp;телеграм: секреты успеха</p>
                          <p data-v-410c06b6="" class="case__subtitle">Таргетированная реклама в&nbsp;Telegram: ключевые аспекты и&nbsp;полезные советы.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/kgFdVih8krC1uO29Az5RdIEzQxcvZsIZjU7Hdr8t.jpg" loading="lazy" class="case__media--front" alt="Как работает таргетированная реклама в телеграм: секреты успеха" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kontent-dlya-sajta-strategiya-i-prakticheskie-sovety-ot-serenity" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Контент для&nbsp;сайта: стратегия и&nbsp;практические советы от&nbsp;Serenity</p>
                          <p data-v-410c06b6="" class="case__subtitle">Меня зовут Валерия Леонова, я&nbsp;тимлид контента в&nbsp;компании Serenity. Сегодня хочу поделиться нашим подходом к&nbsp;ведению блогов клиентов.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/bly8NePBhtnJJIWkkV0Hwvgo2HSuByfuQq3Obdub.jpg" loading="lazy" class="case__media--front" alt="Контент для сайта: стратегия и практические советы от Serenity" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/seo-pri-pereezde-sajta-kak-ne-poteryat-pozitsii-i-trafik" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">SEO при&nbsp;переезде сайта: как&nbsp;не потерять позиции и&nbsp;трафик</p>
                          <p data-v-410c06b6="" class="case__subtitle">SEO-переезд сайта — советы и&nbsp;стратегии для&nbsp;безопасного переезда вашего сайта без&nbsp;потери драгоценного трафика и&nbsp;высоких позиций в&nbsp;поисковой выдаче.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/0lS3eurRQYeVMArhIe1qxldqRyNrq7iVOgAp1QG3.jpg" loading="lazy" class="case__media--front" alt="SEO при переезде сайта: как не потерять позиции и трафик" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-brenda-v-telegram" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение и&nbsp;развитие бренда в&nbsp;Telegram</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем, как&nbsp;разработать стратегию и&nbsp;привлечь аудиторию в&nbsp;телеграм-канал.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/j5WZN26AZK96bjdB9UUKEeMH3rb2veqEGlTYE0WK.jpg" loading="lazy" class="case__media--front" alt="Продвижение и развитие бренда в Telegram" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/rebrending-redizajn-i-restajling" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Ребрендинг, редизайн и&nbsp;рестайлинг</p>
                          <p data-v-410c06b6="" class="case__subtitle">Что&nbsp;делать бизнесу, если захотелось обновление фирменного стиля?</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/IT3MrGLr0nEUJrqagghdTzBVd9if7vfKsWMOStM5.jpg" loading="lazy" class="case__media--front" alt="Ребрендинг, редизайн и рестайлинг" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kross-marketing-populyarnost-na-peresechenii-usilij" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Кросс-маркетинг: популярность на&nbsp;пересечении усилий</p>
                          <p data-v-410c06b6="" class="case__subtitle">Своя стратегия хорошо, а&nbsp;совместная — лучше. Рассказываем, как&nbsp;найти компанию-партнера.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/xWHkMBZuxBd6uSqfF8I2aqAZSmKTjboLLFXrl0Hn.jpg" loading="lazy" class="case__media--front" alt="Кросс-маркетинг: популярность на пересечении усилий" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/effektivnoe-prodvizhenie-kak-rabotaet-strategiya" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Эффективное продвижение: как&nbsp;работает стратегия</p>
                          <p data-v-410c06b6="" class="case__subtitle">И&nbsp;какие преимущества предлагает бизнесу.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/YT7NPKwl84fJGF4YjCiDYjX9uqT77JNvRaVoBYDn.jpg" loading="lazy" class="case__media--front" alt="Эффективное продвижение: как работает стратегия" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/strategiya-v-targete-5-shagov-k-zapusku-reklamnoj-kampanii" class="case white-text case--resource case-cutted more-blog-case articles case"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span>
                          <span data-v-410c06b6="" class="case__tag">
                            Кейсы
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Стратегия в&nbsp;таргете: 5 шагов к&nbsp;запуску рекламной кампании</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказывает Олег Дробыш — лидер направления «Таргет».</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/rh1u7ZQWjB09Uk4SDRGgSBgKgjFSAj7MYwwXioqa.jpg" loading="lazy" class="case__media--front" alt="Стратегия в таргете: 5 шагов к запуску рекламной кампании" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/ekspress-instruktsiya-kak-ne-slit-reklamnyj-byudzhet" class="case white-text case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Экспресс-инструкция, как&nbsp;не слить рекламный бюджет</p>
                          <p data-v-410c06b6="" class="case__subtitle">Обычно, если нас спрашивают, как&nbsp;сделать так, чтобы реклама работала и&nbsp;приносила прибыль, мы отвечаем: начать с&nbsp;digital-стратегии. Но&nbsp;бывает не до&nbsp;того: нет времени, нужно срочно запустить контекст или&nbsp;купить рекламу у&nbsp;инфлюенсера. Наш лидер направления стратегии Екатерина Русакова рекомендует, что&nbsp;проверить до&nbsp;запуска, чтобы не потратить деньги впустую.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/ekspress-instruktsiya-kak-ne-slit-reklamnyj-byudzhet/Statya-oblozhka-2-1-1-1-1.png" loading="lazy" class="case__media--front" alt="Экспресс-инструкция, как не слить рекламный бюджет" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в&nbsp;нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
