<section class="page-constructor__section pr-blog-section korporativnyj-blog-section">
<div data-v-6f8a040c="" style="z-index: 10">
              <div
                data-v-25bf775d=""
                data-v-6f8a040c=""
                class="component-block blog-block-mainstr isNewContent"
              >
                <div data-v-56f85d51="" class="services__text home-ledge home-between">
                  <h2 data-v-56f85d51="" class="services__title kontekstnaya-page__section-heading">Блог</h2>
                  <p data-v-56f85d51="" class="services__description">
                    Делимся стратегиями. Рассказываем о&nbsp;маркетинговых
                    инструментах. Раскрываем секреты внутренней кухни.
                  </p>
                </div>
                <div
                  data-v-25bf775d=""
                  class="swiper-container blog-block__swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode"
                >
                  <div
                    data-v-25bf775d=""
                    class="swiper-wrapper"
                    style="transform: translate3d(0px, 0px, 0px)"
                  >
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide swiper-slide-active" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-brenda-v-telegram" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение и&nbsp;развитие бренда в&nbsp;Telegram</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем, как&nbsp;разработать стратегию и&nbsp;привлечь аудиторию в&nbsp;телеграм-канал.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/j5WZN26AZK96bjdB9UUKEeMH3rb2veqEGlTYE0WK.jpg" loading="lazy" class="case__media--front" alt="Продвижение и развитие бренда в Telegram" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-pridumat-nazvanie-brenda" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;придумать название бренда</p>
                          <p data-v-410c06b6="" class="case__subtitle">Рассказываем, зачем нужен нейминг и&nbsp;как&nbsp;мы подходим к&nbsp;его созданию.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/BcWgtbhrbCbVcjQOwqqD1do3OryaFhHsnx9IqPu7.jpg" loading="lazy" class="case__media--front" alt="Как придумать название бренда" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/unisender-tsennost-brenda-cherez-produktovyj-podhod" class="case white-text case--resource case-cutted more-blog-case articles podcast"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Подкаст
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Unisender: ценность бренда через&nbsp;продуктовый подход</p>
                          <p data-v-410c06b6="" class="case__subtitle">8 выпуск, «Мышеловка» — подкаст, в&nbsp;котором мы общаемся с&nbsp;топовыми предпринимателями и&nbsp;маркетологами о&nbsp;том, как&nbsp;делать крутой маркетинг.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/4OKhXLGFMWItU2VRf6DzRBpsRvOlEQ8SCFSU38WA.jpg" loading="lazy" class="case__media--front" alt="Unisender: ценность бренда через продуктовый подход" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/effektivnoe-prodvizhenie-kak-rabotaet-strategiya" class="case dark-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Эффективное продвижение: как&nbsp;работает стратегия</p>
                          <p data-v-410c06b6="" class="case__subtitle">И&nbsp;какие преимущества предлагает бизнесу.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/YT7NPKwl84fJGF4YjCiDYjX9uqT77JNvRaVoBYDn.jpg" loading="lazy" class="case__media--front" alt="Эффективное продвижение: как работает стратегия" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kontent-dlya-sajta-strategiya-i-prakticheskie-sovety-ot-serenity" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Контент для&nbsp;сайта: стратегия и&nbsp;практические советы от&nbsp;Serenity</p>
                          <p data-v-410c06b6="" class="case__subtitle">Меня зовут Валерия Леонова, я&nbsp;тимлид контента в&nbsp;компании Serenity. Сегодня хочу поделиться нашим подходом к&nbsp;ведению блогов клиентов.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/bly8NePBhtnJJIWkkV0Hwvgo2HSuByfuQq3Obdub.jpg" loading="lazy" class="case__media--front" alt="Контент для сайта: стратегия и практические советы от Serenity" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/prodvizhenie-sajta-statyami-ekspertnyj-kontent-kotoryj-rabotaet" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Продвижение сайта статьями: экспертный контент, который работает</p>
                          <p data-v-410c06b6="" class="case__subtitle">Как&nbsp;продвигать сайт с&nbsp;помощью статей: критерии качества текста, юзабилити и&nbsp;оптимизация.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/T0t2iRg3ujDBa6tonZBtHr7TE5JFoAj12RWfilI2.jpg" loading="lazy" class="case__media--front" alt="Продвижение сайта статьями: экспертный контент, который работает" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-sozdat-kachestvennyj-tekst-dlya-sajta-prakticheskoe-rukovodstvo" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;создать качественный текст для&nbsp;сайта: практическое руководство</p>
                          <p data-v-410c06b6="" class="case__subtitle">Ключевые аспекты создания успешного контента для&nbsp;вашего сайта.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/neYl4zQ41JcMmkTEGRM3ozTS1WNpz0jKYf9llilJ.jpg" loading="lazy" class="case__media--front" alt="Как создать качественный текст для сайта: практическое руководство" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/etapy-seo-prodvizheniya-sajta" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Этапы SEO-продвижения сайта</p>
                          <p data-v-410c06b6="" class="case__subtitle">Из&nbsp;чего состоит продвижение сайта: ключевые этапы и&nbsp;методы для&nbsp;успеха в&nbsp;SEO.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/lvXTsf67IptFAbuOK0ZnKCEa8CVNotAiIDOnuNEy.jpg" loading="lazy" class="case__media--front" alt="Этапы SEO-продвижения сайта" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kompleksnyj-seo-audit-sajta-zachem-kogda-i-iz-chego-sostoit" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Комплексный SEO-аудит сайта: зачем, когда и&nbsp;из&nbsp;чего состоит</p>
                          <p data-v-410c06b6="" class="case__subtitle">Успешное SEO-продвижение: почему аудит сайта — необходимость, а&nbsp;не опция.</p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/Mg3PVvezisXKgUba4CiQdztzYD58HBKyCWMVbcfm.jpg" loading="lazy" class="case__media--front" alt="Комплексный SEO-аудит сайта: зачем, когда и из чего состоит" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
                    <div data-v-25bf775d="" class="swiper-slide blog-block__content-box-slide" style="margin-right: 30px">
                      <a data-v-410c06b6="" data-v-25bf775d="" href="/blog/article/kak-privlekat-auditoriyu-konkurentov-cherez-yandeks-direkt" class="case white-text case--resource case-cutted more-blog-case articles"
                        ><div data-v-410c06b6="" class="case__tags"><span data-v-410c06b6="" class="case__tag">
                            Статьи
                          </span></div>
                        <div data-v-410c06b6="" class="case__top">
                          <p data-v-410c06b6="" class="case__description case__description--static">Как&nbsp;привлекать аудиторию конкурентов через&nbsp;Яндекс Директ</p>
                          <p data-v-410c06b6="" class="case__subtitle"></p>
                        </div>
                        <div data-v-410c06b6="" class="case__media zoom">
                          <img fetchpriority="low" decoding="async" data-v-410c06b6="" src="/_sa/img/blog/J0EX1CGpblUqb2f2bhGaKSnVK6Zmmf0gSiHSDksY.webp" loading="lazy" class="case__media--front" alt="Как привлекать аудиторию конкурентов через Яндекс Директ" />
                        </div>
                        <div data-v-410c06b6="" class="blur"></div
                      ></a>
                    </div>
<div
                      data-v-25bf775d=""
                      class="swiper-slide"
                      style="margin-right: 30px"
                    >
                      <a
                        data-v-25bf775d=""
                        href="/blog"
                        class="blog-box blog-box__last"
                        ><p data-v-25bf775d="" class="blog-box__title">
                          Больше материалов читайте в&nbsp;нашем блоге
                        </p>
                        <img fetchpriority="low" decoding="async"
                          data-v-25bf775d=""
                          src="/_sa/img/video__lastBlogGif.gif"
                          loop="loop"
                          playsinline=""
                          loading="lazy"  alt="" />
                        <div data-v-25bf775d="" class="last-case__bg"></div
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
