<!-- STRATEGY-HERO-START -->
<section class="page-constructor__section strategy-hero-section">
  <div class="c-title-block modern">
    <header class="c-title-block__header">
      <h1 class="c-title-block__title">Маркетинговая стратегия</h1>
      <h4 class="c-title-block__subtitle">Проектируем комплексную систему маркетинга для&nbsp;эффективного развития бренда и&nbsp;продуктов.</h4>
    </header>
    <div class="case-slider__wrapper case-slider__margin-fix">
      <div class="case-slider">
        <div class="case-slider__arrows" style="display: none;">
          <div class="case-slider__prev"></div>
          <div class="case-slider__next"></div>
        </div>
        <div class="case-slider__pagination" style="display: none;">
          <div class="case-slider__pagination-item case-slider__pagination-item--active"></div>
        </div>
        <div class="slide-wrapper">
          <div class="case-slider-slide case-slider-slide--disable-shadows" style="transform: translateX(0%); opacity: 1;">
            <div class="case-slider-slide__content">
              <div class="case-slider-slide__media">
                <div>
                  <img
                    src="/_sa/img/services/strategy/hero.webp"
                    alt="Маркетинговая стратегия - img 1"
                    width="1812"
                    height="1030"
                    loading="eager"
                    fetchpriority="high"
                    decoding="async"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-HERO-END -->
