<!-- UKS-HERO-START -->
<section class="page-constructor__section">
  <div class="c-title-block modern">
    <div>
      <div class="header-full header-background desctop" style="background-image: url(&quot;/_sa/img/services/uvelichenie-konversii-saita/hero.webp&quot;);">
        <div class="jumbotron">
          <h1 class="jumbotron-img-aurora__title">Увеличение конверсии сайта</h1>
          <h4 class="jumbotron-img-aurora__subtitle" style="text-align: center;">Подключаемся как продуктовая команда внутри вашего бизнеса: усиливаем сайт, повышаем конверсию и&nbsp;берём на&nbsp;себя весь продуктовый цикл.</h4>
        </div>
      </div>
      <div class="header-full header-background mobile" style="background-image:url(/_sa/img/services/uvelichenie-konversii-saita/hero.webp);">
        <div class="jumbotron">
          <h1 class="jumbotron-img-aurora__title">Увеличение конверсии сайта</h1>
          <h4 class="jumbotron-img-aurora__subtitle" style="text-align: center;">Подключаемся как продуктовая команда внутри вашего бизнеса: усиливаем сайт, повышаем конверсию и&nbsp;берём на&nbsp;себя весь продуктовый цикл.</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- UKS-HERO-END -->
