<!-- KOMPLEKSNOYE-APPROACH-ANALYTICS-START -->
<section class="page-constructor__section kompleksnoye-approach-step-block kompleksnoye-approach-analytics-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">2</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Аналитика</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Анализируем рекламные кампании от&nbsp;первого взаимодействия до&nbsp;обращения&nbsp;— используем коллтрекеры и&nbsp;системы сквозной аналитики&nbsp;— Calltouch, SmartAnalytics, чтобы отслеживать эффективность каждого канала и&nbsp;рекламной кампании. Точные данные помогают специалистам агентства оптимизировать рекламные бюджеты и&nbsp;приводить только качественные обращения.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- KOMPLEKSNOYE-APPROACH-ANALYTICS-END -->
