<!-- KOMPLEKSNOYE-CREATIVE-DIAGRAM-START -->
<section class="page-constructor__section kompleksnoye-creative-diagram-section">
  <div class="movies-block">
    <div class="page__container">
      <div class="swiper">
        <div class="">
          <div class="">
            <img
              src="/_sa/img/services/kompleksnoye-prodvizheniye/creative-diagram/creative-diagram.webp"
              alt="Рекламный креатив: текстовый и визуальный контент для каналов продвижения"
              width="1812"
              height="1024"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--none"></div>
      </div>
    </div>
  </div>
</section>
<!-- KOMPLEKSNOYE-CREATIVE-DIAGRAM-END -->
