<!-- KOMPLEKSNOYE-CHANNELS-START -->
<section class="page-constructor__section kompleksnoye-channels-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Синергия каналов</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks kompleksnoye-channels-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/seo">SEO</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Улучшаем видимость сайта в&nbsp;поисковых системах Яндекс и&nbsp;Google за&nbsp;счет оптимизации контента и&nbsp;технических аспектов сайта.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">E-mail маркетинг</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Разрабатываем, настраиваем и&nbsp;рассылаем целевые e-mail кампании, направленные на&nbsp;привлечение клиентов, повышение их&nbsp;лояльности и&nbsp;стимулирование продаж.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/content">Контент-маркетинг</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Создаем полезный и&nbsp;увлекательный контент: статьи, блоги, видео, инфографику и&nbsp;другие форматы, чтобы привлечь и&nbsp;удержать целевую аудиторию.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/kontekstnaya_reklama">PPC/pay-per-click реклама</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Размещаем платные рекламные объявления на&nbsp;популярных платформах, таких как Google Ads и&nbsp;Яндекс Директ, чтобы привлечь больше трафика на&nbsp;ваш сайт и&nbsp;увеличить количество конверсий.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/smm_marketing">Социальные сети</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Используем различные платформы: Vk, Facebook, Instagram (запрещен в&nbsp;РФ), LinkedIn, для&nbsp;поддержания связи с&nbsp;вашей аудиторией, повышения узнаваемости бренда и&nbsp;привлечения новых клиентов.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/end-to-end-analytics">Аналитика и отчетность</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Отслеживаем и&nbsp;анализируем результаты кампаний, чтобы определить, что работает, а&nbsp;что нет, и&nbsp;вносим необходимые корректировки для&nbsp;достижения задач бизнеса.</p>
            <!---->
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks kompleksnoye-channels-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/seo">SEO</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Улучшаем видимость сайта в&nbsp;поисковых системах Яндекс и&nbsp;Google за&nbsp;счет оптимизации контента и&nbsp;технических аспектов сайта.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">E-mail маркетинг</h3>
            <p data-v-4ed7dc78="" class="block__description">Разрабатываем, настраиваем и&nbsp;рассылаем целевые e-mail кампании, направленные на&nbsp;привлечение клиентов, повышение их&nbsp;лояльности и&nbsp;стимулирование продаж.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/content">Контент-маркетинг</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Создаем полезный и&nbsp;увлекательный контент: статьи, блоги, видео, инфографику и&nbsp;другие форматы, чтобы привлечь и&nbsp;удержать целевую аудиторию.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/kontekstnaya_reklama">PPC/pay-per-click реклама</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Размещаем платные рекламные объявления на&nbsp;популярных платформах, таких как Google Ads и&nbsp;Яндекс Директ, чтобы привлечь больше трафика на&nbsp;ваш сайт и&nbsp;увеличить количество конверсий.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/smm_marketing">Социальные сети</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Используем различные платформы: Vk, Facebook, Instagram (запрещен в&nbsp;РФ), LinkedIn, для&nbsp;поддержания связи с&nbsp;вашей аудиторией, повышения узнаваемости бренда и&nbsp;привлечения новых клиентов.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/end-to-end-analytics">Аналитика и отчетность</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Отслеживаем и&nbsp;анализируем результаты кампаний, чтобы определить, что работает, а&nbsp;что нет, и&nbsp;вносим необходимые корректировки для&nbsp;достижения задач бизнеса.</p>
            <!---->
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</section>
<!-- KOMPLEKSNOYE-CHANNELS-END -->
