<!-- KOMPLEKSNOYE-CHANNELS-USED-START -->
<section class="page-constructor__section kompleksnoye-channels-used-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Какие каналы используем</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Каналы продвижения&nbsp;— это ресурсы и&nbsp;площадки для&nbsp;коммуникаций с&nbsp;аудиторией в&nbsp;разных форматах: реклама и&nbsp;<a href="/seo" class="kompleksnoye-text-link">органическая выдача в&nbsp;поисковиках</a>, популярные медийные и&nbsp;социальные сети.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks kompleksnoye-channels-used-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/kontekstnaya_reklama">Контекстная реклама</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Позволяет привлечь на&nbsp;ваш сайт максимально целевую аудиторию, интересующуюся конкретными моделями/брендами/категориями товаров в&nbsp;поисковиках Яндекс, Google. А&nbsp;также вернуть на&nbsp;сайт пользователей, не&nbsp;завершивших процесс покупки или для&nbsp;повторных продаж.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/seo">SEO-оптимизация</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Помогает целевой аудитории находить ваши продукты и&nbsp;услуги в&nbsp;поисковиках, чтобы купить их. Улучшается ранжирование сайта, и&nbsp;повышается целевой трафик. Как&nbsp;следствие, увеличивается количество заявок и&nbsp;покупок с&nbsp;сайта.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Торговые площадки</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Позволяют охватить аудиторию, которая ищет конкретные модели/бренды товаров на&nbsp;товарных агрегаторах. Чаще всего такая аудитория очень заинтересована в&nbsp;покупке.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/targeting">Таргетированная реклама</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Помогает приводить качественные обращения. Для&nbsp;новых продуктов помогает сформировать спрос и&nbsp;донести до&nbsp;целевой аудитории информацию о&nbsp;горячих скидках, акциях, распродажах и&nbsp;выгодных условиях через соцсети. А&nbsp;также сформировать спрос, если ваш продукт неизвестен.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/end-to-end-analytics">Аналитика</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Позволяет определить наиболее рентабельные источники обращений. А&nbsp;также передать эти данные в&nbsp;CRM для&nbsp;аналитики продаж и&nbsp;в&nbsp;системы оптимизации конверсий для&nbsp;снижения стоимости заявки.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/pr">PR и&nbsp;медиа</a></h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Сотрудничаем с&nbsp;прессой и&nbsp;медиа-платформами, чтобы создавать и&nbsp;поддерживать позитивный имидж бренда. Повышаем узнаваемость и&nbsp;доверие к&nbsp;вашему бренду через качественные публикации, интервью и&nbsp;медийное освещение.</p>
            <!---->
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks kompleksnoye-channels-used-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/kontekstnaya_reklama">Контекстная реклама</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Позволяет привлечь на&nbsp;ваш сайт максимально целевую аудиторию, интересующуюся конкретными моделями/брендами/категориями товаров в&nbsp;поисковиках Яндекс, Google. А&nbsp;также вернуть на&nbsp;сайт пользователей, не&nbsp;завершивших процесс покупки или для&nbsp;повторных продаж.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/targeting">Таргетированная реклама</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Помогает приводить качественные обращения. Для&nbsp;новых продуктов помогает сформировать спрос и&nbsp;донести до&nbsp;целевой аудитории информацию о&nbsp;горячих скидках, акциях, распродажах и&nbsp;выгодных условиях через соцсети. А&nbsp;также сформировать спрос, если ваш продукт неизвестен.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/seo">SEO-оптимизация</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Помогает целевой аудитории находить ваши продукты и&nbsp;услуги в&nbsp;поисковиках, чтобы купить их. Улучшается ранжирование сайта, и&nbsp;повышается целевой трафик. Как&nbsp;следствие, увеличивается количество заявок и&nbsp;покупок с&nbsp;сайта.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/end-to-end-analytics">Аналитика</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Позволяет определить наиболее рентабельные источники обращений. А&nbsp;также передать эти данные в&nbsp;CRM для&nbsp;аналитики продаж и&nbsp;в&nbsp;системы оптимизации конверсий для&nbsp;снижения стоимости заявки.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Торговые площадки</h3>
            <p data-v-4ed7dc78="" class="block__description">Позволяют охватить аудиторию, которая ищет конкретные модели/бренды товаров на&nbsp;товарных агрегаторах. Чаще всего такая аудитория очень заинтересована в&nbsp;покупке.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name"><a class="kompleksnoye-text-link" href="/pr">PR и&nbsp;медиа</a></h3>
            <p data-v-4ed7dc78="" class="block__description">Сотрудничаем с&nbsp;прессой и&nbsp;медиа-платформами, чтобы создавать и&nbsp;поддерживать позитивный имидж бренда. Повышаем узнаваемость и&nbsp;доверие к&nbsp;вашему бренду через качественные публикации, интервью и&nbsp;медийное освещение.</p>
            <!---->
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</section>
<!-- KOMPLEKSNOYE-CHANNELS-USED-END -->
