<!-- KOMPLEKSNOYE-APPROACH-START -->
<section class="page-constructor__section kompleksnoye-approach-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Наш подход</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Как показывает опыт нашего агентства, для&nbsp;успешного продвижения бизнеса необходима комплексная работа, включающая анализ, оптимизацию и&nbsp;качественный рекламный креатив.</p>
          </div>
        </div>
      </div>
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">1</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Комплексная работа</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Работаем с&nbsp;контекстной и&nbsp;таргетинговой рекламой, SEO-оптимизацией, торговыми площадками.</p>
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Тестируем различные рекламные каналы. Это позволяет увеличить охват и&nbsp;понять, откуда можно привлекать максимально целевые заявки.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- KOMPLEKSNOYE-APPROACH-END -->
