<div data-v-bd2e570a="" class="swiper-slide cases-block__swiper-slide swiper-slide-s7nwt cases-block__swiper-slide--minisklad">
  <div
    data-v-bd2e570a=""
    class="background"
    style="background-image: url(&quot;/_sa/img/services/prodvizhenie-yandex-karty-2gis/minisklad-slide-photo.webp&quot;);"
  ></div>
  <div
    data-v-bd2e570a=""
    class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
  >
    <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
  </div>
  <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
    <div data-v-bd2e570a="" class="old">
      <img
        data-v-bd2e570a=""
        src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/minisklad-slide-photo.webp"
        alt="Склад Минисклад с коробками на стеллажах"
        loading="lazy"
        class="cases-block__swiper-slide-contant-image"
      />
    </div>
  </div>
  <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
    <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
      <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big">
        Минисклад
      </h3>
      <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
        Увеличили количество обращений и&nbsp;масштабировали привлечение клиентов для&nbsp;сервиса хранения вещей.
      </p>
    </div>
    <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
      <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
        Увеличили количество обращений в&nbsp;4 раза и&nbsp;сделали контекстную рекламу основным источником новых
        клиентов для&nbsp;сервиса хранения вещей.
      </p>
      <a
        data-v-7f5f1051=""
        data-v-bd2e570a=""
        href="/case/all/minisklad"
        class="buttonlink cases-block__swiper-slide-button"
        ><div data-v-7f5f1051="" class="buttonlink__content"
          ><div data-v-bd2e570a="" data-v-7f5f1051="">
            Смотреть кейс
            <svg
              data-v-bd2e570a=""
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="13"
              viewBox="0 0 16 13"
              fill="none"
              data-v-7f5f1051=""
              aria-hidden="true"
              ><path
                d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path></svg></div></div>
        <div data-v-7f5f1051="" class="buttonlink__backplate"></div
      ></a>
    </div>
  </div>
</div>
