<!-- KORPORATIVNYJ-CMS-BLOCK-START -->
<section class="page-constructor__section korporativnyj-cms-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Корпоративный сайт на&nbsp;CMS: варианты и&nbsp;выбор</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Выбор CMS всегда исходит из&nbsp;бизнес-задач клиента. При подборе решения мы ориентируемся на&nbsp;несколько ключевых критериев, которые позволяют обеспечить удобство работы с&nbsp;сайтом, его дальнейшее развитие и&nbsp;поддержку. Под эти требования чаще всего подходят 1С-Битрикс: Управление сайтом и&nbsp;WordPress, но&nbsp;мы всегда готовы обсудить и&nbsp;другие CMS, если есть заданные вводные, в&nbsp;том числе разработку кастомной CMS под&nbsp;ваши требования. Для e-commerce — услуга <a href="/sozdanie-internet-magazina" class="korporativnyj-text-link">создание интернет-магазина</a>.</p>
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">При выборе платформы мы в&nbsp;первую очередь оцениваем следующие параметры:</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks korporativnyj-cms-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Простота управления контентом</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Выбираем CMS с&nbsp;удобной навигацией и&nbsp;возможностью управления контентом без знания разработки.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Поддержка и&nbsp;масштабирование</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Учитываем наличие постоянных обновлений, возможность масштабировать проект, а&nbsp;также готовые плагины и&nbsp;модули с&nbsp;возможностью простой интеграции.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Последующее обслуживание</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Оцениваем наличие разработчиков, способных поддерживать CMS без специфических знаний и&nbsp;сложного обучения. Подробнее о&nbsp;<a href="/tehnicheskaya-podderzhka-saita">технической поддержке сайта</a>.</p>
            <!---->
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks korporativnyj-cms-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Простота управления контентом</h3>
            <p data-v-4ed7dc78="" class="block__description">Выбираем CMS с&nbsp;удобной навигацией и&nbsp;возможностью управления контентом без знания разработки.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Поддержка и&nbsp;масштабирование</h3>
            <p data-v-4ed7dc78="" class="block__description">Учитываем наличие постоянных обновлений, возможность масштабировать проект, а&nbsp;также готовые плагины и&nbsp;модули с&nbsp;возможностью простой интеграции.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Последующее обслуживание</h3>
            <p data-v-4ed7dc78="" class="block__description">Оцениваем наличие разработчиков, способных поддерживать CMS без специфических знаний и&nbsp;сложного обучения. Подробнее о&nbsp;<a href="/tehnicheskaya-podderzhka-saita">технической поддержке сайта</a>.</p>
            <!---->
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</section>
<!-- KORPORATIVNYJ-CMS-BLOCK-END -->
