<!-- KORPORATIVNYJ-POST-HERO-START -->
<section class="page-constructor__section korporativnyj-post-hero">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Создание корпоративного сайта для&nbsp;роста бизнеса</h2>
              <!---->
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Корпоративный сайт помогает решать сразу несколько задач бизнеса&nbsp;— от&nbsp;привлечения клиентов до&nbsp;поддержки продаж и&nbsp;работы с&nbsp;партнёрами. Его эффективность складывается из&nbsp;нескольких ключевых функций.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks korporativnyj-tasks-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Формирует первое впечатление</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Прежде чем позвонить или&nbsp;написать, девять из&nbsp;десяти потенциальных клиентов и&nbsp;партнёров изучают сайт. То, что они увидят, определит насколько вы интереснее конкурентов.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Снимает возражения до&nbsp;первого контакта</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Грамотно выстроенная структура отвечает на&nbsp;вопросы аудитории раньше, чем их успевают задать. Клиент приходит в&nbsp;отдел продаж уже подготовленным.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Генерирует лиды</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Правильная архитектура и&nbsp;комплексный экспертный подход, конвертирует трафик в&nbsp;заявки.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Закрывает B2B-задачи</h3>
              <!---->
            </div>
            <p data-v-4ed7dc78="" class="block__description">Тендерные запросы, поиск инвесторов, рекрутинг, сценарии, которые мы закладываем в&nbsp;структуру сайта с&nbsp;первого дня работы над&nbsp;проектом.</p>
            <!---->
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks korporativnyj-tasks-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Формирует первое впечатление</h3>
            <p data-v-4ed7dc78="" class="block__description">Прежде чем позвонить или&nbsp;написать, девять из&nbsp;десяти потенциальных клиентов и&nbsp;партнёров изучают сайт. То, что они увидят, определит насколько вы интереснее конкурентов.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Снимает возражения до&nbsp;первого контакта</h3>
            <p data-v-4ed7dc78="" class="block__description">Грамотно выстроенная структура отвечает на&nbsp;вопросы аудитории раньше, чем их успевают задать. Клиент приходит в&nbsp;отдел продаж уже подготовленным.</p>
            <!---->
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Генерирует лиды</h3>
            <p data-v-4ed7dc78="" class="block__description">Правильная архитектура и&nbsp;комплексный экспертный подход, конвертирует трафик в&nbsp;заявки.</p>
            <!---->
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Закрывает B2B-задачи</h3>
            <p data-v-4ed7dc78="" class="block__description">Тендерные запросы, поиск инвесторов, рекрутинг, сценарии, которые мы закладываем в&nbsp;структуру сайта с&nbsp;первого дня работы над&nbsp;проектом.</p>
            <!---->
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</section>
<!-- KORPORATIVNYJ-POST-HERO-END -->
