<!-- LENDING-TILDA-APPROACH-START -->
<section class="page-constructor__section lending-tilda-approach-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Наш подход</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks lending-tilda-approach-grid">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Разработка контента</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Для того, чтобы выявить и&nbsp;донести преимущества продукта или услуги через контент до&nbsp;конечного потребителя, используем маркетинговое проектирование.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Разработка дизайна</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Ваш лендинг на&nbsp;Tilda запомнится пользователям за&nbsp;счёт интересного дизайна, анимации и&nbsp;впечатляющей технической реализации.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper lending-tilda-approach-grid__illustration">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item lending-tilda-approach-grid__figure-item">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/lending_na_tilda/approach/illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="496" height="496">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks lending-tilda-approach-grid lending-tilda-approach-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Разработка контента</h3>
            <p data-v-4ed7dc78="" class="block__description">Для того, чтобы выявить и&nbsp;донести преимущества продукта или услуги через контент до&nbsp;конечного потребителя, используем маркетинговое проектирование.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Разработка дизайна</h3>
            <p data-v-4ed7dc78="" class="block__description">Ваш лендинг на&nbsp;Tilda запомнится пользователям за&nbsp;счёт интересного дизайна, анимации и&nbsp;впечатляющей технической реализации.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item lending-tilda-approach-grid__figure-item">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/lending_na_tilda/approach/illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="496" height="496">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-APPROACH-END -->
