<!-- LENDING-TILDA-STAGES-HEADING-START -->
<section class="page-constructor__section lending-tilda-stages-heading-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet" aria-hidden="true"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Этапы создания лендинга на&nbsp;Tilda</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-STAGES-HEADING-END -->
