<!-- LENDING-TILDA-STAGE-LAYOUT-START -->
<section class="page-constructor__section lending-tilda-stage-layout-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">4</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Верстка лендинга на&nbsp;Tilda</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Верстаем дизайн и&nbsp;оживляем сайт через анимации и&nbsp;интерактивные элементы. Создаём функционал, усиливающий преимущества, и&nbsp;разрабатываем простое управление контентом. Сайт будет быстрый и&nbsp;удобный на&nbsp;любом устройстве.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom lending-tilda-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Адаптируем страницы</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Адаптируем дизайн под&nbsp;все устройства и&nbsp;экраны. Перестраиваем структуру и&nbsp;блоки, чтобы посетителям было удобно пользоваться с&nbsp;любого устройства.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Настраиваем формы</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Создаём удобные, интуитивно понятные страницы оформления заказа, корзины и&nbsp;личного кабинета. Предусматриваем наглядное отображение цены, способов доставки и&nbsp;видов оплаты. Пользователю будет удобно совершить покупки без&nbsp;сторонней помощи.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Проводим технические работы и&nbsp;тестируем</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Для реализации функционала интегрируем различные сервисы. Предусматриваем гибкое управление со&nbsp;стороны администратора. Гарантируем безопасность и&nbsp;быстродействие сайта. Обеспечиваем техническую поддержку и&nbsp;дальнейшее развитие.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom lending-tilda-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Адаптируем страницы</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Адаптируем дизайн под&nbsp;все устройства и&nbsp;экраны. Перестраиваем структуру и&nbsp;блоки, чтобы посетителям было удобно пользоваться с&nbsp;любого устройства.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Настраиваем формы</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Создаём удобные, интуитивно понятные страницы оформления заказа, корзины и&nbsp;личного кабинета. Предусматриваем наглядное отображение цены, способов доставки и&nbsp;видов оплаты. Пользователю будет удобно совершить покупки без&nbsp;сторонней помощи.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Проводим технические работы и&nbsp;тестируем</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Для реализации функционала интегрируем различные сервисы. Предусматриваем гибкое управление со&nbsp;стороны администратора. Гарантируем безопасность и&nbsp;быстродействие сайта. Обеспечиваем техническую поддержку и&nbsp;дальнейшее развитие.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-STAGE-LAYOUT-END -->
