<!-- LENDING-TILDA-FACTS-START -->
<section class="page-constructor__section lending-tilda-facts-section">
  <div class="facts">
    <div class="page__container desktop">
      <div class="facts-header">
        <div class="col-6 page__title">
          <p class="title">Лендинг на&nbsp;Tilda&nbsp;— эффективный инструмент, который увеличивает конверсию и&nbsp;даёт компании лиды, заявки, продажи.</p>
        </div>
        <div class="description-item">
          <p class="lead">Tilda landing с&nbsp;современной анимацией и&nbsp;релевантным продающим контентом способствует отстройке вашей компании от&nbsp;конкурентов, выделяя её на&nbsp;рынке. Благодаря этому образ бренда становится ярким и&nbsp;запоминающимся: он привлекает новых покупателей и&nbsp;способствует удержанию текущих клиентов компании.</p>
        </div>
      </div>
      <ul class="facts__items facts__items--desktop">
        <li class="facts__item">
          <div class="facts__number">1</div>
          <p class="facts__text">Способствуем росту продаж.</p>
        </li>
        <li class="facts__item">
          <div class="facts__number">2</div>
          <p class="facts__text">Повышаем узнаваемость бренда.</p>
        </li>
        <li class="facts__item">
          <div class="facts__number">3</div>
          <p class="facts__text">Формируем лояльность клиентов.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-FACTS-END -->
