<!-- LENDING-TILDA-STAGE-DESIGN-START -->
<section class="page-constructor__section lending-tilda-stage-design-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">3</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Дизайн</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Оформляем экраны таким образом, чтобы целевые возражения были отработаны на&nbsp;100%: клиент был убеждён в&nbsp;качестве товара или услуги, а&nbsp;сайт отражал суть бизнеса.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom lending-tilda-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Выбираем концепт</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем мудборд с&nbsp;несколькими вариантами стилей, примерами изображений, компоновки текста, образцов кнопок. Оформляем 2–3 примера блоков landing page и&nbsp;согласовываем концепт.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Делаем дизайн</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Создаём превью будущего дизайна: показываем, как будут выглядеть цветовые схемы, текстуры, блоки, кнопки, логотипы и&nbsp;другие элементы page-лендинга. Оформляем UI-кит в&nbsp;Figma.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Добавляем анимацию</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Добавляем анимацию, чтобы landing page на&nbsp;Tilda выглядел современно, красиво и&nbsp;привлекательно для&nbsp;пользователей.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom lending-tilda-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Выбираем концепт</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем мудборд с&nbsp;несколькими вариантами стилей, примерами изображений, компоновки текста, образцов кнопок. Оформляем 2–3 примера блоков landing page и&nbsp;согласовываем концепт.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Делаем дизайн</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Создаём превью будущего дизайна: показываем, как будут выглядеть цветовые схемы, текстуры, блоки, кнопки, логотипы и&nbsp;другие элементы page-лендинга. Оформляем UI-кит в&nbsp;Figma.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Добавляем анимацию</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Добавляем анимацию, чтобы landing page на&nbsp;Tilda выглядел современно, красиво и&nbsp;привлекательно для&nbsp;пользователей.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-STAGE-DESIGN-END -->
