<!-- LENDING-TILDA-CASE-VOICE-START -->
<section class="page-constructor__section lending-tilda-case-section tehpod-darkrain-case-section uks-case-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-lending-tilda-voice"
        class="swiper-container cases-block__slider-swiper-container swiper-container-autoheight"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-lending-tilda-voice"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide swiper-slide-lending-tilda-voice swiper-slide-only swiper-slide-active"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;/_sa/img/services/lending_na_tilda/cases/voice-bg.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <video
                  data-v-bd2e570a=""
                  class="tehpod-case-video lending-tilda-case-video--desktop"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  src="/_sa/img/services/lending_na_tilda/cases/voice-video.mp4"
                ></video>
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3
                  data-v-bd2e570a=""
                  class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big"
                >
                  The Voice
                </h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Сайт Tilda для бренда премиальных акустических систем.
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Сделали главную страницу и&nbsp;ещё три посадочных&nbsp;— для&nbsp;каждой колонки бренда. Премиальность продукта показали с&nbsp;помощью дизайна.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/voice"
                  class="buttonlink cases-block__swiper-slide-button"
                >
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                        aria-hidden="true"
                      >
                        <path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-CASE-VOICE-END -->
