<!-- LENDING-TILDA-STAGE-PROJECTING-START -->
<section class="page-constructor__section lending-tilda-stage-projecting-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">2</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Проектирование</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Создаём понятный прототип landing page на&nbsp;Tilda, который будет отрабатывать все возражения, отвечать на&nbsp;вопросы и&nbsp;закрывать потребности пользователя.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom lending-tilda-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Создаём информационную модель лендинга на&nbsp;Tilda</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем потребности потенциального клиента. Исходя из&nbsp;этого, подбираем форматы контента, прописываем требования к&nbsp;тональности текстов.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Разрабатываем контентный прототип и&nbsp;пишем тексты</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем последовательность блоков, разрабатываем рекомендации для&nbsp;дизайнера по&nbsp;использованию иллюстраций, видео и&nbsp;фото.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Делаем прототип landing page на&nbsp;Tilda</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Визуализируем контентный прототип и&nbsp;разрабатываем интерфейс пользовательского взаимодействия в&nbsp;Figma. Презентуем и&nbsp;согласовываем.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom lending-tilda-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Создаём информационную модель лендинга на&nbsp;Tilda</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем потребности потенциального клиента. Исходя из&nbsp;этого, подбираем форматы контента, прописываем требования к&nbsp;тональности текстов.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Разрабатываем контентный прототип и&nbsp;пишем тексты</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем последовательность блоков, разрабатываем рекомендации для&nbsp;дизайнера по&nbsp;использованию иллюстраций, видео и&nbsp;фото.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Делаем прототип landing page на&nbsp;Tilda</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Визуализируем контентный прототип и&nbsp;разрабатываем интерфейс пользовательского взаимодействия в&nbsp;Figma. Презентуем и&nbsp;согласовываем.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-STAGE-PROJECTING-END -->
