<!-- LENDING-TILDA-STAGE-RESEARCH-START -->
<section class="page-constructor__section lending-tilda-stage-research-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">1</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Исследование</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Выявляем преимущества бренда, определяем ожидания к&nbsp;сайтам отрасли, изучаем целевую аудиторию и&nbsp;ситуации использования продукта.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom lending-tilda-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Изучаем продукт</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Опрашиваем ваших экспертов, чтобы узнать больше информации о&nbsp;продукте и&nbsp;выделить его преимущества, отстроиться от&nbsp;конкурентов. Так landing page на&nbsp;Tilda будет отличаться от&nbsp;сотен других.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Анализируем конкурентов</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Изучаем сайты ближайших конкурентов, отмечаем стандарты отрасли и&nbsp;ожидания пользователей.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Анализируем целевую аудиторию</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем и&nbsp;сегментируем целевую аудиторию, описываем портрет будущих пользователей лендинга на&nbsp;Tilda.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom lending-tilda-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Изучаем продукт</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Опрашиваем ваших экспертов, чтобы узнать больше информации о&nbsp;продукте и&nbsp;выделить его преимущества, отстроиться от&nbsp;конкурентов. Так landing page на&nbsp;Tilda будет отличаться от&nbsp;сотен других.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Анализируем конкурентов</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Изучаем сайты ближайших конкурентов, отмечаем стандарты отрасли и&nbsp;ожидания пользователей.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Анализируем целевую аудиторию</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем и&nbsp;сегментируем целевую аудиторию, описываем портрет будущих пользователей лендинга на&nbsp;Tilda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-STAGE-RESEARCH-END -->
