<!-- LENDING-TILDA-ADVANTAGES-START -->
<section class="page-constructor__section lending-tilda-advantages-section">
  <div data-v-1e31df85="" class="advantage">
    <div data-v-1e31df85="" class="page__container">
      <div data-v-1aed48bd="" data-v-1e31df85="" class="advantages-card">
        <div data-v-1aed48bd="" class="advantages-card__header">
          <h2 data-v-1aed48bd="" class="advantages-card__title">Преимущества работы с&nbsp;нами</h2>
          <p data-v-1aed48bd="" class="advantages-card__description">
            Мы делаем лендинги, которые решают все&nbsp;ваши бизнес-, маркетинговые и&nbsp;коммуникационные задачи
            в&nbsp;комплексе. Через визуал и&nbsp;текст заостряем внимание на&nbsp;достоинствах бренда или продукта,
            также выстраиваем удобную структуру и&nbsp;навигацию, чтобы аудитории было легко знакомиться
            с&nbsp;предложением.
          </p>
        </div>
        <div data-v-1aed48bd="" class="advantages-card__content">
          <ul data-v-1aed48bd="" class="advantages-card__content-list">
            <li data-v-1aed48bd="" class="advantages-card__content-item">
              <div data-v-1aed48bd="" class="advantages-card__content-image">
                <img
                  data-v-1aed48bd=""
                  src="/_sa/img/storage__86gWf3SqZDrzTZP0vasrAyn8ldglz0VBIKIqnZ1A.png"
                  alt="Лендинг на Tilda — 20 лет делаем сайты"
                  loading="lazy"
                />
              </div>
              <div data-v-1aed48bd="" class="advantages-card__content-info">
                <h3 data-v-1aed48bd="" class="advantages-card__content-title">20</h3>
                <div data-v-1aed48bd="" class="advantages-card__content-text">лет делаем сайты</div>
              </div>
            </li>
            <li data-v-1aed48bd="" class="advantages-card__content-item">
              <div data-v-1aed48bd="" class="advantages-card__content-image">
                <img
                  data-v-1aed48bd=""
                  src="/_sa/img/storage__376rIjNfAFbsGWNUo0fxv5J11ZlHeOBWn4E4e1Ln.png"
                  alt="Лендинг на Tilda — 300 сайтов реализовано"
                  loading="lazy"
                />
              </div>
              <div data-v-1aed48bd="" class="advantages-card__content-info">
                <h3 data-v-1aed48bd="" class="advantages-card__content-title">300</h3>
                <div data-v-1aed48bd="" class="advantages-card__content-text">сайтов реализовано</div>
              </div>
            </li>
            <li data-v-1aed48bd="" class="advantages-card__content-item">
              <div data-v-1aed48bd="" class="advantages-card__content-image">
                <img
                  data-v-1aed48bd=""
                  src="/_sa/img/storage__CBAzxFK9L1b4elS8k64bU1Hg5z28cmsjQEOQqmCZ.png"
                  alt="Лендинг на Tilda — 6 место в рейтинге веб-студий"
                  loading="lazy"
                />
              </div>
              <div data-v-1aed48bd="" class="advantages-card__content-info">
                <h3 data-v-1aed48bd="" class="advantages-card__content-title">6</h3>
                <div data-v-1aed48bd="" class="advantages-card__content-text">место в&nbsp;рейтинг веб-студий</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LENDING-TILDA-ADVANTAGES-END -->
