<section class="page-constructor__section marketing-synergy-section">
  <div class="page__container marketing-synergy-section__container">
    <div
      class="marketing-synergy-diagram"
      role="img"
      aria-label="Схема комплексного маркетинга: маркетинговая стратегия, продажи, измеримое продвижение и бренд"
    >
      <img
        class="marketing-synergy-diagram__figure"
        src="/_sa/img/services/marketing/cm/figure1.png"
        alt=""
        width="1398"
        height="1398"
        decoding="async"
        loading="lazy"
      />
      <div class="marketing-synergy-diagram__item marketing-synergy-diagram__item--top">
        <h3 class="marketing-synergy-diagram__title"><a class="marketing-synergy-diagram__link" href="#marketing-strategy">Маркетинговая стратегия</a></h3>
        <p class="marketing-synergy-diagram__text">Делает бренд сильнее</p>
      </div>
      <div class="marketing-synergy-diagram__item marketing-synergy-diagram__item--left">
        <h3 class="marketing-synergy-diagram__title"><a class="marketing-synergy-diagram__link" href="#marketing-sales">Продажи</a></h3>
        <p class="marketing-synergy-diagram__text">Комплексный маркетинг увеличивает конверсию отдела продаж</p>
      </div>
      <div class="marketing-synergy-diagram__item marketing-synergy-diagram__item--right">
        <h3 class="marketing-synergy-diagram__title"><a class="marketing-synergy-diagram__link" href="#marketing-promotion">Измеримое продвижение</a></h3>
        <p class="marketing-synergy-diagram__text">Увеличивает конверсию в&nbsp;обращения</p>
      </div>
      <div class="marketing-synergy-diagram__item marketing-synergy-diagram__item--bottom">
        <h3 class="marketing-synergy-diagram__title"><a class="marketing-synergy-diagram__link" href="#marketing-branding">Бренд</a></h3>
        <p class="marketing-synergy-diagram__text">Доносит заложенные стратегией преимущества</p>
      </div>
    </div>
  </div>
</section>
