<!-- marketing-case-slider-orange: кейс Orange после «Контент-стратегия» (разметка /kontekstnaya_reklama/) -->
<section class="page-constructor__section marketing-case-slider-section marketing-case-slider-orange">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-marketing-orange"
        class="swiper-container cases-block__slider-swiper-container"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-marketing-orange"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide swiper-slide-marketing-orange"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;/_sa/img/storage__OBIK6EwpuWYXIOTf2Xmh8G0lpcgYbi0geXPRJXdC.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img
                  data-v-bd2e570a=""
                  src="/_sa/img/storage__OL9uTgUvGZ61bfsbXisNg9eGKHtDe1YJrNCmBpMJ.webp"
                  alt=""
                  loading="lazy"
                  class="cases-block__swiper-slide-contant-image"
                />
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3
                  data-v-bd2e570a=""
                  class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big"
                >
                  Orange
                </h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Привели трафик на&nbsp;сайт международного интегратора IT-сервисов
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Исследовали посетителей из&nbsp;поисковых систем и&nbsp;определили, что&nbsp;наиболее
                  релевантная аудитория приходит из&nbsp;Google. Запустили в&nbsp;нем контекстную рекламу
                  и&nbsp;вели клиентов на&nbsp;интересующие страницы услуг. Увеличили целевой трафик
                  на&nbsp;96% и&nbsp;снизили показатель отказов на&nbsp;сайте в&nbsp;5,4 раза.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/orange"
                  class="buttonlink cases-block__swiper-slide-button"
                  ><div data-v-7f5f1051="" class="buttonlink__content"
                    ><div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                        aria-hidden="true"
                        ><path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg></div></div
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-v-bd2e570a=""
        class="swiper-pagination swiper-pagination-marketing-orange swiper-pagination-clickable swiper-pagination-bullets"
      ></div>
      <div data-v-bd2e570a="" class="swiper__navigation">
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-prev swiper-pagination-prev-marketing-orange"
          aria-label="Предыдущий слайд"
          ><svg
            data-v-bd2e570a=""
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 42 42"
            fill="none"
            aria-hidden="true"
            ><circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path
              d="M23 14L15.9289 21.0711L23 28.1421"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path></svg
        ></button>
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-next swiper-pagination-next-marketing-orange"
          aria-label="Следующий слайд"
          ><svg
            data-v-bd2e570a=""
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 42 42"
            fill="none"
            style="transform: rotate(180deg)"
            aria-hidden="true"
            ><circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path
              d="M23 14L15.9289 21.0711L23 28.1421"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path></svg
        ></button>
      </div>
    </div>
  </div>
</section>
