<!-- PR-ADVANTAGES-START -->
<section class="page-constructor__section pr-advantages-section">
  <div data-v-1e31df85="" class="advantage">
    <div data-v-1e31df85="" class="page__container">
      <div data-v-1aed48bd="" data-v-1e31df85="" class="advantages-card">
        <div data-v-1aed48bd="" class="advantages-card__header">
          <h2 data-v-1aed48bd="" class="advantages-card__title">Преимущества работы с&nbsp;нами</h2>
          <p data-v-1aed48bd="" class="advantages-card__description">Ваша компания станет узнаваемым игроком на рынке&nbsp;и будет иметь лояльную аудиторию.</p>
        </div>
        <div data-v-1aed48bd="" class="advantages-card__content">
          <ul data-v-1aed48bd="" class="advantages-card__content-list">
            <li data-v-1aed48bd="" class="advantages-card__content-item">
              <div data-v-1aed48bd="" class="advantages-card__content-image">
                <img data-v-1aed48bd="" src="/_sa/img/services/pr/advantages/icon-years.png" alt="" loading="lazy" />
              </div>
              <div data-v-1aed48bd="" class="advantages-card__content-info">
                <h3 data-v-1aed48bd="" class="advantages-card__content-title">20</h3>
                <div data-v-1aed48bd="" class="advantages-card__content-text">Лет делаем PR</div>
              </div>
            </li>
            <li data-v-1aed48bd="" class="advantages-card__content-item">
              <div data-v-1aed48bd="" class="advantages-card__content-image">
                <img data-v-1aed48bd="" src="/_sa/img/services/pr/advantages/icon-clients.png" alt="" loading="lazy" />
              </div>
              <div data-v-1aed48bd="" class="advantages-card__content-info">
                <h3 data-v-1aed48bd="" class="advantages-card__content-title">120</h3>
                <div data-v-1aed48bd="" class="advantages-card__content-text">Довольных клиентов</div>
              </div>
            </li>
            <li data-v-1aed48bd="" class="advantages-card__content-item">
              <div data-v-1aed48bd="" class="advantages-card__content-image">
                <img data-v-1aed48bd="" src="/_sa/img/services/pr/advantages/icon-rank.png" alt="" loading="lazy" />
              </div>
              <div data-v-1aed48bd="" class="advantages-card__content-info">
                <h3 data-v-1aed48bd="" class="advantages-card__content-title">16</h3>
                <div data-v-1aed48bd="" class="advantages-card__content-text">Место в рейтинге PR-агентств России</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PR-ADVANTAGES-END -->
