<!-- PR-APPROACH-START -->
<section class="page-constructor__section pr-approach-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Наш подход</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks pr-content-grid pr-content-grid--title-large">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">От стратегии к тактике</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Начинаем с разработки PR-стратегии, чтобы достигнуть поставленных клиентом целей. Выбираем оптимальные виды маркетинговых коммуникаций среди инструментов PR&nbsp;и делаем прозрачную оценку эффективности PR-кампаний.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Синергия инструментов</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Действуем эффективно, используя комплекс инструментов. Привлекаем дизайнеров, работаем вместе со специалистами по продвижению, усиливая маркетинг клиента в целом. </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Маркетинговое мышление</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Мы оцениваем рынок, изучаем бизнес, анализируем конкурентов&nbsp;и создаем долгосрочные маркетинговые коммуникации с аудиторией, основанные на доверии, что усиливает продуктивность продвижения.</p>
          </div>
        </div>
        
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks pr-content-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">От стратегии к тактике</h3>
            <p data-v-4ed7dc78="" class="block__description">Начинаем с разработки PR-стратегии, чтобы достигнуть поставленных клиентом целей. Выбираем оптимальные виды маркетинговых коммуникаций среди инструментов PR&nbsp;и делаем прозрачную оценку эффективности PR-кампаний.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Синергия инструментов</h3>
            <p data-v-4ed7dc78="" class="block__description">Действуем эффективно, используя комплекс инструментов. Привлекаем дизайнеров, работаем вместе со специалистами по продвижению, усиливая маркетинг клиента в целом. </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Маркетинговое мышление</h3>
            <p data-v-4ed7dc78="" class="block__description">Мы оцениваем рынок, изучаем бизнес, анализируем конкурентов&nbsp;и создаем долгосрочные маркетинговые коммуникации с аудиторией, основанные на доверии, что усиливает продуктивность продвижения.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PR-APPROACH-END -->
