<!-- PR-STAGES-START -->
<section class="page-constructor__section pr-stages-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Этапы<br>PR-продвижения</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Проводим исследования инфополя&nbsp;и целевой аудитории. Анализируем коммуникации конкурентов. Вырабатываем оптимальные решения, подбираем действенные инструменты&nbsp;и формируем четкий план.
<br>
<br>
Определяем KPI&nbsp;и просчитываем эффективность. Подбираем медиа&nbsp;и пишем экспертные материалы. Проводим переговоры с журналистами&nbsp;и партнерами. Организуем конференции, презентации&nbsp;и специальные мероприятия для продвижения бренда. Размещаем рекламу у блогеров&nbsp;и в сообществах.</p>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
<!-- PR-STAGES-END -->
