<!-- PR-STRATEGY-DEVELOPMENT-START -->
<section class="page-constructor__section pr-strategy-development-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">1</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Разработка PR-стратегии</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom pr-content-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Изучение конкурентов, рынка&nbsp;и инфополя</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Проводим качественные&nbsp;и количественные исследования. Детально анализируем каждый сегмент, используя открытые&nbsp;и закрытые источники.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Формулировка ключевых сообщений в PR</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Определяем потребности аудитории. Формируем аргументы. Решаем, какой посыл представит бренд с позитивной стороны перед целевой аудиторией.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Анализ репутации компании-клиента</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Делаем всесторонний репутационный аудит. SWOT-анализ, подробное изучение контента&nbsp;и оценка его тональности. Присутствие компании в инфополе&nbsp;и ее Share of Voice.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Подбор инструментов, каналов&nbsp;и инфоповодов</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Анализируем аудиторию бренда&nbsp;и медиа-площадок, находим совпадения целевой аудитории. Выделяем информационные тренды&nbsp;и разрабатываем инфоповоды.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Исследование отношения аудитории</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Анализируем обратную связь от аудитории: отзывы&nbsp;и упоминания бренда. Проводим качественное исследование. Даем оценку удовлетворенности аудитории.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Календарный план&nbsp;и KPI</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Составляем план действий&nbsp;и мероприятий. Определяем тайминг PR-кампании&nbsp;и прописываем дедлайны&nbsp;и точки контроля.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks pr-content-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Изучение конкурентов, рынка&nbsp;и инфополя</h3>
            <p data-v-4ed7dc78="" class="block__description">Проводим качественные&nbsp;и количественные исследования. Детально анализируем каждый сегмент, используя открытые&nbsp;и закрытые источники.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Формулировка ключевых сообщений в PR</h3>
            <p data-v-4ed7dc78="" class="block__description">Определяем потребности аудитории. Формируем аргументы. Решаем, какой посыл представит бренд с позитивной стороны перед целевой аудиторией.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Анализ репутации компании-клиента</h3>
            <p data-v-4ed7dc78="" class="block__description">Делаем всесторонний репутационный аудит. SWOT-анализ, подробное изучение контента&nbsp;и оценка его тональности. Присутствие компании в инфополе&nbsp;и ее Share of Voice.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Подбор инструментов, каналов&nbsp;и инфоповодов</h3>
            <p data-v-4ed7dc78="" class="block__description">Анализируем аудиторию бренда&nbsp;и медиа-площадок, находим совпадения целевой аудитории. Выделяем информационные тренды&nbsp;и разрабатываем инфоповоды.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Исследование отношения аудитории</h3>
            <p data-v-4ed7dc78="" class="block__description">Анализируем обратную связь от аудитории: отзывы&nbsp;и упоминания бренда. Проводим качественное исследование. Даем оценку удовлетворенности аудитории.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Календарный план&nbsp;и KPI</h3>
            <p data-v-4ed7dc78="" class="block__description">Составляем план действий&nbsp;и мероприятий. Определяем тайминг PR-кампании&nbsp;и прописываем дедлайны&nbsp;и точки контроля.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PR-STRATEGY-DEVELOPMENT-END -->
