<!-- PR-STRATEGY-IMPLEMENTATION-START -->
<section class="page-constructor__section pr-strategy-implementation-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">2</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Внедрение PR-стратегии</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom pr-content-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Проведение PR-кампании</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Подбираем маркетинговые инструменты&nbsp;и формируем список задач для PR&nbsp;продвижения. Контролируем результат.
</p><p class="block__description">
Проводим работы с digital-медиа&nbsp;и лидерами мнений, общественными организациями&nbsp;и GR, мероприятиями&nbsp;и событийным PR.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Корректировка PR-стратегии</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Анализируем инфополе&nbsp;и коммуникации конкурентов. Рассчитываем риски&nbsp;и точки роста. Контролируем продвижение PR-кампании.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Расчет&nbsp;и оценка эффективности</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Определяем параметры оценки эффективности PR-кампании. Рассчитываем количество упоминаний, смотрим тональность&nbsp;и индекс цитируемости, считаем охват, анализируем ежемесячно&nbsp;и ежеквартально.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Спецпроекты&nbsp;и антикризисный PR</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Создаем уникальные проекты: со СМИ, партнерами, блогерами, экспертами&nbsp;и НКО, усиливающими основную PR-кампанию. Помогаем быстро выйти из кризисных ситуаций&nbsp;и восстановить позитивный имидж.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item pr-strategy-illustration-item">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/pr/strategy/illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="496" height="496">
            </figure>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks pr-content-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Проведение PR-кампании</h3>
            <p data-v-4ed7dc78="" class="block__description">Подбираем маркетинговые инструменты&nbsp;и формируем список задач для PR&nbsp;продвижения. Контролируем результат.
</p><p class="block__description">
Проводим работы с digital-медиа&nbsp;и лидерами мнений, общественными организациями&nbsp;и GR, мероприятиями&nbsp;и событийным PR.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Корректировка PR-стратегии</h3>
            <p data-v-4ed7dc78="" class="block__description">Анализируем инфополе&nbsp;и коммуникации конкурентов. Рассчитываем риски&nbsp;и точки роста. Контролируем продвижение PR-кампании.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Расчет&nbsp;и оценка эффективности</h3>
            <p data-v-4ed7dc78="" class="block__description">Определяем параметры оценки эффективности PR-кампании. Рассчитываем количество упоминаний, смотрим тональность&nbsp;и индекс цитируемости, считаем охват, анализируем ежемесячно&nbsp;и ежеквартально.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Спецпроекты&nbsp;и антикризисный PR</h3>
            <p data-v-4ed7dc78="" class="block__description">Создаем уникальные проекты: со СМИ, партнерами, блогерами, экспертами&nbsp;и НКО, усиливающими основную PR-кампанию. Помогаем быстро выйти из кризисных ситуаций&nbsp;и восстановить позитивный имидж.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item pr-strategy-illustration-item">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/pr/strategy/illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="496" height="496">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PR-STRATEGY-IMPLEMENTATION-END -->
