<!-- PR-WHEN-NECESSARY-START -->
<section class="page-constructor__section pr-when-necessary-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Когда PR&nbsp;необходим</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks pr-content-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Повысить узнаваемость бренда</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Постоянное развитие&nbsp;— залог успеха любого бизнеса. Узнаваемый бренд помогает компании расти быстрее, завоевывая новые рынки&nbsp;и сегменты целевой аудитории, а также повышает ценность компании&nbsp;и ее продуктов.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Создать потребность в продукте или услуге</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">PR-кампания поможет покупателям осознать потребность в вашем продукте&nbsp;и переключить внимание аудитории с товара конкурентов на новое предложение.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Привлечь новую аудиторию</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Целевая аудитория бренда подвижна&nbsp;и может меняться в зависимости от социальных&nbsp;и экономических трендов. Контакт с новыми сегментами потенциальных покупателей создаст стабильный трафик клиентов&nbsp;и резерв увеличения продаж.</p>
          </div>
        </div>
        
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks pr-content-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Повысить узнаваемость бренда</h3>
            <p data-v-4ed7dc78="" class="block__description">Постоянное развитие&nbsp;— залог успеха любого бизнеса. Узнаваемый бренд помогает компании расти быстрее, завоевывая новые рынки&nbsp;и сегменты целевой аудитории, а также повышает ценность компании&nbsp;и ее продуктов.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Создать потребность в продукте или услуге</h3>
            <p data-v-4ed7dc78="" class="block__description">PR-кампания поможет покупателям осознать потребность в вашем продукте&nbsp;и переключить внимание аудитории с товара конкурентов на новое предложение.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Привлечь новую аудиторию</h3>
            <p data-v-4ed7dc78="" class="block__description">Целевая аудитория бренда подвижна&nbsp;и может меняться в зависимости от социальных&nbsp;и экономических трендов. Контакт с новыми сегментами потенциальных покупателей создаст стабильный трафик клиентов&nbsp;и резерв увеличения продаж.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PR-WHEN-NECESSARY-END -->
