<!-- YMAPS-FACTS-CARD-START -->
<section class="page-constructor__section ymaps-facts-card-section">
  <div class="ymaps-facts-card-wrap">
    <div class="page__container desktop">
      <div class="ymaps-facts-card">
        <div class="ymaps-facts-card__content">
          <ul class="ymaps-facts-card__list">
            <li class="ymaps-facts-card__item">
              <div class="ymaps-facts-card__icon">
                <img src="/_sa/img/storage__bZbyJclDTGjFeyZcd0uz0G7fRIZVZwNIiSLPqoSa.png" width="64" height="64" alt="" loading="lazy" decoding="async" />
              </div>
              <div class="ymaps-facts-card__info">
                <h3 class="ymaps-facts-card__title">От 1 до 43 филиалов</h3>
                <p class="ymaps-facts-card__text">Уже продвигаем локальные компании и&nbsp;федеральные сети в&nbsp;Яндекс Картах и&nbsp;2ГИС</p>
              </div>
            </li>
            <li class="ymaps-facts-card__item">
              <div class="ymaps-facts-card__icon">
                <img src="/_sa/img/storage__rmJphtPKaYSrq3klp9VGbISG6xyjAeAKAlqtBMxt.png" width="64" height="64" alt="" loading="lazy" decoding="async" />
              </div>
              <div class="ymaps-facts-card__info">
                <h3 class="ymaps-facts-card__title">От 15% до 25%</h3>
                <p class="ymaps-facts-card__text">Скидка для&nbsp;наших клиентов на&nbsp;размещение при запуске от&nbsp;3 до&nbsp;12 месяцев</p>
              </div>
            </li>
            <li class="ymaps-facts-card__item">
              <div class="ymaps-facts-card__icon">
                <img src="/_sa/img/storage__yklhuDG3FTH1d2ZDNOQvx3OXSy3KaM31bhq9LNM3.png" width="64" height="64" alt="" loading="lazy" decoding="async" />
              </div>
              <div class="ymaps-facts-card__info">
                <h3 class="ymaps-facts-card__title">20&nbsp;000+ товаров</h3>
                <p class="ymaps-facts-card__text">Размещаем в&nbsp;витринах карт и&nbsp;ведём пользователей к&nbsp;заказу на&nbsp;сайте</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- YMAPS-FACTS-CARD-END -->
