<!-- DZEN-UI-BLOCK-START -->
<section class="page-constructor__section dzen-ui-preview-section">
  <div class="movies-block">
    <div class="page__container">
      <div class="swiper">
        <div class="">
          <div class="">
            <img
              src="/_sa/img/services/prodvizhenie-statey-v-dzene-i-promostranitsah/dzen-ui-preview.webp"
              alt="Интерфейс ленты Дзена: поиск, карточки статей и рубрики"
              width="1480"
              height="850"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--none"></div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-UI-BLOCK-END -->
