<!-- YMAPS-PRICING-TABLES-START -->
<section class="page-constructor__section ymaps-pricing-heading">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Стоимость</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-pricing-dies">
  <div data-v-07db1e8a="" class="dies modern">
    <div data-v-07db1e8a="" class="page__container">
      <section data-v-1505791e="" data-v-07db1e8a="" class="prices">
        <div class="ymaps-pricing-tables">
          <div class="ymaps-pricing-tables__group">
            <h3 class="ymaps-pricing-tables__group-title">Работы:</h3>

            <div class="ymaps-pricing-cards ymaps-pricing-cards--works">
              <div data-v-1505791e="" class="prices__cards row prices__cards--packages">
                <div data-v-1505791e="" class="prices__packages-slider swiper-container swiper-container-horizontal swiper-container-free-mode">
                  <div data-v-1505791e="" class="prices__packages-track swiper-wrapper">
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Продвижение до&nbsp;5&nbsp;филиалов</h3>
                          <div class="price-card__title-rule price-card__title-rule--1" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Первый месяц</p>
                              <span data-v-1444f1fb="" class="price-card__price">40&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">Со&nbsp;второго месяца</p>
                              <span class="ymaps-pricing-card__price-amount">20&nbsp;000&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Продвижение 6–10&nbsp;филиалов</h3>
                          <div class="price-card__title-rule price-card__title-rule--2" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Первый месяц</p>
                              <span data-v-1444f1fb="" class="price-card__price">50&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">Со&nbsp;второго месяца</p>
                              <span class="ymaps-pricing-card__price-amount">25&nbsp;000&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Продвижение более 10&nbsp;филиалов</h3>
                          <div class="price-card__title-rule price-card__title-rule--3" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Первый месяц</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;60&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">Со&nbsp;второго месяца</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;30&nbsp;000&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <figure class="ymaps-pricing-tables__figure ymaps-pricing-tables__figure--desktop">
              <div class="ymaps-pricing-tables__scroll">
                <table class="ymaps-pricing-tables__table ymaps-pricing-tables__table--works">
                  <caption class="ymaps-pricing-tables__caption">Стоимость работ по продвижению в Яндекс Картах и 2ГИС</caption>
                  <thead>
                    <tr>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--feature">Формат продвижения</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Стоимость первого месяца</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Стоимость со&nbsp;второго месяца</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение до&nbsp;5&nbsp;филиалов</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">40&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">20&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение 6–10&nbsp;филиалов</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">50&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">25&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение более 10&nbsp;филиалов</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;60&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;30&nbsp;000&nbsp;₽</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </figure>
          </div>

          <div class="ymaps-pricing-tables__group">
            <h3 class="ymaps-pricing-tables__group-title">Бюджеты:</h3>

            <div class="ymaps-pricing-cards ymaps-pricing-cards--budgets">
              <div data-v-1505791e="" class="prices__cards row prices__cards--packages">
                <div data-v-1505791e="" class="prices__packages-slider swiper-container swiper-container-horizontal swiper-container-free-mode">
                  <div data-v-1505791e="" class="prices__packages-track swiper-wrapper">
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Приоритетное размещение</h3>
                          <div class="price-card__title-rule price-card__title-rule--1" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Минимальный бюджет на&nbsp;филиал</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;10&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">При годовом размещении</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;7&nbsp;500&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Брендированное приоритетное размещение</h3>
                          <div class="price-card__title-rule price-card__title-rule--2" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Минимальный бюджет на&nbsp;филиал</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;149&nbsp;940&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">При годовом размещении</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;112&nbsp;455&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Супербрендированное приоритетное размещение</h3>
                          <div class="price-card__title-rule price-card__title-rule--3" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Минимальный бюджет на&nbsp;филиал</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;290&nbsp;880&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">При годовом размещении</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;218&nbsp;160&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Брендированный сетевой фильтр (для&nbsp;сетей)</h3>
                          <div class="price-card__title-rule price-card__title-rule--1" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Минимальный бюджет на&nbsp;филиал</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;50&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">При годовом размещении</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;37&nbsp;500&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">3D-макет объекта (недвижимость, ЖК)</h3>
                          <div class="price-card__title-rule price-card__title-rule--2" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Минимальный бюджет на&nbsp;филиал</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;500&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">При годовом размещении</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;375&nbsp;000&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="prices__packages-slide swiper-slide">
                      <div data-v-1444f1fb="" data-v-1505791e="" class="price-card__wrapper">
                        <div data-v-1444f1fb="" class="price-card noImg">
                          <h3 data-v-1444f1fb="">Продвижение в&nbsp;карточках организаций</h3>
                          <div class="price-card__title-rule price-card__title-rule--3" aria-hidden="true"></div>
                          <div data-v-1444f1fb="" class="price-card__details">
                            <div class="ymaps-pricing-card__price-line">
                              <p class="ymaps-pricing-card__price-label">Минимальный бюджет на&nbsp;филиал</p>
                              <span data-v-1444f1fb="" class="price-card__price">от&nbsp;900&nbsp;000&nbsp;₽</span>
                            </div>
                            <div class="ymaps-pricing-card__price-line ymaps-pricing-card__price-line--secondary">
                              <p class="ymaps-pricing-card__price-label">При годовом размещении</p>
                              <span class="ymaps-pricing-card__price-amount">от&nbsp;675&nbsp;000&nbsp;₽</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <figure class="ymaps-pricing-tables__figure ymaps-pricing-tables__figure--desktop">
              <div class="ymaps-pricing-tables__scroll">
                <table class="ymaps-pricing-tables__table ymaps-pricing-tables__table--budgets">
                  <caption class="ymaps-pricing-tables__caption">Минимальные рекламные бюджеты на филиал</caption>
                  <thead>
                    <tr>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--feature">Формат размещения</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Минимальный бюджет на&nbsp;филиал</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Минимальный бюджет на&nbsp;филиал при годовом размещении</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Приоритетное размещение</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;10&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;7&nbsp;500&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Брендированное приоритетное размещение</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;149&nbsp;940&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;112&nbsp;455&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Супербрендированное приоритетное размещение</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;290&nbsp;880&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;218&nbsp;160&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Брендированный сетевой фильтр (для&nbsp;сетей)</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;50&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;37&nbsp;500&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">3D-макет объекта (недвижимость, ЖК)</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;500&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;375&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение в&nbsp;карточках организаций</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;900&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;675&nbsp;000&nbsp;₽</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </figure>
          </div>

          <p class="ymaps-pricing-tables__note">
            <strong>Минимальный срок размещения&nbsp;— 90&nbsp;дней.</strong> Для&nbsp;повышения эффективности продвижения и&nbsp;накопления статистики рекомендуем долгосрочное размещение. При размещении на&nbsp;срок от&nbsp;90&nbsp;дней предоставляются скидки от&nbsp;15% до&nbsp;25%.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- YMAPS-PRICING-TABLES-END -->
