<!-- DZEN-CONTENT-PREVIEW-BLOCK-START -->
<section class="page-constructor__section dzen-content-preview-section">
  <div class="movies-block">
    <div class="page__container">
      <div class="swiper">
        <div class="">
          <div class="">
            <img
              src="/_sa/img/services/prodvizhenie-statey-v-dzene-i-promostranitsah/content-creation-preview.webp"
              alt="Примеры статей в ленте Дзена: карточки публикаций с обложками и заголовками"
              width="1674"
              height="956"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--none"></div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-CONTENT-PREVIEW-BLOCK-END -->
