<!-- DZEN-STRATEGY-BLOCK-START -->
<section class="page-constructor__section dzen-strategy-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Стратегия и&nbsp;выбор аудитории</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks dzen-advantages-grid">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Выбор продуктов и&nbsp;услуг</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Разрабатываем стратегию создания и&nbsp;продвижения контента с&nbsp;вами. Делим контент на&nbsp;разные цели: узнаваемость бренда, продвижение конкретных товаров и&nbsp;услуг, новости о&nbsp;новых коллекциях, акции и&nbsp;распродажи, информационные вовлекающие статьи о&nbsp;сервисе и&nbsp;пользовании товарами и&nbsp;услугами.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper dzen-advantages-grid__illustration">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item dzen-advantages-grid__figure-item">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-statey-v-dzene-i-promostranitsah/strategy-audience-illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="470" height="382">
              </figure>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Определение аудитории</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Сегментируем покупателей по&nbsp;ключевым параметрам, выявляем самые целевые сегменты аудитории. Определяем ее ценности и&nbsp;боли, изучаем основные барьеры, мешающие покупке. Исследуем поведение и&nbsp;смежные интересы. Все это позволяет создавать наиболее полезные статьи и&nbsp;точно настроить рекламу.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks dzen-advantages-grid dzen-advantages-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Выбор продуктов и&nbsp;услуг</h3>
            <p data-v-4ed7dc78="" class="block__description">Разрабатываем стратегию создания и&nbsp;продвижения контента с&nbsp;вами. Делим контент на&nbsp;разные цели: узнаваемость бренда, продвижение конкретных товаров и&nbsp;услуг, новости о&nbsp;новых коллекциях, акции и&nbsp;распродажи, информационные вовлекающие статьи о&nbsp;сервисе и&nbsp;пользовании товарами и&nbsp;услугами.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item dzen-advantages-grid__figure-item">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-statey-v-dzene-i-promostranitsah/strategy-audience-illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="470" height="382">
            </figure>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Определение аудитории</h3>
            <p data-v-4ed7dc78="" class="block__description">Сегментируем покупателей по&nbsp;ключевым параметрам, выявляем самые целевые сегменты аудитории. Определяем ее ценности и&nbsp;боли, изучаем основные барьеры, мешающие покупке. Исследуем поведение и&nbsp;смежные интересы. Все это позволяет создавать наиболее полезные статьи и&nbsp;точно настроить рекламу.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-STRATEGY-BLOCK-END -->
