<!-- Слайдер кейсов: после «Ведение продвижения на картах» (static cases-block, без Nuxt). -->
<section class="page-constructor__section prodvizhenie-yandex-karty-2gis-cases-slider-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-ymaps-cases"
        class="swiper-container cases-block__slider-swiper-container"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-ymaps-cases"
        >
          <div data-v-bd2e570a="" class="swiper-slide cases-block__swiper-slide swiper-slide-ymaps-cases">
            <div data-v-bd2e570a="" class="background" style="background-image: url(&quot;/_sa/img/storage__ySw5mgw03NfAaku8KwLWU1jjTInaIteg3Q97Pa9p.webp&quot;);"></div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img data-v-bd2e570a="" src="/_sa/img/storage__MiR4YsQhBXjM4Xg6K5Natc1LOY5YIC3hrU7EqZuj.webp" alt="Ювелирные украшения Darkrain" loading="eager" class="cases-block__swiper-slide-contant-image">
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big">Darkrain</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">Бренд минималистичных ювелирных украшений с&nbsp;шоурумами в&nbsp;СПб и&nbsp;Москве.</p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">Запустили рекламную кампанию на&nbsp;Яндекс Картах. В&nbsp;3,5 раза увеличили количество переходов на&nbsp;сайт. В&nbsp;10 раз увеличили количество кликов по&nbsp;кнопке действия. В&nbsp;4,5 раза увеличили количество проложенных маршрутов до&nbsp;филиала компании с&nbsp;13 до&nbsp;58 за&nbsp;период.</p>
                <a data-v-7f5f1051="" data-v-bd2e570a="" href="/case/darkrain-store" class="buttonlink cases-block__swiper-slide-button">
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none" data-v-7f5f1051=""><path d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
          <div data-v-bd2e570a="" class="swiper-slide cases-block__swiper-slide swiper-slide-ymaps-cases cases-block__swiper-slide--boca">
            <div data-v-bd2e570a="" class="background" style="background-image: url(&quot;/_sa/img/storage__NIE6q9mfqYW09m2twjSaEJaZbqQ1vX1Se0Xn7l0X.webp&quot;);"></div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img data-v-bd2e570a="" src="/_sa/img/storage__NIE6q9mfqYW09m2twjSaEJaZbqQ1vX1Se0Xn7l0X.webp" alt="Интерьер шоурума Boca Room" loading="lazy" class="cases-block__swiper-slide-contant-image">
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big">Boca Room</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">Бренд премиальной дизайнерской мебели.</p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">Запустили рекламу на&nbsp;Яндекс Картах. На&nbsp;26% увеличили количество построений маршрута. На&nbsp;16% увеличили количество переходов на&nbsp;сайт. На&nbsp;31% увеличили количество кликов по&nbsp;номеру телефона.</p>
                <a data-v-7f5f1051="" data-v-bd2e570a="" href="/case/all/boca" class="buttonlink cases-block__swiper-slide-button">
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none" data-v-7f5f1051=""><path d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-v-bd2e570a=""
        class="swiper-pagination swiper-pagination-ymaps-cases swiper-pagination-clickable swiper-pagination-bullets"
      ></div>
      <div data-v-bd2e570a="" class="swiper__navigation">
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-prev swiper-pagination-prev-ymaps-cases"
          aria-label="Предыдущий слайд"
        >
          <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 42 42" fill="none" aria-hidden="true">
            <circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path d="M23 14L15.9289 21.0711L23 28.1421" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-next swiper-pagination-next-ymaps-cases"
          aria-label="Следующий слайд"
        >
          <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 42 42" fill="none" style="transform: rotate(180deg)" aria-hidden="true">
            <circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path d="M23 14L15.9289 21.0711L23 28.1421" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
