<!-- DZEN-CONTENT-CREATION-BLOCK-START -->
<section class="page-constructor__section dzen-content-creation-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Создание контента</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks dzen-three-col-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Разработка контента</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Составляем контент-план на&nbsp;основе стратегии, формулируем темы для&nbsp;статей, назначаем даты публикаций. Генерируем продающие тексты и&nbsp;оптимизируем статьи под&nbsp;поисковые системы.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Создаем изображения и&nbsp;инфографику, вставки видео для&nbsp;статей</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Формируем несколько вариантов обложек для&nbsp;тестирования наиболее привлекательных и&nbsp;кликабельных. Подбираем визуальный контент, основываясь на&nbsp;фирменном стиле бренда/товара. Мы сохраним ваш имидж, ведь для&nbsp;нас это не&nbsp;просто слово.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Проводим тщательную редактуру</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Верстаем и&nbsp;публикуем статьи. Заботимся о&nbsp;том, чтобы материалы читались легко, были понятными и&nbsp;вызывали желание ближе познакомиться с&nbsp;продуктами и&nbsp;услугами.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks dzen-three-col-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Разработка контента</h3>
            <p data-v-4ed7dc78="" class="block__description">Составляем контент-план на&nbsp;основе стратегии, формулируем темы для&nbsp;статей, назначаем даты публикаций. Генерируем продающие тексты и&nbsp;оптимизируем статьи под&nbsp;поисковые системы.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Создаем изображения и&nbsp;инфографику, вставки видео для&nbsp;статей</h3>
            <p data-v-4ed7dc78="" class="block__description">Формируем несколько вариантов обложек для&nbsp;тестирования наиболее привлекательных и&nbsp;кликабельных. Подбираем визуальный контент, основываясь на&nbsp;фирменном стиле бренда/товара. Мы сохраним ваш имидж, ведь для&nbsp;нас это не&nbsp;просто слово.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Проводим тщательную редактуру</h3>
            <p data-v-4ed7dc78="" class="block__description">Верстаем и&nbsp;публикуем статьи. Заботимся о&nbsp;том, чтобы материалы читались легко, были понятными и&nbsp;вызывали желание ближе познакомиться с&nbsp;продуктами и&nbsp;услугами.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-CONTENT-CREATION-BLOCK-END -->
