<!-- YMAPS-CONTENT-BLOCKS-START -->
<section class="page-constructor__section ymaps-agency-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Агентство геоперфоманса</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Помогаем бизнесу получать больше обращений из&nbsp;Яндекс Карт и&nbsp;2ГИС: звонков, построенных маршрутов, переходов на&nbsp;сайт и&nbsp;визитов в&nbsp;филиалы. Строим продвижение на&nbsp;основе географии, спроса, конкуренции и&nbsp;качества карточек, чтобы карты работали как performance-канал.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Рост видимости на&nbsp;картах</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Анализируем, как компания представлена в&nbsp;Яндекс Картах и&nbsp;2ГИС, проверяем категории, описания, услуги, фото, товары, отзывы и&nbsp;позиции среди конкурентов. На&nbsp;основе аудита формируем план, который помогает чаще показываться по&nbsp;релевантным локальным запросам.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Геореклама в&nbsp;Яндекс Картах и&nbsp;2ГИС</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Настраиваем рекламное размещение в&nbsp;картах, чтобы привлекать пользователей рядом с&nbsp;вашими филиалами или в&nbsp;целевых районах. Продвигаем карточки, акции, товары и&nbsp;услуги, усиливая контакт с&nbsp;аудиторией в&nbsp;момент выбора.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Прозрачное ценообразование</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Заранее фиксируем состав работ, стоимость ведения и&nbsp;рекомендуемый бюджет на&nbsp;размещение. Смета даст понимание за&nbsp;что будет оплата: настройку, оптимизацию, работу с&nbsp;карточками, аналитику и&nbsp;рекламный инвентарь площадок.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Работа с&nbsp;филиальными сетями</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Ведём продвижение для&nbsp;бизнеса с&nbsp;одной точкой и&nbsp;сетей до&nbsp;множества филиалов. Помогаем унифицировать карточки, поддерживать актуальность данных, запускать размещение по&nbsp;городам и&nbsp;сравнивать эффективность разных локаций.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Аналитика звонков, маршрутов и&nbsp;переходов</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Отслеживаем ключевые действия пользователей: звонки, клики на&nbsp;сайт, построения маршрутов, открытия карточек и&nbsp;взаимодействие с&nbsp;витринами. Смотрим на&nbsp;охваты и&nbsp;на&nbsp;действия, которые приближают клиента к&nbsp;визиту или заявке.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Соблюдение правил площадок и&nbsp;модерации</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Следим за&nbsp;требованиями Яндекс Карт, 2ГИС и&nbsp;закона о&nbsp;рекламе. Готовим материалы к&nbsp;размещению, учитываем ограничения ниш, помогаем проходить модерацию и&nbsp;корректно оформлять рекламные публикации.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Рост видимости на&nbsp;картах</h3>
            <p data-v-4ed7dc78="" class="block__description">Анализируем, как компания представлена в&nbsp;Яндекс Картах и&nbsp;2ГИС, проверяем категории, описания, услуги, фото, товары, отзывы и&nbsp;позиции среди конкурентов. На&nbsp;основе аудита формируем план, который помогает чаще показываться по&nbsp;релевантным локальным запросам.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Геореклама в&nbsp;Яндекс Картах и&nbsp;2ГИС</h3>
            <p data-v-4ed7dc78="" class="block__description">Настраиваем рекламное размещение в&nbsp;картах, чтобы привлекать пользователей рядом с&nbsp;вашими филиалами или в&nbsp;целевых районах. Продвигаем карточки, акции, товары и&nbsp;услуги, усиливая контакт с&nbsp;аудиторией в&nbsp;момент выбора.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Прозрачное ценообразование</h3>
            <p data-v-4ed7dc78="" class="block__description">Заранее фиксируем состав работ, стоимость ведения и&nbsp;рекомендуемый бюджет на&nbsp;размещение. Смета даст понимание за&nbsp;что будет оплата: настройку, оптимизацию, работу с&nbsp;карточками, аналитику и&nbsp;рекламный инвентарь площадок.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Работа с&nbsp;филиальными сетями</h3>
            <p data-v-4ed7dc78="" class="block__description">Ведём продвижение для&nbsp;бизнеса с&nbsp;одной точкой и&nbsp;сетей до&nbsp;множества филиалов. Помогаем унифицировать карточки, поддерживать актуальность данных, запускать размещение по&nbsp;городам и&nbsp;сравнивать эффективность разных локаций.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Аналитика звонков, маршрутов и&nbsp;переходов</h3>
            <p data-v-4ed7dc78="" class="block__description">Отслеживаем ключевые действия пользователей: звонки, клики на&nbsp;сайт, построения маршрутов, открытия карточек и&nbsp;взаимодействие с&nbsp;витринами. Смотрим на&nbsp;охваты и&nbsp;на&nbsp;действия, которые приближают клиента к&nbsp;визиту или заявке.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Соблюдение правил площадок и&nbsp;модерации</h3>
            <p data-v-4ed7dc78="" class="block__description">Следим за&nbsp;требованиями Яндекс Карт, 2ГИС и&nbsp;закона о&nbsp;рекламе. Готовим материалы к&nbsp;размещению, учитываем ограничения ниш, помогаем проходить модерацию и&nbsp;корректно оформлять рекламные публикации.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-setup-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Настройка продвижения в&nbsp;Яндекс Картах и&nbsp;2ГИС</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Готовим карточки и&nbsp;рекламные размещения к&nbsp;запуску: проверяем данные компании, подбираем доступные форматы, настраиваем витрины, акции и&nbsp;аналитику действий пользователей в&nbsp;Яндекс Картах, Я&nbsp;Картах и&nbsp;2ГИС.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Аудит карточек и&nbsp;подготовка к&nbsp;размещению</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Проверяем карточки компании: рубрики, адреса, телефоны, график, ссылки, фото, описания, товары, услуги и&nbsp;акции. Исправляем ошибки, которые могут мешать модерации, показам и&nbsp;переходам из&nbsp;карт.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Подбор рекламных форматов</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Подбираем форматы под&nbsp;задачу бизнеса: приоритетное размещение, брендированное размещение, иконки в&nbsp;рубриках, витрины товаров, акции, медийные форматы или рекламу в&nbsp;навигаторе. Для&nbsp;2ГИС учитываем геоконтекстную рекламу, рекламу товаров и&nbsp;услуг, баннеры и&nbsp;размещения в&nbsp;карточках партнёров.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Конкурентная аналитика перед запуском</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Смотрим размещения основных конкурентов, их активность в&nbsp;карточках, публикации, обновления и&nbsp;доступные данные по&nbsp;трафику. Это помогает понять, какие рекламные форматы уже используются в&nbsp;нише и&nbsp;какие точки контакта стоит усилить на&nbsp;старте.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Аудит карточек и&nbsp;подготовка к&nbsp;размещению</h3>
            <p data-v-4ed7dc78="" class="block__description">Проверяем карточки компании: рубрики, адреса, телефоны, график, ссылки, фото, описания, товары, услуги и&nbsp;акции. Исправляем ошибки, которые могут мешать модерации, показам и&nbsp;переходам из&nbsp;карт.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Подбор рекламных форматов</h3>
            <p data-v-4ed7dc78="" class="block__description">Подбираем форматы под&nbsp;задачу бизнеса: приоритетное размещение, брендированное размещение, иконки в&nbsp;рубриках, витрины товаров, акции, медийные форматы или рекламу в&nbsp;навигаторе. Для&nbsp;2ГИС учитываем геоконтекстную рекламу, рекламу товаров и&nbsp;услуг, баннеры и&nbsp;размещения в&nbsp;карточках партнёров.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Конкурентная аналитика перед запуском</h3>
            <p data-v-4ed7dc78="" class="block__description">Смотрим размещения основных конкурентов, их активность в&nbsp;карточках, публикации, обновления и&nbsp;доступные данные по&nbsp;трафику. Это помогает понять, какие рекламные форматы уже используются в&nbsp;нише и&nbsp;какие точки контакта стоит усилить на&nbsp;старте.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-management-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Ведение продвижения на&nbsp;картах</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">После запуска контролируем размещения, поддерживаем карточки в&nbsp;актуальном состоянии и&nbsp;собираем статистику по&nbsp;действиям пользователей. По&nbsp;итогам периода формируем выводы для&nbsp;следующих рекламных кампаний в&nbsp;Яндекс Картах и&nbsp;ДубльГИС.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Контроль размещений и&nbsp;модерации</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Следим, чтобы рекламные форматы корректно отображались в&nbsp;карточках, поиске, рубриках, витринах и&nbsp;на&nbsp;карте. Проверяем статусы, сроки размещения, прохождение модерации и&nbsp;корректность рекламных элементов.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Обновление карточек, акций и&nbsp;витрин</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Актуализируем фото, услуги, товары, акции, публикации и&nbsp;другую информацию, которая помогает пользователю быстрее выбрать компанию. Поддерживаем карточки живыми, чтобы они работали не&nbsp;только как адрес в&nbsp;справочнике, но&nbsp;и&nbsp;как точка продажи.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Аналитика и&nbsp;рекомендации для&nbsp;следующих РК</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Собираем статистику по&nbsp;показам, открытиям карточки, звонкам, построенным маршрутам и&nbsp;переходам на&nbsp;сайт. По&nbsp;итогам размещения оцениваем, какие филиалы, категории и&nbsp;форматы сработали сильнее, и&nbsp;рекомендуем изменения для&nbsp;следующего периода: например, сменить приоритетное размещение на&nbsp;брендированное, добавить логотип в&nbsp;рубрике, усилить витрину товаров или протестировать другой формат в&nbsp;2ГИС.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Контроль размещений и&nbsp;модерации</h3>
            <p data-v-4ed7dc78="" class="block__description">Следим, чтобы рекламные форматы корректно отображались в&nbsp;карточках, поиске, рубриках, витринах и&nbsp;на&nbsp;карте. Проверяем статусы, сроки размещения, прохождение модерации и&nbsp;корректность рекламных элементов.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Обновление карточек, акций и&nbsp;витрин</h3>
            <p data-v-4ed7dc78="" class="block__description">Актуализируем фото, услуги, товары, акции, публикации и&nbsp;другую информацию, которая помогает пользователю быстрее выбрать компанию. Поддерживаем карточки живыми, чтобы они работали не&nbsp;только как адрес в&nbsp;справочнике, но&nbsp;и&nbsp;как точка продажи.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Аналитика и&nbsp;рекомендации для&nbsp;следующих РК</h3>
            <p data-v-4ed7dc78="" class="block__description">Собираем статистику по&nbsp;показам, открытиям карточки, звонкам, построенным маршрутам и&nbsp;переходам на&nbsp;сайт. По&nbsp;итогам размещения оцениваем, какие филиалы, категории и&nbsp;форматы сработали сильнее, и&nbsp;рекомендуем изменения для&nbsp;следующего периода: например, сменить приоритетное размещение на&nbsp;брендированное, добавить логотип в&nbsp;рубрике, усилить витрину товаров или протестировать другой формат в&nbsp;2ГИС.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- YMAPS-CONTENT-BLOCKS-END -->
