<!-- DZEN-INTRO-BLOCK-START -->
<section class="page-constructor__section dzen-articles-intro-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Статьи, которые работают на&nbsp;трафик и&nbsp;продажи</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Готовим контент под формат площадок и&nbsp;настраиваем продвижение, чтобы материалы набирали показы и&nbsp;дочитывания. Настраиваем точный таргетинг и&nbsp;аналитику&nbsp;— ваши статьи видят люди из&nbsp;нужных сегментов, а&nbsp;трафик приходит на&nbsp;сайт без лишних действий.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-INTRO-BLOCK-END -->
