<!-- DZEN-NOT-FIT-BLOCK-START -->
<section class="page-constructor__section dzen-not-fit-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Кому не&nbsp;подойдет</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks dzen-three-col-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Бизнесу без сайта</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Для трафика нужна посадочная страница и&nbsp;возможность связаться с&nbsp;компанией или оставить заявку.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Тем, кому нужны клиенты «здесь и&nbsp;сейчас»</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">В&nbsp;этом случае лучше работает контекстная реклама и&nbsp;SEO-продвижение.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Если рекламный бюджет меньше 75&nbsp;000&nbsp;₽</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">На&nbsp;запуск рекламы есть ограничение по&nbsp;минимальному бюджету на&nbsp;площадках.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks dzen-three-col-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Бизнесу без сайта</h3>
            <p data-v-4ed7dc78="" class="block__description">Для трафика нужна посадочная страница и&nbsp;возможность связаться с&nbsp;компанией или оставить заявку.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Тем, кому нужны клиенты «здесь и&nbsp;сейчас»</h3>
            <p data-v-4ed7dc78="" class="block__description">В&nbsp;этом случае лучше работает контекстная реклама и&nbsp;SEO-продвижение.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если рекламный бюджет меньше 75&nbsp;000&nbsp;₽</h3>
            <p data-v-4ed7dc78="" class="block__description">На&nbsp;запуск рекламы есть ограничение по&nbsp;минимальному бюджету на&nbsp;площадках.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-NOT-FIT-BLOCK-END -->
