<!-- YMAPS-PRICING-TABLES-START -->
<section class="page-constructor__section ymaps-pricing-heading">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Стоимость</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-pricing-dies">
  <div data-v-07db1e8a="" class="dies modern">
    <div data-v-07db1e8a="" class="page__container">
      <section data-v-1505791e="" data-v-07db1e8a="" class="prices">
        <div class="ymaps-pricing-tables">
          <div class="ymaps-pricing-tables__group">
            <h3 class="ymaps-pricing-tables__group-title">Работы:</h3>
            <figure class="ymaps-pricing-tables__figure">
              <div class="ymaps-pricing-tables__scroll">
                <table class="ymaps-pricing-tables__table ymaps-pricing-tables__table--works">
                  <caption class="ymaps-pricing-tables__caption">Стоимость работ по продвижению в Яндекс Картах и 2ГИС</caption>
                  <thead>
                    <tr>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--feature">Формат продвижения</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Стоимость первого месяца</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Стоимость со&nbsp;второго месяца</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение до&nbsp;5&nbsp;филиалов</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">40&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">20&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение 6–10&nbsp;филиалов</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">50&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">25&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение более 10&nbsp;филиалов</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;60&nbsp;000&nbsp;₽</td>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;30&nbsp;000&nbsp;₽</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </figure>
          </div>

          <div class="ymaps-pricing-tables__group">
            <h3 class="ymaps-pricing-tables__group-title">Бюджеты:</h3>
            <figure class="ymaps-pricing-tables__figure">
              <div class="ymaps-pricing-tables__scroll">
                <table class="ymaps-pricing-tables__table ymaps-pricing-tables__table--budgets">
                  <caption class="ymaps-pricing-tables__caption">Минимальные рекламные бюджеты на филиал</caption>
                  <thead>
                    <tr>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--feature">Формат размещения</th>
                      <th scope="col" class="ymaps-pricing-tables__th ymaps-pricing-tables__th--price">Минимальный бюджет на&nbsp;филиал</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Приоритетное размещение</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;10&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Брендированное приоритетное размещение</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;149&nbsp;940&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Супербрендированное приоритетное размещение</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;290&nbsp;880&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Брендированный сетевой фильтр (для&nbsp;сетей)</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;50&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">3D-макет объекта (недвижимость, ЖК)</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;500&nbsp;000&nbsp;₽</td>
                    </tr>
                    <tr>
                      <th scope="row" class="ymaps-pricing-tables__row-label">Продвижение в&nbsp;карточках организаций</th>
                      <td class="ymaps-pricing-tables__cell ymaps-pricing-tables__cell--price">от&nbsp;900&nbsp;000&nbsp;₽</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </figure>
          </div>

          <p class="ymaps-pricing-tables__note">
            <strong>Минимальный срок размещения&nbsp;— 90&nbsp;дней.</strong> Для&nbsp;повышения эффективности продвижения и&nbsp;накопления статистики рекомендуем долгосрочное размещение. При размещении на&nbsp;срок от&nbsp;90&nbsp;дней предоставляются скидки от&nbsp;15% до&nbsp;25%.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- YMAPS-PRICING-TABLES-END -->
