<!-- YMAPS-COST-FACTORS-START -->
<section class="page-constructor__section ymaps-cost-factors-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Что влияет на&nbsp;стоимость продвижения</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Рекомендуемый бюджет рассчитывается индивидуально. Мы учитываем количество филиалов, регион продвижения, конкуренцию и&nbsp;рекламные форматы, чтобы обеспечить максимальную видимость бизнеса в&nbsp;Картах и&nbsp;2ГИС без переплат за&nbsp;размещение. Ниже&nbsp;— основные факторы, от&nbsp;которых зависит стоимость работ и&nbsp;рекомендуемый бюджет на&nbsp;размещение.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Количество филиалов</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Чем больше адресов необходимо продвигать, тем выше объём работ и&nbsp;рекламный бюджет.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Регион продвижения</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Стоимость размещения различается в&nbsp;зависимости от&nbsp;города и&nbsp;уровня конкуренции в&nbsp;регионе.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Категория бизнеса</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Для&nbsp;популярных и&nbsp;конкурентных тематик требуется больший бюджет для&nbsp;получения заметных позиций.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Уровень конкуренции</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Чем больше компаний рекламируются в&nbsp;выбранной категории и&nbsp;локации, тем выше рекомендуемый бюджет.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Срок размещения</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Доступны размещения на&nbsp;90, 180 и&nbsp;360&nbsp;дней. При долгосрочном размещении предоставляются скидки до&nbsp;25%.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Выбранные рекламные форматы</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">На&nbsp;бюджет влияет набор подключаемых инструментов: рекламная подписка, приоритетное размещение, брендирование и&nbsp;другие форматы.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Количество филиалов</h3>
            <p data-v-4ed7dc78="" class="block__description">Чем больше адресов необходимо продвигать, тем выше объём работ и&nbsp;рекламный бюджет.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Регион продвижения</h3>
            <p data-v-4ed7dc78="" class="block__description">Стоимость размещения различается в&nbsp;зависимости от&nbsp;города и&nbsp;уровня конкуренции в&nbsp;регионе.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Категория бизнеса</h3>
            <p data-v-4ed7dc78="" class="block__description">Для&nbsp;популярных и&nbsp;конкурентных тематик требуется больший бюджет для&nbsp;получения заметных позиций.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Уровень конкуренции</h3>
            <p data-v-4ed7dc78="" class="block__description">Чем больше компаний рекламируются в&nbsp;выбранной категории и&nbsp;локации, тем выше рекомендуемый бюджет.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Срок размещения</h3>
            <p data-v-4ed7dc78="" class="block__description">Доступны размещения на&nbsp;90, 180 и&nbsp;360&nbsp;дней. При долгосрочном размещении предоставляются скидки до&nbsp;25%.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Выбранные рекламные форматы</h3>
            <p data-v-4ed7dc78="" class="block__description">На&nbsp;бюджет влияет набор подключаемых инструментов: рекламная подписка, приоритетное размещение, брендирование и&nbsp;другие форматы.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- YMAPS-COST-FACTORS-END -->
