<!-- DZEN-ENGAGEMENT-FUNNEL-BLOCK-START -->
<section class="page-constructor__section dzen-engagement-funnel-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Воронка вовлечения</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks dzen-advantages-grid">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Привлечение внимания</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Создаем форматы контента, которые с&nbsp;большей вероятностью привлекут внимание пользователей площадки к&nbsp;вашему бренду.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Формирование репутации</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Разрабатываем контент, который поможет полностью раскрыть особенности и&nbsp;преимущества вашего продукта относительно конкурентов, чтобы сформировать репутацию в&nbsp;глазах потребителя.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper dzen-advantages-grid__illustration">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item dzen-advantages-grid__figure-item">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-statey-v-dzene-i-promostranitsah/engagement-funnel-illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="549" height="537">
              </figure>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Повышение лояльности</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Прорабатываем контент, который сможет повысить лояльность у&nbsp;аудитории, уже имеющей опыт использования продукта. После этого этапа снизится стоимость одной продажи продукта/услуги.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Продающий контент</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Начинаем активно продвигать контент только после того, как станет понятно, что имидж бренда в&nbsp;глазах потребителя окончательно сформирован, и&nbsp;аудитория осознает преимущества продукта. Реализуем продающие форматы, запускаем охватную кампанию.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks dzen-advantages-grid dzen-advantages-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Привлечение внимания</h3>
            <p data-v-4ed7dc78="" class="block__description">Создаем форматы контента, которые с&nbsp;большей вероятностью привлекут внимание пользователей площадки к&nbsp;вашему бренду.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Формирование репутации</h3>
            <p data-v-4ed7dc78="" class="block__description">Разрабатываем контент, который поможет полностью раскрыть особенности и&nbsp;преимущества вашего продукта относительно конкурентов, чтобы сформировать репутацию в&nbsp;глазах потребителя.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item dzen-advantages-grid__figure-item">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-statey-v-dzene-i-promostranitsah/engagement-funnel-illustration.png" alt="" loading="lazy" class="block-item__figure-img" width="549" height="537">
            </figure>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Повышение лояльности</h3>
            <p data-v-4ed7dc78="" class="block__description">Прорабатываем контент, который сможет повысить лояльность у&nbsp;аудитории, уже имеющей опыт использования продукта. После этого этапа снизится стоимость одной продажи продукта/услуги.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Продающий контент</h3>
            <p data-v-4ed7dc78="" class="block__description">Начинаем активно продвигать контент только после того, как станет понятно, что имидж бренда в&nbsp;глазах потребителя окончательно сформирован, и&nbsp;аудитория осознает преимущества продукта. Реализуем продающие форматы, запускаем охватную кампанию.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DZEN-ENGAGEMENT-FUNNEL-BLOCK-END -->
