<section class="page-constructor__section ymaps-formats-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Виды продвижения в&nbsp;Яндекс Картах и&nbsp;2ГИС</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Подбираем формат размещения под&nbsp;задачу бизнеса: увеличить видимость в&nbsp;поиске карт, привести пользователей в&nbsp;филиалы, продвинуть товары и&nbsp;услуги или усилить узнаваемость бренда. Используем рекламные возможности Яндекс Карт и&nbsp;2ГИС, чтобы сопровождать клиента в&nbsp;момент выбора.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks ymaps-formats-grid">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/priority-yandex-maps.png" alt="Пример приоритетного размещения в Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
              </figure>
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Приоритетное размещение в&nbsp;Яндекс Картах</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Помогает компании показываться выше в&nbsp;результатах поиска на&nbsp;картах и&nbsp;выделяться среди конкурентов. Пользователь видит расширенную карточку, может перейти на&nbsp;сайт, позвонить, построить маршрут или изучить услуги и&nbsp;акции.</p>
              <p data-v-4ed7dc78="" class="block__description">Формат подходит бизнесу, которому важно усилить присутствие в&nbsp;локальной выдаче и&nbsp;получать больше целевых действий из&nbsp;Яндекс Карт.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/branded-ya-maps.png" alt="Пример брендированного размещения в Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
              </figure>
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Брендированные форматы в&nbsp;Яндекс Картах</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Используем брендированное и&nbsp;супербрендированное приоритетное размещение, метки компании, логотипы в&nbsp;рубриках и&nbsp;сетевые фильтры. Такие форматы помогают сделать бренд заметнее на&nbsp;карте и&nbsp;в&nbsp;поисковой выдаче.</p>
              <p data-v-4ed7dc78="" class="block__description">Подходят федеральным сетям, девелоперам, ритейлу, медицинским центрам, ресторанам и&nbsp;другим компаниям, которым важно выделиться в&nbsp;конкурентной локации.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/geocontext-2gis.png" alt="Пример геоконтекстной рекламы в 2ГИС" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
              </figure>
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Геоконтекстная реклама в&nbsp;2ГИС</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Показывает рекламу пользователям, которые ищут компании по&nbsp;рубрикам, товарам, услугам или конкурентным организациям. Объявление может вести к&nbsp;звонку, сайту, заявке, маршруту или карточке компании.</p>
              <p data-v-4ed7dc78="" class="block__description">Формат помогает работать с&nbsp;горячим локальным спросом в&nbsp;ДубльГИС и&nbsp;привлекать аудиторию рядом с&nbsp;точками продаж.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/showcase-products.png" alt="Пример витрины товаров и карточки Boca Room на Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
              </figure>
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Реклама товаров, услуг и&nbsp;витрин</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Размещаем товары, услуги, акции и&nbsp;специальные предложения внутри карточек и&nbsp;витрин карт. Пользователь может изучить ассортимент, перейти на&nbsp;сайт, узнать подробности или построить маршрут до&nbsp;точки продаж.</p>
              <p data-v-4ed7dc78="" class="block__description">Формат особенно полезен для&nbsp;магазинов, клиник, сервисных компаний, ресторанов, фитнеса и&nbsp;бизнеса с&nbsp;большим каталогом услуг или товаров.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/media-navigator-billboard.png" alt="Пример билборда в навигаторе Яндекс Карт" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
              </figure>
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Медийная реклама и&nbsp;навигатор</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Используем баннеры, логотипы на&nbsp;карте, билборды, форматы в&nbsp;навигаторе и&nbsp;другие медийные размещения в&nbsp;Яндекс Картах и&nbsp;2ГИС. Они помогают повысить узнаваемость и&nbsp;напомнить о&nbsp;бренде в&nbsp;момент движения по&nbsp;городу.</p>
              <p data-v-4ed7dc78="" class="block__description">Подходят для&nbsp;охватных кампаний, запусков новых филиалов, сезонных акций и&nbsp;продвижения бренда в&nbsp;конкретных районах или городах.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
              <figure data-v-4ed7dc78="" class="block-item__figure">
                <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/residential-3d-yandex-maps.png" alt="Пример 3D-макета жилого комплекса «Символ» в Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
              </figure>
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">3D-модели и&nbsp;продвижение ЖК в&nbsp;Яндекс Картах</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Для&nbsp;застройщиков и&nbsp;девелоперов используем форматы, которые помогают показать объект прямо в&nbsp;картах: 3D-макеты новостроек, брендированные метки, витрины, акции и&nbsp;расширенные карточки жилых комплексов. Пользователь может увидеть расположение ЖК, оценить окружение, перейти на&nbsp;сайт, построить маршрут до&nbsp;офиса продаж или связаться с&nbsp;компанией.</p>
              <p data-v-4ed7dc78="" class="block__description">Формат подходит для&nbsp;продвижения новых жилых комплексов, офисов продаж, бизнес-центров и&nbsp;девелоперских проектов, где важно не&nbsp;только получить обращение, но&nbsp;и&nbsp;визуально выделить объект среди конкурентов на&nbsp;карте.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks ymaps-formats-grid ymaps-formats-grid--tablet">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/priority-yandex-maps.png" alt="Пример приоритетного размещения в Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
            </figure>
            <h3 data-v-4ed7dc78="" class="block__name">Приоритетное размещение в&nbsp;Яндекс Картах</h3>
            <p data-v-4ed7dc78="" class="block__description">Помогает компании показываться выше в&nbsp;результатах поиска на&nbsp;картах и&nbsp;выделяться среди конкурентов. Пользователь видит расширенную карточку, может перейти на&nbsp;сайт, позвонить, построить маршрут или изучить услуги и&nbsp;акции.</p>
            <p data-v-4ed7dc78="" class="block__description">Формат подходит бизнесу, которому важно усилить присутствие в&nbsp;локальной выдаче и&nbsp;получать больше целевых действий из&nbsp;Яндекс Карт.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/branded-ya-maps.png" alt="Пример брендированного размещения в Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
            </figure>
            <h3 data-v-4ed7dc78="" class="block__name">Брендированные форматы в&nbsp;Яндекс Картах</h3>
            <p data-v-4ed7dc78="" class="block__description">Используем брендированное и&nbsp;супербрендированное приоритетное размещение, метки компании, логотипы в&nbsp;рубриках и&nbsp;сетевые фильтры. Такие форматы помогают сделать бренд заметнее на&nbsp;карте и&nbsp;в&nbsp;поисковой выдаче.</p>
            <p data-v-4ed7dc78="" class="block__description">Подходят федеральным сетям, девелоперам, ритейлу, медицинским центрам, ресторанам и&nbsp;другим компаниям, которым важно выделиться в&nbsp;конкурентной локации.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/geocontext-2gis.png" alt="Пример геоконтекстной рекламы в 2ГИС" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
            </figure>
            <h3 data-v-4ed7dc78="" class="block__name">Геоконтекстная реклама в&nbsp;2ГИС</h3>
            <p data-v-4ed7dc78="" class="block__description">Показывает рекламу пользователям, которые ищут компании по&nbsp;рубрикам, товарам, услугам или конкурентным организациям. Объявление может вести к&nbsp;звонку, сайту, заявке, маршруту или карточке компании.</p>
            <p data-v-4ed7dc78="" class="block__description">Формат помогает работать с&nbsp;горячим локальным спросом в&nbsp;ДубльГИС и&nbsp;привлекать аудиторию рядом с&nbsp;точками продаж.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/showcase-products.png" alt="Пример витрины товаров и карточки Boca Room на Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
            </figure>
            <h3 data-v-4ed7dc78="" class="block__name">Реклама товаров, услуг и&nbsp;витрин</h3>
            <p data-v-4ed7dc78="" class="block__description">Размещаем товары, услуги, акции и&nbsp;специальные предложения внутри карточек и&nbsp;витрин карт. Пользователь может изучить ассортимент, перейти на&nbsp;сайт, узнать подробности или построить маршрут до&nbsp;точки продаж.</p>
            <p data-v-4ed7dc78="" class="block__description">Формат особенно полезен для&nbsp;магазинов, клиник, сервисных компаний, ресторанов, фитнеса и&nbsp;бизнеса с&nbsp;большим каталогом услуг или товаров.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/media-navigator-billboard.png" alt="Пример билборда в навигаторе Яндекс Карт" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
            </figure>
            <h3 data-v-4ed7dc78="" class="block__name">Медийная реклама и&nbsp;навигатор</h3>
            <p data-v-4ed7dc78="" class="block__description">Используем баннеры, логотипы на&nbsp;карте, билборды, форматы в&nbsp;навигаторе и&nbsp;другие медийные размещения в&nbsp;Яндекс Картах и&nbsp;2ГИС. Они помогают повысить узнаваемость и&nbsp;напомнить о&nbsp;бренде в&nbsp;момент движения по&nbsp;городу.</p>
            <p data-v-4ed7dc78="" class="block__description">Подходят для&nbsp;охватных кампаний, запусков новых филиалов, сезонных акций и&nbsp;продвижения бренда в&nbsp;конкретных районах или городах.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item block-item--ymaps-format">
            <figure data-v-4ed7dc78="" class="block-item__figure">
              <img data-v-4ed7dc78="" src="/_sa/img/services/prodvizhenie-yandex-karty-2gis/formats/residential-3d-yandex-maps.png" alt="Пример 3D-макета жилого комплекса «Символ» в Яндекс Картах" loading="lazy" class="block-item__figure-img" width="1488" height="1224">
            </figure>
            <h3 data-v-4ed7dc78="" class="block__name">3D-модели и&nbsp;продвижение ЖК в&nbsp;Яндекс Картах</h3>
            <p data-v-4ed7dc78="" class="block__description">Для&nbsp;застройщиков и&nbsp;девелоперов используем форматы, которые помогают показать объект прямо в&nbsp;картах: 3D-макеты новостроек, брендированные метки, витрины, акции и&nbsp;расширенные карточки жилых комплексов. Пользователь может увидеть расположение ЖК, оценить окружение, перейти на&nbsp;сайт, построить маршрут до&nbsp;офиса продаж или связаться с&nbsp;компанией.</p>
            <p data-v-4ed7dc78="" class="block__description">Формат подходит для&nbsp;продвижения новых жилых комплексов, офисов продаж, бизнес-центров и&nbsp;девелоперских проектов, где важно не&nbsp;только получить обращение, но&nbsp;и&nbsp;визуально выделить объект среди конкурентов на&nbsp;карте.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
