<!-- YMAPS-CONTENT-BLOCKS-START -->
<section class="page-constructor__section ymaps-agency-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Агентство геоперфоманса</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Помогаем бизнесу получать больше обращений из&nbsp;Яндекс Карт и&nbsp;2ГИС: звонков, построенных маршрутов, переходов на&nbsp;сайт и&nbsp;визитов в&nbsp;филиалы. Строим продвижение на&nbsp;основе географии, спроса, конкуренции и&nbsp;качества карточек, чтобы карты работали как performance-канал.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Рост видимости на&nbsp;картах</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Анализируем, как компания представлена в&nbsp;Яндекс Картах и&nbsp;2ГИС, проверяем категории, описания, услуги, фото, товары, отзывы и&nbsp;позиции среди конкурентов. На&nbsp;основе аудита формируем план, который помогает чаще показываться по&nbsp;релевантным локальным запросам.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Геореклама в&nbsp;Яндекс Картах и&nbsp;2ГИС</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Настраиваем рекламное размещение в&nbsp;картах, чтобы привлекать пользователей рядом с&nbsp;вашими филиалами или в&nbsp;целевых районах. Продвигаем карточки, акции, товары и&nbsp;услуги, усиливая контакт с&nbsp;аудиторией в&nbsp;момент выбора.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Прозрачное ценообразование</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Заранее фиксируем состав работ, стоимость ведения и&nbsp;рекомендуемый бюджет на&nbsp;размещение. Смета даст понимание за&nbsp;что будет оплата: настройку, оптимизацию, работу с&nbsp;карточками, аналитику и&nbsp;рекламный инвентарь площадок.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Работа с&nbsp;филиальными сетями</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Ведём продвижение для&nbsp;бизнеса с&nbsp;одной точкой и&nbsp;сетей до&nbsp;множества филиалов. Помогаем унифицировать карточки, поддерживать актуальность данных, запускать размещение по&nbsp;городам и&nbsp;сравнивать эффективность разных локаций.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Аналитика звонков, маршрутов и&nbsp;переходов</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Отслеживаем ключевые действия пользователей: звонки, клики на&nbsp;сайт, построения маршрутов, открытия карточек и&nbsp;взаимодействие с&nbsp;витринами. Смотрим на&nbsp;охваты и&nbsp;на&nbsp;действия, которые приближают клиента к&nbsp;визиту или заявке.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Соблюдение правил площадок и&nbsp;модерации</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Следим за&nbsp;требованиями Яндекс Карт, 2ГИС и&nbsp;закона о&nbsp;рекламе. Готовим материалы к&nbsp;размещению, учитываем ограничения ниш, помогаем проходить модерацию и&nbsp;корректно оформлять рекламные публикации.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Рост видимости на&nbsp;картах</h3>
            <p data-v-4ed7dc78="" class="block__description">Анализируем, как компания представлена в&nbsp;Яндекс Картах и&nbsp;2ГИС, проверяем категории, описания, услуги, фото, товары, отзывы и&nbsp;позиции среди конкурентов. На&nbsp;основе аудита формируем план, который помогает чаще показываться по&nbsp;релевантным локальным запросам.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Геореклама в&nbsp;Яндекс Картах и&nbsp;2ГИС</h3>
            <p data-v-4ed7dc78="" class="block__description">Настраиваем рекламное размещение в&nbsp;картах, чтобы привлекать пользователей рядом с&nbsp;вашими филиалами или в&nbsp;целевых районах. Продвигаем карточки, акции, товары и&nbsp;услуги, усиливая контакт с&nbsp;аудиторией в&nbsp;момент выбора.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Прозрачное ценообразование</h3>
            <p data-v-4ed7dc78="" class="block__description">Заранее фиксируем состав работ, стоимость ведения и&nbsp;рекомендуемый бюджет на&nbsp;размещение. Смета даст понимание за&nbsp;что будет оплата: настройку, оптимизацию, работу с&nbsp;карточками, аналитику и&nbsp;рекламный инвентарь площадок.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Работа с&nbsp;филиальными сетями</h3>
            <p data-v-4ed7dc78="" class="block__description">Ведём продвижение для&nbsp;бизнеса с&nbsp;одной точкой и&nbsp;сетей до&nbsp;множества филиалов. Помогаем унифицировать карточки, поддерживать актуальность данных, запускать размещение по&nbsp;городам и&nbsp;сравнивать эффективность разных локаций.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Аналитика звонков, маршрутов и&nbsp;переходов</h3>
            <p data-v-4ed7dc78="" class="block__description">Отслеживаем ключевые действия пользователей: звонки, клики на&nbsp;сайт, построения маршрутов, открытия карточек и&nbsp;взаимодействие с&nbsp;витринами. Смотрим на&nbsp;охваты и&nbsp;на&nbsp;действия, которые приближают клиента к&nbsp;визиту или заявке.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Соблюдение правил площадок и&nbsp;модерации</h3>
            <p data-v-4ed7dc78="" class="block__description">Следим за&nbsp;требованиями Яндекс Карт, 2ГИС и&nbsp;закона о&nbsp;рекламе. Готовим материалы к&nbsp;размещению, учитываем ограничения ниш, помогаем проходить модерацию и&nbsp;корректно оформлять рекламные публикации.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-setup-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Настройка продвижения в&nbsp;Яндекс Картах и&nbsp;2ГИС</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Готовим карточки и&nbsp;рекламные размещения к&nbsp;запуску: проверяем данные компании, подбираем доступные форматы, настраиваем витрины, акции и&nbsp;аналитику действий пользователей в&nbsp;Яндекс Картах, Я&nbsp;Картах и&nbsp;2ГИС.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Аудит карточек и&nbsp;подготовка к&nbsp;размещению</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Проверяем карточки компании: рубрики, адреса, телефоны, график, ссылки, фото, описания, товары, услуги и&nbsp;акции. Исправляем ошибки, которые могут мешать модерации, показам и&nbsp;переходам из&nbsp;карт.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Подбор рекламных форматов</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Подбираем форматы под&nbsp;задачу бизнеса: приоритетное размещение, брендированное размещение, иконки в&nbsp;рубриках, витрины товаров, акции, медийные форматы или рекламу в&nbsp;навигаторе. Для&nbsp;2ГИС учитываем геоконтекстную рекламу, рекламу товаров и&nbsp;услуг, баннеры и&nbsp;размещения в&nbsp;карточках партнёров.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Конкурентная аналитика перед запуском</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Смотрим размещения основных конкурентов, их активность в&nbsp;карточках, публикации, обновления и&nbsp;доступные данные по&nbsp;трафику. Это помогает понять, какие рекламные форматы уже используются в&nbsp;нише и&nbsp;какие точки контакта стоит усилить на&nbsp;старте.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Аудит карточек и&nbsp;подготовка к&nbsp;размещению</h3>
            <p data-v-4ed7dc78="" class="block__description">Проверяем карточки компании: рубрики, адреса, телефоны, график, ссылки, фото, описания, товары, услуги и&nbsp;акции. Исправляем ошибки, которые могут мешать модерации, показам и&nbsp;переходам из&nbsp;карт.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Подбор рекламных форматов</h3>
            <p data-v-4ed7dc78="" class="block__description">Подбираем форматы под&nbsp;задачу бизнеса: приоритетное размещение, брендированное размещение, иконки в&nbsp;рубриках, витрины товаров, акции, медийные форматы или рекламу в&nbsp;навигаторе. Для&nbsp;2ГИС учитываем геоконтекстную рекламу, рекламу товаров и&nbsp;услуг, баннеры и&nbsp;размещения в&nbsp;карточках партнёров.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Конкурентная аналитика перед запуском</h3>
            <p data-v-4ed7dc78="" class="block__description">Смотрим размещения основных конкурентов, их активность в&nbsp;карточках, публикации, обновления и&nbsp;доступные данные по&nbsp;трафику. Это помогает понять, какие рекламные форматы уже используются в&nbsp;нише и&nbsp;какие точки контакта стоит усилить на&nbsp;старте.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-management-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Ведение продвижения на&nbsp;картах</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">После запуска контролируем размещения, поддерживаем карточки в&nbsp;актуальном состоянии и&nbsp;собираем статистику по&nbsp;действиям пользователей. По&nbsp;итогам периода формируем выводы для&nbsp;следующих рекламных кампаний в&nbsp;Яндекс Картах и&nbsp;ДубльГИС.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Контроль размещений и&nbsp;модерации</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Следим, чтобы рекламные форматы корректно отображались в&nbsp;карточках, поиске, рубриках, витринах и&nbsp;на&nbsp;карте. Проверяем статусы, сроки размещения, прохождение модерации и&nbsp;корректность рекламных элементов.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Обновление карточек, акций и&nbsp;витрин</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Актуализируем фото, услуги, товары, акции, публикации и&nbsp;другую информацию, которая помогает пользователю быстрее выбрать компанию. Поддерживаем карточки живыми, чтобы они работали не&nbsp;только как адрес в&nbsp;справочнике, но&nbsp;и&nbsp;как точка продажи.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Аналитика и&nbsp;рекомендации для&nbsp;следующих РК</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Собираем статистику по&nbsp;показам, открытиям карточки, звонкам, построенным маршрутам и&nbsp;переходам на&nbsp;сайт. По&nbsp;итогам размещения оцениваем, какие филиалы, категории и&nbsp;форматы сработали сильнее, и&nbsp;рекомендуем изменения для&nbsp;следующего периода: например, сменить приоритетное размещение на&nbsp;брендированное, добавить логотип в&nbsp;рубрике, усилить витрину товаров или протестировать другой формат в&nbsp;2ГИС.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Контроль размещений и&nbsp;модерации</h3>
            <p data-v-4ed7dc78="" class="block__description">Следим, чтобы рекламные форматы корректно отображались в&nbsp;карточках, поиске, рубриках, витринах и&nbsp;на&nbsp;карте. Проверяем статусы, сроки размещения, прохождение модерации и&nbsp;корректность рекламных элементов.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Обновление карточек, акций и&nbsp;витрин</h3>
            <p data-v-4ed7dc78="" class="block__description">Актуализируем фото, услуги, товары, акции, публикации и&nbsp;другую информацию, которая помогает пользователю быстрее выбрать компанию. Поддерживаем карточки живыми, чтобы они работали не&nbsp;только как адрес в&nbsp;справочнике, но&nbsp;и&nbsp;как точка продажи.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Аналитика и&nbsp;рекомендации для&nbsp;следующих РК</h3>
            <p data-v-4ed7dc78="" class="block__description">Собираем статистику по&nbsp;показам, открытиям карточки, звонкам, построенным маршрутам и&nbsp;переходам на&nbsp;сайт. По&nbsp;итогам размещения оцениваем, какие филиалы, категории и&nbsp;форматы сработали сильнее, и&nbsp;рекомендуем изменения для&nbsp;следующего периода: например, сменить приоритетное размещение на&nbsp;брендированное, добавить логотип в&nbsp;рубрике, усилить витрину товаров или протестировать другой формат в&nbsp;2ГИС.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- YMAPS-CASES-SLIDER -->
<!-- YMAPS-CASES-SLIDER-2 -->

<section class="page-constructor__section ymaps-kpi-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Как оценивается эффективность продвижения</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Оцениваем результат по&nbsp;согласованной системе KPI, связанной с&nbsp;целями бизнеса: звонками, маршрутами, переходами на&nbsp;сайт, заявками и&nbsp;продажами. Такой подход помогает понимать вклад Яндекс Карт и&nbsp;2ГИС в&nbsp;обращения, онлайн-заказы и&nbsp;офлайн-визиты.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Прозрачная система KPI</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Эффективность продвижения на&nbsp;картах оценивается по&nbsp;заранее согласованным показателям: показам карточки, открытиям, кликам, звонкам, построенным маршрутам, переходам на&nbsp;сайт и&nbsp;действиям с&nbsp;товарами или услугами. Это позволяет смотреть не&nbsp;только на&nbsp;охват, но&nbsp;и&nbsp;на&nbsp;реальные точки контакта пользователя с&nbsp;бизнесом.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Оценка стоимости и&nbsp;окупаемости</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Для&nbsp;анализа используем ключевые метрики эффективности: стоимость звонка, маршрута, перехода, заявки или целевого обращения. Онлайн-продажи связываем с&nbsp;рекламой через систему сквозной аналитики, а&nbsp;офлайн-продажи можем отслеживать через промокоды, отдельные предложения и&nbsp;данные клиента.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Контроль качества лидов и&nbsp;продаж</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">При оценке учитываем не&nbsp;только количество обращений, но&nbsp;и&nbsp;их дальнейшее качество: заявки, записи, покупки, визиты в&nbsp;филиалы и&nbsp;повторные контакты. Данные из&nbsp;карт, CRM, коллтрекинга, сквозной аналитики и&nbsp;промокодов помогают понять, какие размещения дают не&nbsp;просто трафик, а&nbsp;вклад в&nbsp;продажи.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Прозрачная система KPI</h3>
            <p data-v-4ed7dc78="" class="block__description">Эффективность продвижения на&nbsp;картах оценивается по&nbsp;заранее согласованным показателям: показам карточки, открытиям, кликам, звонкам, построенным маршрутам, переходам на&nbsp;сайт и&nbsp;действиям с&nbsp;товарами или услугами. Это позволяет смотреть не&nbsp;только на&nbsp;охват, но&nbsp;и&nbsp;на&nbsp;реальные точки контакта пользователя с&nbsp;бизнесом.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Оценка стоимости и&nbsp;окупаемости</h3>
            <p data-v-4ed7dc78="" class="block__description">Для&nbsp;анализа используем ключевые метрики эффективности: стоимость звонка, маршрута, перехода, заявки или целевого обращения. Онлайн-продажи связываем с&nbsp;рекламой через систему сквозной аналитики, а&nbsp;офлайн-продажи можем отслеживать через промокоды, отдельные предложения и&nbsp;данные клиента.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Контроль качества лидов и&nbsp;продаж</h3>
            <p data-v-4ed7dc78="" class="block__description">При оценке учитываем не&nbsp;только количество обращений, но&nbsp;и&nbsp;их дальнейшее качество: заявки, записи, покупки, визиты в&nbsp;филиалы и&nbsp;повторные контакты. Данные из&nbsp;карт, CRM, коллтрекинга, сквозной аналитики и&nbsp;промокодов помогают понять, какие размещения дают не&nbsp;просто трафик, а&nbsp;вклад в&nbsp;продажи.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-constructor__section ymaps-reporting-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Отчётность и&nbsp;гарантии</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Фиксируем правила взаимодействия, состав отчётности и&nbsp;SLA до&nbsp;старта работ. Это делает процесс прогнозируемым для&nbsp;команды клиента и&nbsp;упрощает контроль выполнения задач.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">SLA и&nbsp;сроки запуска</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Мы работаем по&nbsp;SLA с&nbsp;фиксированными сроками и&nbsp;прозрачным распределением задач на&nbsp;каждом этапе проекта. Старт работ начинается в&nbsp;день оплаты, а&nbsp;настройка рекламных кампаний занимает от&nbsp;одной до&nbsp;двух недель в&nbsp;зависимости от&nbsp;объёма и&nbsp;сложности проекта.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Прозрачная отчётность</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Мы предоставляем отчётность в&nbsp;удобном формате: Google Sheets, дашборды, PDF или презентации. В&nbsp;отчёты включаем расходы, заявки, CPL, аналитику и&nbsp;рекомендации по&nbsp;оптимизации, а&nbsp;при наличии данных по&nbsp;продажам&nbsp;— также ROMI и&nbsp;показатели окупаемости рекламы.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Коммуникация с&nbsp;командой</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Над проектом работает аккаунт-менеджер, тимлид контекстной рекламы, специалист по&nbsp;контекстной рекламе и&nbsp;аналитик. Мы ведём коммуникацию через чаты, почту и&nbsp;регулярные встречи, а&nbsp;на&nbsp;сообщения и&nbsp;правки отвечаем в&nbsp;течение рабочего дня.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Контроль и&nbsp;прозрачность работы</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Мы предоставляем доступы к&nbsp;рекламным кабинетам и&nbsp;системам аналитики для&nbsp;полного контроля расходов и&nbsp;результатов. Для&nbsp;отслеживания задач и&nbsp;сроков используем таймлайн со&nbsp;списком работ, дедлайнами и&nbsp;актуальными статусами готовности по&nbsp;каждому этапу проекта.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Маркировка рекламы и&nbsp;безопасность</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Мы автоматически маркируем рекламные материалы через ОРД Яндекса в&nbsp;соответствии с&nbsp;законодательством РФ и&nbsp;берём на&nbsp;себя передачу всех необходимых данных. Конфиденциальность информации фиксируем через NDA, а&nbsp;рекламные кампании оптимизируем минимум раз в&nbsp;неделю для&nbsp;достижения KPI и&nbsp;роста эффективности.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item" aria-hidden="true" style="visibility:hidden;">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">&nbsp;</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">SLA и&nbsp;сроки запуска</h3>
            <p data-v-4ed7dc78="" class="block__description">Мы работаем по&nbsp;SLA с&nbsp;фиксированными сроками и&nbsp;прозрачным распределением задач на&nbsp;каждом этапе проекта. Старт работ начинается в&nbsp;день оплаты, а&nbsp;настройка рекламных кампаний занимает от&nbsp;одной до&nbsp;двух недель в&nbsp;зависимости от&nbsp;объёма и&nbsp;сложности проекта.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Прозрачная отчётность</h3>
            <p data-v-4ed7dc78="" class="block__description">Мы предоставляем отчётность в&nbsp;удобном формате: Google Sheets, дашборды, PDF или презентации. В&nbsp;отчёты включаем расходы, заявки, CPL, аналитику и&nbsp;рекомендации по&nbsp;оптимизации, а&nbsp;при наличии данных по&nbsp;продажам&nbsp;— также ROMI и&nbsp;показатели окупаемости рекламы.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Коммуникация с&nbsp;командой</h3>
            <p data-v-4ed7dc78="" class="block__description">Над проектом работает аккаунт-менеджер, тимлид контекстной рекламы, специалист по&nbsp;контекстной рекламе и&nbsp;аналитик. Мы ведём коммуникацию через чаты, почту и&nbsp;регулярные встречи, а&nbsp;на&nbsp;сообщения и&nbsp;правки отвечаем в&nbsp;течение рабочего дня.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Контроль и&nbsp;прозрачность работы</h3>
            <p data-v-4ed7dc78="" class="block__description">Мы предоставляем доступы к&nbsp;рекламным кабинетам и&nbsp;системам аналитики для&nbsp;полного контроля расходов и&nbsp;результатов. Для&nbsp;отслеживания задач и&nbsp;сроков используем таймлайн со&nbsp;списком работ, дедлайнами и&nbsp;актуальными статусами готовности по&nbsp;каждому этапу проекта.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Маркировка рекламы и&nbsp;безопасность</h3>
            <p data-v-4ed7dc78="" class="block__description">Мы автоматически маркируем рекламные материалы через ОРД Яндекса в&nbsp;соответствии с&nbsp;законодательством РФ и&nbsp;берём на&nbsp;себя передачу всех необходимых данных. Конфиденциальность информации фиксируем через NDA, а&nbsp;рекламные кампании оптимизируем минимум раз в&nbsp;неделю для&nbsp;достижения KPI и&nbsp;роста эффективности.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- YMAPS-CONTENT-BLOCKS-END -->
