<!-- YMAPS-FACTS-START -->
<section class="page-constructor__section ymaps-utp-facts-section">
  <div class="facts ymaps-utp-facts">
    <div class="page__container desktop">
      <ul class="facts__items facts__items--desktop ymaps-utp-facts__grid">
        <li class="facts__item facts__item--stacked">
          <div class="facts__number facts__number--stat">От 1 до 43 филиалов</div>
          <p class="facts__text">уже продвигаем в&nbsp;Яндекс Картах и&nbsp;2ГИС для&nbsp;локальных компаний и&nbsp;федеральных сетей</p>
        </li>
        <li class="facts__item facts__item--stacked">
          <div class="facts__number facts__number--stat">От 15% до 25%</div>
          <p class="facts__text">скидка для&nbsp;наших клиентов на&nbsp;размещение при запуске от&nbsp;3 до&nbsp;12 месяцев</p>
        </li>
        <li class="facts__item facts__item--stacked">
          <div class="facts__number facts__number--stat">20&nbsp;000+ товаров</div>
          <p class="facts__text">размещаем в&nbsp;витринах карт и&nbsp;ведём пользователей к&nbsp;заказу на&nbsp;сайте</p>
        </li>
      </ul>
      <ul class="facts__items facts__items--mobile ymaps-utp-facts__grid">
        <li class="facts__item facts__item--stacked">
          <div class="facts__number facts__number--stat">От 1 до 43 филиалов</div>
          <p class="facts__text">уже продвигаем в&nbsp;Яндекс Картах и&nbsp;2ГИС для&nbsp;локальных компаний и&nbsp;федеральных сетей</p>
        </li>
        <li class="facts__item facts__item--stacked">
          <div class="facts__number facts__number--stat">От 15% до 25%</div>
          <p class="facts__text">скидка для&nbsp;наших клиентов на&nbsp;размещение при запуске от&nbsp;3 до&nbsp;12 месяцев</p>
        </li>
        <li class="facts__item facts__item--stacked">
          <div class="facts__number facts__number--stat">20&nbsp;000+ товаров</div>
          <p class="facts__text">размещаем в&nbsp;витринах карт и&nbsp;ведём пользователей к&nbsp;заказу на&nbsp;сайте</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- YMAPS-FACTS-END -->
