<!-- INTERNET-MAGAZINA-FEATURES-START -->
<section class="page-constructor__section internet-magazina-features-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet" aria-hidden="true"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Особенности разработки интернет-магазина</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom internet-magazina-features-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Структура</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Выбираем верную структуру с&nbsp;удобным разведением по&nbsp;разделам и&nbsp;вложенности каждого
              родительского раздела. Структура определяется направленностью вашей компании и&nbsp;ее&nbsp;позиционированием.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Карточка товара</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              В карточке показываем и&nbsp;рассказываем о&nbsp;товаре ровно столько, сколько нужно. Проектирование
              карточки товара может&nbsp;быть реализовано по-разному, и&nbsp;в&nbsp;каждом случае решение зависит
              от&nbsp;ниши товарной матрицы. Карточка может&nbsp;быть как&nbsp;супермаленькой и&nbsp;заточенной
              на&nbsp;фото, так&nbsp;и&nbsp;супербольшой и&nbsp;заточенной на&nbsp;различные характеристики.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Фильтры</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Структура включает в&nbsp;себя каталог. А&nbsp;каталог в&nbsp;свою очередь состоит из&nbsp;таких
              элементов управления, как&nbsp;фильтры. Это&nbsp;может быть общий фильтр или&nbsp;же&nbsp;фильтр,
              персонализированный под&nbsp;отдельную категорию. Выбор, какие фильтры и&nbsp;как будут установлены
              на&nbsp;сайте, должен исходить из&nbsp;того, как&nbsp;лучше распродаются товары среди вашей целевой
              аудитории.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Прорабатываем пользовательские сценарии</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Покупатели, которые приходят на&nbsp;сайт, хотят как&nbsp;можно проще и&nbsp;быстрее по&nbsp;нему
              передвигаться. Поэтому цепочка действий, которую&nbsp;они осуществляют при&nbsp;просмотре
              и&nbsp;покупке товаров, должна быть максимально удобной и&nbsp;короткой.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Превью карточки товара</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Задача превью карточки — завлечь покупателя так, чтобы&nbsp;он захотел посмотреть подробности
              о&nbsp;товаре. Мы&nbsp;продумываем, что&nbsp;вывести в&nbsp;превью: показывать&nbsp;ли размеры
              и&nbsp;цвета, делать&nbsp;ли карусель из&nbsp;фото или, наоборот, оставить одну фотокарточку,
              чтобы&nbsp;покупатель заинтересовался и&nbsp;кликнул на&nbsp;сам&nbsp;товар.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Интеграция</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Многие интернет-магазины не&nbsp;хотят управлять матрицей одновременно и&nbsp;в&nbsp;офлайн-магазинах.
              Это&nbsp;непросто, так&nbsp;как приходится следить за&nbsp;тем, чтобы&nbsp;зарезервированный
              в&nbsp;онлайн-магазине товар оставался на&nbsp;складе. Для&nbsp;этого необходима интеграция
              с&nbsp;каталогом продукции и&nbsp;в&nbsp;онлайн-, и&nbsp;в&nbsp;офлайн-магазинах. Также разрабатываем
              систему, в&nbsp;которой настроена интеграция с&nbsp;базой товаров, чтобы&nbsp;вы понимали, кто произвел
              заказ, а&nbsp;кто отменил покупку.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom internet-magazina-features-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Структура</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Выбираем верную структуру с&nbsp;удобным разведением по&nbsp;разделам и&nbsp;вложенности каждого
              родительского раздела. Структура определяется направленностью вашей компании и&nbsp;ее&nbsp;позиционированием.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Превью карточки товара</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Задача превью карточки — завлечь покупателя так, чтобы&nbsp;он захотел посмотреть подробности
              о&nbsp;товаре. Мы&nbsp;продумываем, что&nbsp;вывести в&nbsp;превью: показывать&nbsp;ли размеры
              и&nbsp;цвета, делать&nbsp;ли карусель из&nbsp;фото или, наоборот, оставить одну фотокарточку,
              чтобы&nbsp;покупатель заинтересовался и&nbsp;кликнул на&nbsp;сам&nbsp;товар.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Прорабатываем пользовательские сценарии</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Покупатели, которые приходят на&nbsp;сайт, хотят как&nbsp;можно проще и&nbsp;быстрее по&nbsp;нему
              передвигаться. Поэтому цепочка действий, которую&nbsp;они осуществляют при&nbsp;просмотре
              и&nbsp;покупке товаров, должна быть максимально удобной и&nbsp;короткой.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Карточка товара</h3>
            <p data-v-4ed7dc78="" class="block__description">
              В карточке показываем и&nbsp;рассказываем о&nbsp;товаре ровно столько, сколько нужно. Проектирование
              карточки товара может&nbsp;быть реализовано по-разному, и&nbsp;в&nbsp;каждом случае решение зависит
              от&nbsp;ниши товарной матрицы. Карточка может&nbsp;быть как&nbsp;супермаленькой и&nbsp;заточенной
              на&nbsp;фото, так&nbsp;и&nbsp;супербольшой и&nbsp;заточенной на&nbsp;различные характеристики.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Фильтры</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Структура включает в&nbsp;себя каталог. А&nbsp;каталог в&nbsp;свою очередь состоит из&nbsp;таких
              элементов управления, как&nbsp;фильтры. Это&nbsp;может быть общий фильтр или&nbsp;же&nbsp;фильтр,
              персонализированный под&nbsp;отдельную категорию. Выбор, какие фильтры и&nbsp;как будут установлены
              на&nbsp;сайте, должен исходить из&nbsp;того, как&nbsp;лучше распродаются товары среди вашей целевой
              аудитории.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Интеграция</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Многие интернет-магазины не&nbsp;хотят управлять матрицей одновременно и&nbsp;в&nbsp;офлайн-магазинах.
              Это&nbsp;непросто, так&nbsp;как приходится следить за&nbsp;тем, чтобы&nbsp;зарезервированный
              в&nbsp;онлайн-магазине товар оставался на&nbsp;складе. Для&nbsp;этого необходима интеграция
              с&nbsp;каталогом продукции и&nbsp;в&nbsp;онлайн-, и&nbsp;в&nbsp;офлайн-магазинах. Также разрабатываем
              систему, в&nbsp;которой настроена интеграция с&nbsp;базой товаров, чтобы&nbsp;вы понимали, кто произвел
              заказ, а&nbsp;кто отменил покупку.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-FEATURES-END -->
