<!-- INTERNET-MAGAZINA-STAGES-HEADING-START -->
<section class="page-constructor__section internet-magazina-stages-heading-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet" aria-hidden="true"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Разработка интернет-магазина</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Разработка интернет-магазина выстроена в&nbsp;последовательность этапов от&nbsp;брифа до&nbsp;релиза.
              На&nbsp;этапе проектирования формируем структуру каталога, фильтров и&nbsp;карточки товара, описываем
              сценарии покупки и&nbsp;требования к&nbsp;интеграциям: 1С, CRM, платёжные шлюзы, службы доставки
              и&nbsp;т.&nbsp;д. Затем переходим к&nbsp;дизайну: разрабатываем визуальную концепцию, прорабатываем
              главную, каталог, карточку, корзину, страницы оплаты и&nbsp;личного кабинета. Фронтенд-разработчики
              верстают макеты с&nbsp;адаптацией под&nbsp;все устройства, бэкенд реализует функционал каталога, корзины,
              оплаты и&nbsp;доставки, подключает CMS и&nbsp;внешние сервисы. На&nbsp;этапе тестирования проверяем
              сценарии оформления заказа, соответствие ТЗ, работу всех способов оплаты и&nbsp;интеграций. Запуск
              включает перенос на&nbsp;сервер клиента, настройку домена, резервных копий, систем аналитики
              и&nbsp;SEO-метрик. После релиза передаём проект команде клиента с&nbsp;документацией и&nbsp;инструкциями.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-STAGES-HEADING-END -->
