<!-- INTERNET-MAGAZINA-CASE-SLIDER-START -->
<section class="page-constructor__section internet-magazina-case-slider-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-internet-magazina-darkrain"
        class="swiper-container cases-block__slider-swiper-container"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-internet-magazina-darkrain"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide swiper-slide-internet-magazina-darkrain cases-block__swiper-slide--darkrain swiper-slide-active"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;https://serenity.agency/storage/4HKHof6ROhRFW1IJvsN3kDToVPFkXPeNqoBmJ7qU.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--desktop"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  src="https://serenity.agency/storage/X9CtNGdcOjFWfKbtJQt80FykJjhXp1VfbU3WfFU9.mp4"
                ></video>
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--mobile"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  src="https://serenity.agency/storage/ZMayndYUVtd2OvQNHtC3Avkw1Hz9rJGJifmo4RNI.mp4"
                ></video>
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title">Darkrain</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Сайт для бренда минималистичных ювелирных изделий.
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Адаптировали интернет-магазин для&nbsp;мобильных устройств, улучшили функционал заказа товаров
                  и&nbsp;изменили главную страницу под запросы аудитории.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/darkrain-store"
                  class="buttonlink cases-block__swiper-slide-button"
                >
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                      >
                        <path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide swiper-slide-internet-magazina-mie cases-block__swiper-slide--mie"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;/_sa/img/services/sozdanie-internet-magazina/cases/mie-bg.webp?v=20260629mieCase2&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--desktop"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  poster="/_sa/img/services/sozdanie-internet-magazina/cases/mie-bg.webp?v=20260629mieCase2"
                  src="/_sa/video/services/sozdanie-internet-magazina/mie-case.mp4?v=20260629mieCase2"
                ></video>
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--mobile"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  poster="/_sa/img/services/sozdanie-internet-magazina/cases/mie-bg.webp?v=20260629mieCase2"
                  src="/_sa/video/services/sozdanie-internet-magazina/mie-case.mp4?v=20260629mieCase2"
                ></video>
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title">MIE</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Федеральная сеть ювелирных украшений из&nbsp;серебра.
                </p>
              </div>
              <div
                data-v-bd2e570a=""
                class="cases-block__swiper-slide-button-wrapper cases-block__swiper-slide-button-wrapper--no-button"
              >
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Создали интернет-магазин за&nbsp;6,5 месяцев на&nbsp;1С-Битрикс. Разработали премиальный интерфейс,
                  внедрили микросервисную архитектуру, реализовали сторис с&nbsp;переходом к&nbsp;карточкам товаров,
                  систему электронных сертификатов и&nbsp;квиз для&nbsp;персонального подбора образов.
                </p>
              </div>
            </div>
          </div>
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide swiper-slide-internet-magazina-lavivion cases-block__swiper-slide--lavivion"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;/_sa/img/services/sozdanie-internet-magazina/cases/lavivion-bg.webp?v=20260629lavivionCase1&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--desktop"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  poster="/_sa/img/services/sozdanie-internet-magazina/cases/lavivion-bg.webp?v=20260629lavivionCase1"
                  src="/_sa/video/services/sozdanie-internet-magazina/lavivion-case.mp4?v=20260629lavivionCase1"
                ></video>
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--mobile"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  poster="/_sa/img/services/sozdanie-internet-magazina/cases/lavivion-bg.webp?v=20260629lavivionCase1"
                  src="/_sa/video/services/sozdanie-internet-magazina/lavivion-case.mp4?v=20260629lavivionCase1"
                ></video>
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title">La vivion</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Магазин ювелирных изделий с&nbsp;бриллиантами
                </p>
              </div>
              <div
                data-v-bd2e570a=""
                class="cases-block__swiper-slide-button-wrapper cases-block__swiper-slide-button-wrapper--no-button"
              >
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Разработали интернет-магазин с&nbsp;акцентом на&nbsp;пользовательский опыт: провели UX-проектирование,
                  раскрыли позиционирование бренда, реализовали подбор ювелирных изделий по&nbsp;бюджету, личный кабинет
                  с&nbsp;программой лояльности и&nbsp;механики апсейла к&nbsp;значимым датам.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-v-bd2e570a=""
        class="swiper-pagination swiper-pagination-internet-magazina-darkrain swiper-pagination-clickable swiper-pagination-bullets"
      ></div>
      <div data-v-bd2e570a="" class="swiper__navigation">
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-prev swiper-pagination-prev-internet-magazina-darkrain"
          aria-label="Предыдущий слайд"
        >
          <svg
            data-v-bd2e570a=""
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 42 42"
            fill="none"
            aria-hidden="true"
          >
            <circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path
              d="M23 14L15.9289 21.0711L23 28.1421"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-next swiper-pagination-next-internet-magazina-darkrain"
          aria-label="Следующий слайд"
        >
          <svg
            data-v-bd2e570a=""
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 42 42"
            fill="none"
            style="transform: rotate(180deg)"
            aria-hidden="true"
          >
            <circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path
              d="M23 14L15.9289 21.0711L23 28.1421"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-CASE-SLIDER-END -->
