<!-- INTERNET-MAGAZINA-APPROACH-START -->
<section class="page-constructor__section internet-magazina-approach-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Наш подход</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks internet-magazina-approach-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Комплексный подход</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Не просто делаем привлекательный дизайн, а&nbsp;разрабатываем сайт, подходящий для&nbsp;маркетинга и&nbsp;бизнеса.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Думаем о&nbsp;синергии</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Создавая сайт для&nbsp;интернет-магазина, закладываем основу для&nbsp;дальнейшего продвижения. Готовим тексты для&nbsp;seo, чтобы&nbsp;проводить эффективный контент-маркетинг. Каждую карточку товара можно рекламировать. Делаем интеграцию с&nbsp;CRM, базой&nbsp;1С или другими системами, подбираем оптимальную CMS-платформу для&nbsp;сайта.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Дизайн как&nbsp;преимущество</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Разрабатываем дизайн интернет-магазина, который вызывает доверие у&nbsp;покупателей. Делаем страницы удобными для&nbsp;оформления заказа, создаем личный кабинет и&nbsp;каталог с&nbsp;фильтрами, иллюстрируем карточки товаров стильными фотографиями. Усиливаем позиционирование вашего бренда за&nbsp;счет уникального дизайна.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks internet-magazina-approach-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Комплексный подход</h3>
            <p data-v-4ed7dc78="" class="block__description">Не просто делаем привлекательный дизайн, а&nbsp;разрабатываем сайт, подходящий для&nbsp;маркетинга и&nbsp;бизнеса.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Дизайн как&nbsp;преимущество</h3>
            <p data-v-4ed7dc78="" class="block__description">Разрабатываем дизайн интернет-магазина, который вызывает доверие у&nbsp;покупателей. Делаем страницы удобными для&nbsp;оформления заказа, создаем личный кабинет и&nbsp;каталог с&nbsp;фильтрами, иллюстрируем карточки товаров стильными фотографиями. Усиливаем позиционирование вашего бренда за&nbsp;счет уникального дизайна.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Думаем о&nbsp;синергии</h3>
            <p data-v-4ed7dc78="" class="block__description">Создавая сайт для&nbsp;интернет-магазина, закладываем основу для&nbsp;дальнейшего продвижения. Готовим тексты для&nbsp;seo, чтобы&nbsp;проводить эффективный контент-маркетинг. Каждую карточку товара можно рекламировать. Делаем интеграцию с&nbsp;CRM, базой&nbsp;1С или другими системами, подбираем оптимальную CMS-платформу для&nbsp;сайта.</p>
          </div>
        </div>
      </div>
<!-- INTERNET-MAGAZINA-RESULT-START -->
      <section class="stay stay--padding internet-magazina-result-stay">
        <div class="card">
          <div class="card__header">
            <div class="card__title">Результат</div>
            <div class="card__subtitle"></div>
          </div>
          <div class="card__divider" aria-hidden="true"></div>
          <div class="card__subsections">
            <div class="subsection">
              <div class="subsection__text">Вы получаете удобный интернет-магазин для&nbsp;заказа товаров и&nbsp;услуг, с&nbsp;высокой конверсией и&nbsp;готовый к&nbsp;продвижению.</div>
            </div>
            <div class="subsection">
              <div class="subsection__text">Перфекционизм в&nbsp;дизайне вызывает доверие у&nbsp;клиентов, а&nbsp;у&nbsp;вас появляется мощный маркетинговый инструмент, создающий ценность для&nbsp;потребителей.</div>
            </div>
          </div>
        </div>
      </section>
<!-- INTERNET-MAGAZINA-RESULT-END -->
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-APPROACH-END -->
