<!-- INTERNET-MAGAZINA-STAGES-HEADING-START -->
<section class="page-constructor__section internet-magazina-stages-heading-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet" aria-hidden="true"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Разработка интернет-магазина</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Разработка интернет-магазина у&nbsp;Serenity&nbsp;— последовательные этапы от&nbsp;брифа до&nbsp;релиза.
              На&nbsp;проектировании формируем структуру каталога, фильтров и&nbsp;карточки товара, описываем
              сценарии покупки. На&nbsp;дизайне прорабатываем главную, каталог, корзину и&nbsp;страницы оплаты.
              В&nbsp;разработке верстаем макеты и&nbsp;собираем функционал магазина. Тестирование проверяет
              оформление заказа и&nbsp;работу оплаты. Запуск включает перенос на&nbsp;сервер, настройку домена
              и&nbsp;аналитики.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-STAGES-HEADING-END -->
