<!-- INTERNET-MAGAZINA-DEVELOPMENT-STAGE-START -->
<section class="page-constructor__section internet-magazina-development-stage-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">3</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Разработка</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Начинаем разработку интернет-магазина уже&nbsp;на&nbsp;этапе создания дизайна. Делаем простую
              и&nbsp;понятную навигацию на&nbsp;страницах сайта. Верстаем страницы, создаем функционал, который
              усиливает ваши&nbsp;позиции среди конкурентов.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom internet-magazina-development-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Верстаем страницы по&nbsp;макету</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              В&nbsp;соответствии с&nbsp;техническим заданием верстаем страницы сайта по&nbsp;макетам
              в&nbsp;Figma. Адаптируем их&nbsp;под&nbsp;любое устройство.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Реализация, backend-разработка</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Параллельно создаем калькуляторы и&nbsp;личный кабинет, настраиваем фильтры, устанавливаем возможность
              определять геопозицию. Тестируем полученный результат, проверяем его на&nbsp;соответствие техническому
              заданию. Передача проекта на&nbsp;проверку производится на&nbsp;нашей тестовой среде с&nbsp;полной
              работоспособностью сайта по&nbsp;ТЗ.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Арт-дирекшен</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Проводим детальную проверку верстки на&nbsp;соответствие макетам. Соблюдаем концепцию
              Pixel&nbsp;Perfect.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Продакшн проекта</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              После проверки и&nbsp;принятия переносим проект на&nbsp;конечный хостинг/сервер клиента. Выполняем
              все&nbsp;необходимые настройки для&nbsp;полноценной работы сайта: доменное имя, почтовый сервер,
              расписание создания резервных копий.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom internet-magazina-development-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Верстаем страницы по&nbsp;макету</h3>
            <p data-v-4ed7dc78="" class="block__description">
              В&nbsp;соответствии с&nbsp;техническим заданием верстаем страницы сайта по&nbsp;макетам
              в&nbsp;Figma. Адаптируем их&nbsp;под&nbsp;любое устройство.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Реализация, backend-разработка</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Параллельно создаем калькуляторы и&nbsp;личный кабинет, настраиваем фильтры, устанавливаем возможность
              определять геопозицию. Тестируем полученный результат, проверяем его на&nbsp;соответствие техническому
              заданию. Передача проекта на&nbsp;проверку производится на&nbsp;нашей тестовой среде с&nbsp;полной
              работоспособностью сайта по&nbsp;ТЗ.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Арт-дирекшен</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Проводим детальную проверку верстки на&nbsp;соответствие макетам. Соблюдаем концепцию
              Pixel&nbsp;Perfect.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Продакшн проекта</h3>
            <p data-v-4ed7dc78="" class="block__description">
              После проверки и&nbsp;принятия переносим проект на&nbsp;конечный хостинг/сервер клиента. Выполняем
              все&nbsp;необходимые настройки для&nbsp;полноценной работы сайта: доменное имя, почтовый сервер,
              расписание создания резервных копий.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-DEVELOPMENT-STAGE-END -->
