<!-- INTERNET-MAGAZINA-MOVIES-BLOCK-START -->
<section class="page-constructor__section internet-magazina-movies-block-section">
  <div class="movies-block">
    <div class="page__container">
      <div class="swiper">
        <div class="">
          <div class="">
            <video
              data-lazy-video="1"
              data-src="https://serenity.agency/storage/PJedSXw5p6YiETtDC3w5df917Nw8bVW9IJXNex0u.mp4"
              autoplay="autoplay"
              loop="loop"
              muted="muted"
              playsinline=""
              preload="none"
            ></video>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--none"></div>
      </div>
    </div>
    <script type="application/ld+json">
      [
        {
          "@context": "https://schema.org",
          "@type": "VideoObject",
          "name": "Video",
          "description": "",
          "thumbnailUrl": "/img/og.png",
          "uploadDate": "2026-06-22T00:00:00.000Z",
          "contentUrl": "https://serenity.agency/storage/PJedSXw5p6YiETtDC3w5df917Nw8bVW9IJXNex0u.mp4",
          "embedUrl": "https://serenity.agency/storage",
          "regionsAllowed": "US,RU"
        }
      ]
    </script>
  </div>
</section>
<!-- INTERNET-MAGAZINA-MOVIES-BLOCK-END -->
