<!-- INTERNET-MAGAZINA-MARKETING-STAGE-START -->
<section class="page-constructor__section internet-magazina-marketing-stage-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">1</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Маркетинговое проектирование</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Используем итерационный подход. Все&nbsp;процессы ведем прозрачно и&nbsp;делаем их&nbsp;доступными
              для&nbsp;вас. Мы&nbsp;работаем в&nbsp;команде, прислушиваемся к&nbsp;вашим желаниям на&nbsp;каждом этапе,
              вносим правки, обсуждаем и&nbsp;улучшаем. Позиция Serenity — партнерство с&nbsp;клиентами. Работа ведется
              сообща, поэтому на&nbsp;финальной сдаче нет множества правок.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom internet-magazina-marketing-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Проводим маркетинговые исследования</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разработка интернет-магазина начинается с&nbsp;брифинга, который команда Serenity проводит
              с&nbsp;клиентом. Мы&nbsp;знакомимся с&nbsp;вами, проясняем задачу проекта и&nbsp;собираем как&nbsp;можно
              больше данных, чтобы&nbsp;создать детальный план сайта. Проводим несколько интервью, узнаем целевую
              аудиторию, разрабатываем ее&nbsp;портрет, обговариваем структуру сайта, количество страниц,
              их&nbsp;составляющие по&nbsp;блокам, анализируем необходимость добавления страниц третьего уровня.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Оптимизируем сайт для&nbsp;поисковых систем</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Благодаря грамотной семантике на&nbsp;страницах интернет-магазина, его&nbsp;контенту
              и&nbsp;seo-аналитике мы&nbsp;помогаем ответить на&nbsp;запросы пользователя, точно попасть
              в&nbsp;его&nbsp;потребности и&nbsp;купить нужный товар. Также в&nbsp;контентную часть входит
              и&nbsp;сам&nbsp;бренд. Описываем ваши преимущества, что&nbsp;помогает привлечь дополнительный целевой
              трафик на&nbsp;сайт.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Разрабатываем структуру и&nbsp;пишем контент</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем, будет ли&nbsp;это создание крупного интернет-магазина или&nbsp;понадобится небольшой сайт
              с&nbsp;несколькими фильтрами, но&nbsp;с&nbsp;возможностью дальнейшего увеличения позиций. После чего
              создаем контентные прототипы всех страниц, раскрывающие пользу для&nbsp;покупателей вашего продукта
              или&nbsp;услуги.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Формируем прототипы</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Затем оформляем готовые тексты в&nbsp;прототипы в&nbsp;Figma. Прототипы&nbsp;— это&nbsp;макеты страниц,
              где&nbsp;уже&nbsp;есть блоки, конверсионные части, чистовой контент, но&nbsp;еще&nbsp;нет дизайна.
              На&nbsp;этом&nbsp;этапе мы&nbsp;реализуем все&nbsp;идеи, проработанные на&nbsp;предыдущих этапах,
              в&nbsp;готовые страницы.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Уделяем внимание деталям</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              При разработке интернет-магазина под&nbsp;ключ придумываем каждому товару уникальное описание. Подробно
              прорабатываем контент в&nbsp;каталоге, фильтрах. На&nbsp;главной странице описываем преимущества вашей
              компании, рассказываем про&nbsp;акции и&nbsp;спецпредложения, делаем страницу доставки и&nbsp;контакты.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Составляем техническое задание</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Описываем функционал по&nbsp;готовым прототипам, прописываем все&nbsp;возможные интеграции
              с&nbsp;сервисами и&nbsp;системами, технический стек. Корректируем работу дизайнеров, подбираем лучшую
              платформу для&nbsp;вашего сайта. Объясняем технические особенности каждой&nbsp;CMS, рассказываем
              о&nbsp;сложностях, с&nbsp;которыми вы&nbsp;можете столкнуться.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom internet-magazina-marketing-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Проводим маркетинговые исследования</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разработка интернет-магазина начинается с&nbsp;брифинга, который команда Serenity проводит
              с&nbsp;клиентом. Мы&nbsp;знакомимся с&nbsp;вами, проясняем задачу проекта и&nbsp;собираем как&nbsp;можно
              больше данных, чтобы&nbsp;создать детальный план сайта. Проводим несколько интервью, узнаем целевую
              аудиторию, разрабатываем ее&nbsp;портрет, обговариваем структуру сайта, количество страниц,
              их&nbsp;составляющие по&nbsp;блокам, анализируем необходимость добавления страниц третьего уровня.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Уделяем внимание деталям</h3>
            <p data-v-4ed7dc78="" class="block__description">
              При разработке интернет-магазина под&nbsp;ключ придумываем каждому товару уникальное описание. Подробно
              прорабатываем контент в&nbsp;каталоге, фильтрах. На&nbsp;главной странице описываем преимущества вашей
              компании, рассказываем про&nbsp;акции и&nbsp;спецпредложения, делаем страницу доставки и&nbsp;контакты.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Формируем прототипы</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Затем оформляем готовые тексты в&nbsp;прототипы в&nbsp;Figma. Прототипы&nbsp;— это&nbsp;макеты страниц,
              где&nbsp;уже&nbsp;есть блоки, конверсионные части, чистовой контент, но&nbsp;еще&nbsp;нет дизайна.
              На&nbsp;этом&nbsp;этапе мы&nbsp;реализуем все&nbsp;идеи, проработанные на&nbsp;предыдущих этапах,
              в&nbsp;готовые страницы.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Оптимизируем сайт для&nbsp;поисковых систем</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Благодаря грамотной семантике на&nbsp;страницах интернет-магазина, его&nbsp;контенту
              и&nbsp;seo-аналитике мы&nbsp;помогаем ответить на&nbsp;запросы пользователя, точно попасть
              в&nbsp;его&nbsp;потребности и&nbsp;купить нужный товар. Также в&nbsp;контентную часть входит
              и&nbsp;сам&nbsp;бренд. Описываем ваши преимущества, что&nbsp;помогает привлечь дополнительный целевой
              трафик на&nbsp;сайт.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Разрабатываем структуру и&nbsp;пишем контент</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем, будет ли&nbsp;это создание крупного интернет-магазина или&nbsp;понадобится небольшой сайт
              с&nbsp;несколькими фильтрами, но&nbsp;с&nbsp;возможностью дальнейшего увеличения позиций. После чего
              создаем контентные прототипы всех страниц, раскрывающие пользу для&nbsp;покупателей вашего продукта
              или&nbsp;услуги.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Составляем техническое задание</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Описываем функционал по&nbsp;готовым прототипам, прописываем все&nbsp;возможные интеграции
              с&nbsp;сервисами и&nbsp;системами, технический стек. Корректируем работу дизайнеров, подбираем лучшую
              платформу для&nbsp;вашего сайта. Объясняем технические особенности каждой&nbsp;CMS, рассказываем
              о&nbsp;сложностях, с&nbsp;которыми вы&nbsp;можете столкнуться.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-MARKETING-STAGE-END -->
