<!-- INTERNET-MAGAZINA-QUARTA-CASE-SLIDER-START -->
<section class="page-constructor__section internet-magazina-quarta-case-slider-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-internet-magazina-quarta-hunt"
        class="swiper-container cases-block__slider-swiper-container"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-internet-magazina-quarta-hunt"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide swiper-slide-internet-magazina-quarta-hunt cases-block__swiper-slide--quarta-hunt swiper-slide-active"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;https://serenity.agency/storage/PQ4i34fy0wJm4B9fyzBQFbxOo3gVPQx1gMSlGgRl.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--desktop"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  src="https://serenity.agency/storage/DREanGAnnXipep7gbVpkRENMb51dtkK0pIqaVR7n.mp4"
                ></video>
                <video
                  data-v-bd2e570a=""
                  class="internet-magazina-case-video internet-magazina-case-video--mobile"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  src="https://serenity.agency/storage/OD8lBB8sBjyl2UUVwfr2eTcIE98wBQw8r1ASe9k4.mp4"
                ></video>
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title">Quarta Hunt</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Удобный маркетплейс с&nbsp;экипировкой для&nbsp;любителей охоты и&nbsp;экстремального отдыха.
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Провели редизайн сайта, осовременили внешний вид и&nbsp;с&nbsp;нуля разработали новую структуру,
                  чтобы&nbsp;функционал и&nbsp;механики напоминали маркетплейс.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/all/quartahunt"
                  class="buttonlink cases-block__swiper-slide-button"
                >
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                      >
                        <path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-QUARTA-CASE-SLIDER-END -->
