<!-- INTERNET-MAGAZINA-DESIGN-STAGE-START -->
<section class="page-constructor__section internet-magazina-design-stage-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">2</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Дизайн</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Придерживаемся перфекционизма в&nbsp;дизайне при&nbsp;разработке вашего интернет-магазина.
              За&nbsp;счет утонченности и&nbsp;удобства всех элементов на&nbsp;сайте получаем доверие ваших
              покупателей и&nbsp;передаем ценности бренда.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom internet-magazina-design-stage-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Согласно вашему вкусу</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Дизайнер разрабатывает концепцию и&nbsp;собирает мудборд&nbsp;— визуальные решения: примеры верстки
              и&nbsp;сетки, цветовой гаммы для&nbsp;отдельных блоков и&nbsp;всего сайта. На&nbsp;этом этапе необходимо
              понять, что&nbsp;из&nbsp;предоставленного материала отвечает вашим предпочтениям и&nbsp;соответствует
              фирменному стилю компании, какой&nbsp;визуал будет одним целым с&nbsp;брендингом.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Дизайн высокого уровня</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Для всех элементов на&nbsp;сайте подбираем анимации, шрифты, визуал, демонстрируем товар. Делаем удобный
              каталог с&nbsp;фильтрами, быстрое добавление в&nbsp;корзину и&nbsp;простое оформление заказа. Путь
              покупателя всегда будет четким и&nbsp;приведет к&nbsp;логическому завершению. Не&nbsp;забываем
              про&nbsp;личный кабинет и&nbsp;доставку. Важно, чтобы вашим интернет-магазином было удобно пользоваться.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Идеально на&nbsp;каждом экране</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Для удобства также создаем адаптивы, чтобы&nbsp;интернет-магазин смотрелся на&nbsp;всех форматах&nbsp;—
              от&nbsp;мобильного устройства до&nbsp;десктопной версии. Визуально адаптируем мобильную версию
              под&nbsp;формат приложения.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom internet-magazina-design-stage-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Согласно вашему вкусу</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Дизайнер разрабатывает концепцию и&nbsp;собирает мудборд&nbsp;— визуальные решения: примеры верстки
              и&nbsp;сетки, цветовой гаммы для&nbsp;отдельных блоков и&nbsp;всего сайта. На&nbsp;этом этапе необходимо
              понять, что&nbsp;из&nbsp;предоставленного материала отвечает вашим предпочтениям и&nbsp;соответствует
              фирменному стилю компании, какой&nbsp;визуал будет одним целым с&nbsp;брендингом.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Идеально на&nbsp;каждом экране</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Для удобства также создаем адаптивы, чтобы&nbsp;интернет-магазин смотрелся на&nbsp;всех форматах&nbsp;—
              от&nbsp;мобильного устройства до&nbsp;десктопной версии. Визуально адаптируем мобильную версию
              под&nbsp;формат приложения.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Дизайн высокого уровня</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Для всех элементов на&nbsp;сайте подбираем анимации, шрифты, визуал, демонстрируем товар. Делаем удобный
              каталог с&nbsp;фильтрами, быстрое добавление в&nbsp;корзину и&nbsp;простое оформление заказа. Путь
              покупателя всегда будет четким и&nbsp;приведет к&nbsp;логическому завершению. Не&nbsp;забываем
              про&nbsp;личный кабинет и&nbsp;доставку. Важно, чтобы вашим интернет-магазином было удобно пользоваться.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- INTERNET-MAGAZINA-DESIGN-STAGE-END -->
