<!-- STRATEGY-APPROACH-START -->
<section class="page-constructor__section strategy-approach-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Наш подход</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks strategy-approach-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Простым языком</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Тактика и&nbsp;цели должны быть близки не&nbsp;только маркетинговому отделу, но&nbsp;и&nbsp;всей команде заказчика. Работая в&nbsp;синергии с&nbsp;сотрудниками компании, мы&nbsp;включаем в&nbsp;план рекомендации по&nbsp;продукту и&nbsp;продвижению для&nbsp;разных отделов. Чтобы информация была максимально понятна, используем визуализацию.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Многосторонняя оценка рынка</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Исходя из&nbsp;потребностей клиента и&nbsp;целей, наш анализ конкурентов рынка может быть точечным и&nbsp;оперативным, а&nbsp;может охватывать знание о&nbsp;косвенных конкурентах и&nbsp;включать в&nbsp;себя бенчмаркинг, лучшие практики российских и&nbsp;международных компаний.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Долгосрочное планирование</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Выстраиваем планирование так, чтобы было понятно, как&nbsp;действовать сейчас и&nbsp;в&nbsp;долгосрочной перспективе. В&nbsp;плане указываем не&nbsp;только основные, но&nbsp;и&nbsp;альтернативные решения, с&nbsp;учетом изменчивости рынка.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Масштабный охват и&nbsp;гибкость</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Мы&nbsp;можем взять весь маркетинг на&nbsp;себя, подключаться к&nbsp;задачам частично или работать в&nbsp;формате консультаций отдела маркетинга. В&nbsp;нашей команде более&nbsp;100 специалистов в&nbsp;разных частях света с&nbsp;широким опытом и&nbsp;специализацией. Мы&nbsp;подберем нужного проекту.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks strategy-approach-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Простым языком</h3>
            <p data-v-4ed7dc78="" class="block__description">Тактика и&nbsp;цели должны быть близки не&nbsp;только маркетинговому отделу, но&nbsp;и&nbsp;всей команде заказчика. Работая в&nbsp;синергии с&nbsp;сотрудниками компании, мы&nbsp;включаем в&nbsp;план рекомендации по&nbsp;продукту и&nbsp;продвижению для&nbsp;разных отделов. Чтобы информация была максимально понятна, используем визуализацию.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Масштабный охват и&nbsp;гибкость</h3>
            <p data-v-4ed7dc78="" class="block__description">Мы&nbsp;можем взять весь маркетинг на&nbsp;себя, подключаться к&nbsp;задачам частично или работать в&nbsp;формате консультаций отдела маркетинга. В&nbsp;нашей команде более&nbsp;100 специалистов в&nbsp;разных частях света с&nbsp;широким опытом и&nbsp;специализацией. Мы&nbsp;подберем нужного проекту.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Долгосрочное планирование</h3>
            <p data-v-4ed7dc78="" class="block__description">Выстраиваем планирование так, чтобы было понятно, как&nbsp;действовать сейчас и&nbsp;в&nbsp;долгосрочной перспективе. В&nbsp;плане указываем не&nbsp;только основные, но&nbsp;и&nbsp;альтернативные решения, с&nbsp;учетом изменчивости рынка.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Многосторонняя оценка рынка</h3>
            <p data-v-4ed7dc78="" class="block__description">Исходя из&nbsp;потребностей клиента и&nbsp;целей, наш анализ конкурентов рынка может быть точечным и&nbsp;оперативным, а&nbsp;может охватывать знание о&nbsp;косвенных конкурентах и&nbsp;включать в&nbsp;себя бенчмаркинг, лучшие практики российских и&nbsp;международных компаний.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-APPROACH-END -->
