<!-- STRATEGY-TARGETED-PRODUCTS-START -->
<section class="page-constructor__section strategy-targeted-products-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Точечные продукты</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Для&nbsp;решения более точечных маркетинговых задач у&nbsp;нас есть специальные стратегические
              решения. Они подбираются под&nbsp;каждую задачу индивидуально.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom strategy-targeted-products-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">PR-стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Выбираем инструменты для&nbsp;PR-активностей, планируем работу в&nbsp;них: СМИ, блогеры, event,
              партнеринг, спецпроекты. Прогнозируем их&nbsp;эффективность.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Контент-стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем план развития контента так, чтобы ваш сайт и&nbsp;внешние каналы коммуникации
              были <a href="/prodvizhenie-statey-v-dzene-i-promostranitsah" class="strategy-text-link">продающими</a> и&nbsp;доносили истинные ценности бренда.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">SMM-стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Исходя из&nbsp;целей продвижения, подбираем каналы коммуникации с&nbsp;аудиторией в&nbsp;соцсетях.
              Разрабатываем правила коммуникации и&nbsp;даем рекомендации к&nbsp;оформлению, формируем
              контент-план на&nbsp;ближайший квартал.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Креативная концепция</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Придумываем большую идею для&nbsp;креативной рекламной кампании с&nbsp;учетом выбранных
              инструментов, бюджета и&nbsp;позиционирования компании или продукта.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">SEO-стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              На&nbsp;основе технического аудита выявляем, какие улучшения нужно внедрить в&nbsp;SEO
              в&nbsp;первую очередь, чтобы максимально ускорить выход сайта в&nbsp;<a href="/seo" class="strategy-text-link">топ поисковых систем</a>.
              Составляем план работ на&nbsp;несколько месяцев вперед.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom strategy-targeted-products-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">PR-стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Выбираем инструменты для&nbsp;PR-активностей, планируем работу в&nbsp;них: СМИ, блогеры, event,
              партнеринг, спецпроекты. Прогнозируем их&nbsp;эффективность.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">SMM-стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Исходя из&nbsp;целей продвижения, подбираем каналы коммуникации с&nbsp;аудиторией в&nbsp;соцсетях.
              Разрабатываем правила коммуникации и&nbsp;даем рекомендации к&nbsp;оформлению, формируем
              контент-план на&nbsp;ближайший квартал.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Контент-стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем план развития контента так, чтобы ваш сайт и&nbsp;внешние каналы коммуникации
              были <a href="/prodvizhenie-statey-v-dzene-i-promostranitsah" class="strategy-text-link">продающими</a> и&nbsp;доносили истинные ценности бренда.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Креативная концепция</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Придумываем большую идею для&nbsp;креативной рекламной кампании с&nbsp;учетом выбранных
              инструментов, бюджета и&nbsp;позиционирования компании или продукта.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">SEO-стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              На&nbsp;основе технического аудита выявляем, какие улучшения нужно внедрить в&nbsp;SEO
              в&nbsp;первую очередь, чтобы максимально ускорить выход сайта в&nbsp;<a href="/seo" class="strategy-text-link">топ поисковых систем</a>.
              Составляем план работ на&nbsp;несколько месяцев вперед.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-TARGETED-PRODUCTS-END -->
