<!-- STRATEGY-FORMATION-START: этап 3 «Формирование стратегии» -->
<section class="page-constructor__section strategy-formation-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">3</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Формирование стратегии</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              Разрабатываем комплексную систему маркетинга, которая помогает достичь желаемых результатов
              за&nbsp;счёт синергии инструментов маркетинговой стратегии.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom strategy-formation-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Каналы коммуникации</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Подбираем эффективные рекламные каналы и&nbsp;выстраиваем работу с&nbsp;ними — от&nbsp;общих
              рекомендаций до&nbsp;точечных стратегических решений. Выстраиваем схему поэтапного продвижения
              бренда по&nbsp;каналам коммуникации.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">План работ по каналам</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Прорабатываем инструменты и&nbsp;форматы работ во&nbsp;всех необходимых каналах
              с&nbsp;расстановкой приоритетности их&nbsp;запуска. Даем рекомендации для&nbsp;повышения
              эффективности сайта, улучшения показателей UX/UI и&nbsp;усовершенствования продукта и&nbsp;бренда.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Медиаплан</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем несколько вариантов медиаплана с&nbsp;рекламным бюджетом, необходимым
              для&nbsp;достижения нужного KPI.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom strategy-formation-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Каналы коммуникации</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Подбираем эффективные рекламные каналы и&nbsp;выстраиваем работу с&nbsp;ними — от&nbsp;общих
              рекомендаций до&nbsp;точечных стратегических решений. Выстраиваем схему поэтапного продвижения
              бренда по&nbsp;каналам коммуникации.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">План работ по каналам</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Прорабатываем инструменты и&nbsp;форматы работ во&nbsp;всех необходимых каналах
              с&nbsp;расстановкой приоритетности их&nbsp;запуска. Даем рекомендации для&nbsp;повышения
              эффективности сайта, улучшения показателей UX/UI и&nbsp;усовершенствования продукта и&nbsp;бренда.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Медиаплан</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем несколько вариантов медиаплана с&nbsp;рекламным бюджетом, необходимым
              для&nbsp;достижения нужного KPI.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-FORMATION-END -->
