<!-- STRATEGY-KAURY-CASES-SLIDER-START: KAURY после «Комплексные решения» (как /strategy на prod) -->
<section class="page-constructor__section strategy-cases-slider-section strategy-kaury-cases-slider-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-strategy-kaury"
        class="swiper-container cases-block__slider-swiper-container swiper-container-autoheight"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-strategy-kaury"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide cases-block__swiper-slide--kaury swiper-slide-strategy-kaury swiper-slide-only swiper-slide-active"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;/_sa/img/services/strategy/kaury-bg.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img
                  data-v-bd2e570a=""
                  src="/_sa/img/services/strategy/kaury-infographic.webp"
                  alt="Аналитика бренда KAURY: доля в диалогах, тональность сообщений, WOM и коммерческие упоминания"
                  width="906"
                  height="515"
                  loading="lazy"
                  class="cases-block__swiper-slide-contant-image"
                />
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3
                  data-v-bd2e570a=""
                  class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big"
                >
                  KAURY
                </h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Создали платформу бренда, фирменный стиль и&nbsp;сайт для&nbsp;бренда непромокаемой обуви.
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Определили конкурентные преимущества и&nbsp;точки роста, сделали пирамиду бренда
                  и&nbsp;план развития на&nbsp;10&nbsp;лет.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/kaury"
                  class="buttonlink cases-block__swiper-slide-button"
                  ><div data-v-7f5f1051="" class="buttonlink__content"
                    ><div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                        aria-hidden="true"
                        ><path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg></div></div
                  ><div data-v-7f5f1051="" class="buttonlink__backplate"></div
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-KAURY-CASES-SLIDER-END -->
