<!-- STRATEGY-COMPLEX-SOLUTIONS-START -->
<section class="page-constructor__section strategy-complex-solutions-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Комплексные<br />решения</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              В&nbsp;зависимости от&nbsp;масштаба задачи, формируем план действий: решения могут быть комплексными
              и&nbsp;узкоспециализированными. Стратегия может требоваться на&nbsp;уровне формирования образа бренда,
              фокусироваться на&nbsp;продукте или определять каналы его&nbsp;продвижения.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks strategy-complex-solutions-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Маркетинговая стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем систему рекламных коммуникаций или масштабируем существующую для&nbsp;эффективного
              продвижения бренда или продукта. В&nbsp;итоге клиент получает подробный план с&nbsp;бюджетом
              и&nbsp;KPI для&nbsp;работы с&nbsp;аудиторией через весь комплекс маркетинга в&nbsp;синергии онлайн
              и&nbsp;офлайн.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Бренд-стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Создаем сильный и&nbsp;узнаваемый бренд. Проводим комплекс исследований, организуем стратсессии
              с&nbsp;командой. На&nbsp;их&nbsp;основе, формулируем ценности, преимущества, позиционирование
              и&nbsp;tone of&nbsp;voice, разрабатываем фирменный стиль.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Коммуникационная стратегия</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем алгоритм и&nbsp;правила общения организации с&nbsp;целевой аудиторией во&nbsp;всех
              каналах коммуникации, делая упор на&nbsp;digital-продвижении. Формируем долгосрочные планы
              по&nbsp;развитию бизнеса через улучшение продаж, продукта и&nbsp;маркетинга.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks strategy-complex-solutions-grid"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Маркетинговая стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем систему рекламных коммуникаций или масштабируем существующую для&nbsp;эффективного
              продвижения бренда или продукта. В&nbsp;итоге клиент получает подробный план с&nbsp;бюджетом
              и&nbsp;KPI для&nbsp;работы с&nbsp;аудиторией через весь комплекс маркетинга в&nbsp;синергии онлайн
              и&nbsp;офлайн.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Бренд-стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Создаем сильный и&nbsp;узнаваемый бренд. Проводим комплекс исследований, организуем стратсессии
              с&nbsp;командой. На&nbsp;их&nbsp;основе, формулируем ценности, преимущества, позиционирование
              и&nbsp;tone of&nbsp;voice, разрабатываем фирменный стиль.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Коммуникационная стратегия</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем алгоритм и&nbsp;правила общения организации с&nbsp;целевой аудиторией во&nbsp;всех
              каналах коммуникации, делая упор на&nbsp;digital-продвижении. Формируем долгосрочные планы
              по&nbsp;развитию бизнеса через улучшение продаж, продукта и&nbsp;маркетинга.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-COMPLEX-SOLUTIONS-END -->
