<!-- STRATEGY-POSITIONING-START: этап 2 «Позиционирование» (layout как «Исследования») -->
<section class="page-constructor__section strategy-positioning-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet">2</div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Позиционирование</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">
              На&nbsp;основе проведенных исследований выясняем ожидания аудитории, выявляем слабые
              места конкурентов и&nbsp;выделяем главные преимущества продукта. Все это дает нам знание,
              как сформировать позиционирование, чтобы занять свою нишу на&nbsp;рынке.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--desc blocks content-block__number-container content-block__grid--desc-custom strategy-positioning-grid"
      >
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Конкуренты</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем позиции конкурентов в&nbsp;сознании вашей целевой аудитории. Анализируем их
              маркетинговые стратегии, оцениваем сильные и&nbsp;слабые стороны.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Бренд-платформа</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Под выбранное позиционирование прописываем характеристики бренда, которые будут создавать
              уникальный образ в&nbsp;глазах аудитории, запоминаться и&nbsp;эмоционально выделять компанию
              среди конкурентов.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Восприятие</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем, какое восприятие у&nbsp;аудитории нам нужно создать относительно конкурентов.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">УТП</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Выделим факторы, которые будут выгодно отличать продукт от&nbsp;продуктов конкурентов
              и&nbsp;выстраивать у&nbsp;потенциального покупателя рациональное желание купить.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Результат</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем концепцию позиционирования, с&nbsp;опорой на&nbsp;сильные и&nbsp;слабые стороны
              конкурентов, сегменты целевой аудитории и&nbsp;лучшие практики рынка.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Триггеры</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">
              Подберем эмоциональные крючки, которые необходимо использовать в&nbsp;коммуникациях
              для&nbsp;того, чтобы цеплять аудиторию и&nbsp;вызывать сопричастность к&nbsp;бренду.
            </p>
          </div>
        </div>
      </div>
      <div
        data-v-4ed7dc78=""
        class="content-block__grid content-block__grid--tablet blocks content-block__number-container content-block__grid--tablet-custom strategy-positioning-grid--tablet"
      >
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Конкуренты</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем позиции конкурентов в&nbsp;сознании вашей целевой аудитории. Анализируем их
              маркетинговые стратегии, оцениваем сильные и&nbsp;слабые стороны.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Восприятие</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Определяем, какое восприятие у&nbsp;аудитории нам нужно создать относительно конкурентов.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Результат</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Разрабатываем концепцию позиционирования, с&nbsp;опорой на&nbsp;сильные и&nbsp;слабые стороны
              конкурентов, сегменты целевой аудитории и&nbsp;лучшие практики рынка.
            </p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Бренд-платформа</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Под выбранное позиционирование прописываем характеристики бренда, которые будут создавать
              уникальный образ в&nbsp;глазах аудитории, запоминаться и&nbsp;эмоционально выделять компанию
              среди конкурентов.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">УТП</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Выделим факторы, которые будут выгодно отличать продукт от&nbsp;продуктов конкурентов
              и&nbsp;выстраивать у&nbsp;потенциального покупателя рациональное желание купить.
            </p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Триггеры</h3>
            <p data-v-4ed7dc78="" class="block__description">
              Подберем эмоциональные крючки, которые необходимо использовать в&nbsp;коммуникациях
              для&nbsp;того, чтобы цеплять аудиторию и&nbsp;вызывать сопричастность к&nbsp;бренду.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-POSITIONING-END -->
