<!-- STRATEGY-TEAM-START -->
<section class="page-constructor__section strategy-team-section">
  <div class="team-block">
    <div class="page__container">
      <div data-v-c03ce8dc="" class="team">
        <div data-v-c03ce8dc="" class="team__head">
          <h2 data-v-c03ce8dc="">Команда</h2>
          <p data-v-c03ce8dc="">
            В&nbsp;разработке маркетинговой стратегии параллельно участвуют несколько специалистов. Работаем
            над&nbsp;проектом в&nbsp;синергии, что&nbsp;помогает оптимизировать производственные процессы и&nbsp;предоставить
            результат в&nbsp;точные сроки.
          </p>
        </div>
        <div data-v-c03ce8dc="" class="row team__cards team__cards--slider">
          <div class="team__members-slider swiper-container">
            <div class="team__members-track swiper-wrapper">
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/lider-napravleniya.png"
                      alt="Лидер направления"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Лидер направления</h4>
                  <p data-v-c03ce8dc="">
                    Участвует в&nbsp;разработке стратегии, рекомендует подходящие инструменты. Курирует работу стратега.
                  </p>
                </div>
              </div>
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/prodzhekt-menedzher.png"
                      alt="Проджект-менеджер"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Проджект-менеджер</h4>
                  <p data-v-c03ce8dc="">
                    Управляет командой и&nbsp;ставит контрольные точки специалистам. Пишет ТЗ для&nbsp;разработчиков.
                  </p>
                </div>
              </div>
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/marketingolog-proekta.png"
                      alt="Маркетолог проекта"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Маркетолог проекта</h4>
                  <p data-v-c03ce8dc="">
                    Представляет интересы клиента в&nbsp;проекте. Проводит исследования, направляет работу специалистов.
                  </p>
                </div>
              </div>
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/strateg.png"
                      alt="Стратег"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Стратег</h4>
                  <p data-v-c03ce8dc="">
                    Исследует компанию, аудиторию, конкурентов. Формирует позиционирование, создает план продвижения.
                  </p>
                </div>
              </div>
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/dizajner.png"
                      alt="Дизайнер"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Дизайнер</h4>
                  <p data-v-c03ce8dc="">
                    Разрабатывает визуальную составляющую в&nbsp;стилистике бренда заказчика.
                  </p>
                </div>
              </div>
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/kontent-marketingolog.png"
                      alt="Контент-маркетолог"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Контент-маркетолог</h4>
                  <p data-v-c03ce8dc="">
                    Оценивает продукт и&nbsp;конкурентов с&nbsp;точки зрения контента и&nbsp;восприятия аудиторией.
                  </p>
                </div>
              </div>
              <div class="team__member-slide swiper-slide" style="margin-right:30px">
                <div data-v-c03ce8dc="" class="team__member-card">
                  <figure data-v-c03ce8dc="">
                    <img
                      data-v-c03ce8dc=""
                      src="/_sa/img/services/strategy/team/specialisty.png"
                      alt="Специалисты"
                      loading="lazy"
                    />
                  </figure>
                  <h4 data-v-c03ce8dc="">Специалисты</h4>
                  <p data-v-c03ce8dc="">
                    Исследуют направления PR, SEO, SMM, контекстной и&nbsp;таргетированной рекламы. Составляют
                    рекомендации по&nbsp;продвижению.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div data-v-3b1bcda9="" data-v-c03ce8dc="" class="team-carousel-block" style="display: none;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGY-TEAM-END -->
