<!-- TEHPOD-NOT-SUITABLE-START -->
<section class="page-constructor__section tehpod-not-suitable-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Кому может не&nbsp;подойти</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks tehpod-not-suitable-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Нет постоянного потока задач</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Техническая поддержка не&nbsp;подходит, если требуется 1—2&nbsp;часа работ в&nbsp;месяц или нет возможности выделить минимальный пакет от&nbsp;10&nbsp;часов. В&nbsp;таком формате поддержка будет неэффективной.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Отсутствие ответственного со&nbsp;стороны клиента</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Для работы необходим контактное лицо со&nbsp;стороны проекта, которое формирует задачи, согласовывает приоритеты и&nbsp;принимает результаты.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Разовые или нерегулярные задачи</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Если задачи возникают эпизодически или раз в&nbsp;несколько месяцев, рациональнее использовать формат разовых работ — например, на&nbsp;<a href="/blog/article/sajt-na-konstruktore-protiv-polnotsennogo-sajta-kto-kogo/" class="tehpod-text-link">сайте на&nbsp;конструкторе</a>, а&nbsp;не техническую поддержку.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks tehpod-not-suitable-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Нет постоянного потока задач</h3>
            <p data-v-4ed7dc78="" class="block__description">Техническая поддержка не&nbsp;подходит, если требуется 1—2&nbsp;часа работ в&nbsp;месяц или нет возможности выделить минимальный пакет от&nbsp;10&nbsp;часов. В&nbsp;таком формате поддержка будет неэффективной.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Отсутствие ответственного со&nbsp;стороны клиента</h3>
            <p data-v-4ed7dc78="" class="block__description">Для работы необходим контактное лицо со&nbsp;стороны проекта, которое формирует задачи, согласовывает приоритеты и&nbsp;принимает результаты.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Разовые или нерегулярные задачи</h3>
            <p data-v-4ed7dc78="" class="block__description">Если задачи возникают эпизодически или раз в&nbsp;несколько месяцев, рациональнее использовать формат разовых работ — например, на&nbsp;<a href="/blog/article/sajt-na-konstruktore-protiv-polnotsennogo-sajta-kto-kogo/" class="tehpod-text-link">сайте на&nbsp;конструкторе</a>, а&nbsp;не техническую поддержку.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TEHPOD-NOT-SUITABLE-END -->
