<!-- TEHPOD-AUDIENCE-START -->
<section class="page-constructor__section tehpod-audience-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Кому подходит техническая поддержка Serenity</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Лендинги и&nbsp;корпоративные сайты</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Подходит владельцам <a href="/korporativnyj_sajt" class="tehpod-text-link">корпоративных сайтов</a>, которым важны стабильная работа, оперативное устранение проблем и&nbsp;последовательное развитие без простоев и&nbsp;авралов.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Бизнесу, которому нужна аутсорс-команда</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Когда требуется не&nbsp;один разработчик, а&nbsp;доступ к&nbsp;команде&nbsp;— от&nbsp;технических специалистов до&nbsp;аналитиков&nbsp;— без найма и&nbsp;управления внутренним штатом.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Интернет-магазины и&nbsp;каталоги</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Для <a href="/sozdanie-internet-magazina" class="tehpod-text-link">интернет-магазинов</a> и&nbsp;каталогов, где критичны скорость загрузки, безопасность, регулярные обновления, интеграции и&nbsp;корректная работа аналитики.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Проекты со&nbsp;стабильным потоком задач</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Подходит для сайтов, у&nbsp;которых есть регулярные задачи каждый месяц и&nbsp;нужен предсказуемый, управляемый формат технической поддержки.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Проекты с&nbsp;регулярным развитием сайта</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Если сайт постоянно дорабатывается: добавляется функциональность, улучшается UX, запускаются новые разделы или сценарии взаимодействия — как в&nbsp;<a href="/blog/article/prodvizhenie-molodyh-sajtov-poshagovyj-plan-razvitiya-novogo-sajta/" class="tehpod-text-link">плане развития молодого сайта</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Лендинги и&nbsp;корпоративные сайты</h3>
            <p data-v-4ed7dc78="" class="block__description">Подходит владельцам <a href="/korporativnyj_sajt" class="tehpod-text-link">корпоративных сайтов</a>, которым важны стабильная работа, оперативное устранение проблем и&nbsp;последовательное развитие без простоев и&nbsp;авралов.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Бизнесу, которому нужна аутсорс-команда</h3>
            <p data-v-4ed7dc78="" class="block__description">Когда требуется не&nbsp;один разработчик, а&nbsp;доступ к&nbsp;команде&nbsp;— от&nbsp;технических специалистов до&nbsp;аналитиков&nbsp;— без найма и&nbsp;управления внутренним штатом.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Интернет-магазины и&nbsp;каталоги</h3>
            <p data-v-4ed7dc78="" class="block__description">Для <a href="/sozdanie-internet-magazina" class="tehpod-text-link">интернет-магазинов</a> и&nbsp;каталогов, где критичны скорость загрузки, безопасность, регулярные обновления, интеграции и&nbsp;корректная работа аналитики.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Проекты со&nbsp;стабильным потоком задач</h3>
            <p data-v-4ed7dc78="" class="block__description">Подходит для сайтов, у&nbsp;которых есть регулярные задачи каждый месяц и&nbsp;нужен предсказуемый, управляемый формат технической поддержки.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Проекты с&nbsp;регулярным развитием сайта</h3>
            <p data-v-4ed7dc78="" class="block__description">Если сайт постоянно дорабатывается: добавляется функциональность, улучшается UX, запускаются новые разделы или сценарии взаимодействия — как в&nbsp;<a href="/blog/article/prodvizhenie-molodyh-sajtov-poshagovyj-plan-razvitiya-novogo-sajta/" class="tehpod-text-link">плане развития молодого сайта</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TEHPOD-AUDIENCE-END -->
