<!-- TEHPOD-SKLADNO-SYTNIE-CASES-START -->
<section class="page-constructor__section tehpod-cases-slider-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-tehpod-cases"
        class="swiper-container cases-block__slider-swiper-container"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-tehpod-cases"
        >
          <div data-v-bd2e570a="" class="swiper-slide cases-block__swiper-slide swiper-slide-tehpod-cases cases-block__swiper-slide--skladno">
            <div data-v-bd2e570a="" class="background" style="background-image: url(&quot;/_sa/img/services/tehnicheskaya-podderzhka-saita/cases/skladno-bg.webp&quot;);"></div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img data-v-bd2e570a="" src="/_sa/img/services/tehnicheskaya-podderzhka-saita/cases/skladno-slide.webp" alt="Кейс Складно — брендированный фургон доставки мебели" loading="eager" class="cases-block__swiper-slide-contant-image" />
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big">Складно</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">Магазин доступной мебели</p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">Комплексная техподдержка, улучшение UX, оптимизация мобильной версии, продуктовые улучшения.</p>
                <a data-v-7f5f1051="" data-v-bd2e570a="" href="/case/all/skladno-internet-magazin-mebeli" class="buttonlink cases-block__swiper-slide-button">
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none" data-v-7f5f1051="" aria-hidden="true"><path d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
          <div data-v-bd2e570a="" class="swiper-slide cases-block__swiper-slide swiper-slide-tehpod-cases cases-block__swiper-slide--sytnie">
            <div data-v-bd2e570a="" class="background" style="background-image: url(&quot;/_sa/img/services/tehnicheskaya-podderzhka-saita/cases/sytnie-bg.webp&quot;);"></div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img data-v-bd2e570a="" src="/_sa/img/services/tehnicheskaya-podderzhka-saita/cases/sytnie-slide.webp" alt="Кейс Сытные угодья — производитель мясных изделий" loading="lazy" class="cases-block__swiper-slide-contant-image" />
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3 data-v-bd2e570a="" class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big">Сытные угодья</h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">Бренд производителя мясных изделий.</p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">Пакетная поддержка корпоративного сайта каталога, реализация ТЗ от&nbsp;SEO-специалистов, наполнение сайта.</p>
                <a data-v-7f5f1051="" data-v-bd2e570a="" href="/case/all/sytnie-ugodia" class="buttonlink cases-block__swiper-slide-button">
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none" data-v-7f5f1051="" aria-hidden="true"><path d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        data-v-bd2e570a=""
        class="swiper-pagination swiper-pagination-tehpod-cases swiper-pagination-clickable swiper-pagination-bullets"
      ></div>
      <div data-v-bd2e570a="" class="swiper__navigation">
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-prev swiper-pagination-prev-tehpod-cases"
          aria-label="Предыдущий слайд"
        >
          <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 42 42" fill="none" aria-hidden="true">
            <circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path d="M23 14L15.9289 21.0711L23 28.1421" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button
          data-v-bd2e570a=""
          type="button"
          class="swiper-button-next swiper-pagination-next-tehpod-cases"
          aria-label="Следующий слайд"
        >
          <svg data-v-bd2e570a="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 42 42" fill="none" style="transform: rotate(180deg)" aria-hidden="true">
            <circle cx="21" cy="21" r="20.5" stroke="white"></circle>
            <path d="M23 14L15.9289 21.0711L23 28.1421" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- TEHPOD-SKLADNO-SYTNIE-CASES-END -->
