<!-- TEHPOD-APPROACH-START -->
<section class="page-constructor__section tehpod-approach-block">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Гибкая техническая поддержка сайта с&nbsp;продуктовым подходом</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Мы объединяем техническую экспертизу и&nbsp;<a href="/services/marketing" class="tehpod-text-link">продуктовое развитие</a>: развиваем сайт как продукт, а&nbsp;не ограничиваемся технической поддержкой. Работаем как единая команда: разработчики, DevOps, дизайнеры, аналитики, контент-маркетологи и&nbsp;менеджеры проекта.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Гибкая модель T&amp;M</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Работаем по&nbsp;Time &amp; Materials с&nbsp;минимальным пакетом от&nbsp;10&nbsp;часов. Вы заранее понимаете объём, ставку и&nbsp;формат работы, без долгосрочных контрактов и&nbsp;фиксированных объёмов.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Быстрая реакция на&nbsp;запросы</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Реагируем на&nbsp;обращения от&nbsp;30&nbsp;минут. Поддержка подходит для проектов, где важны скорость, стабильность и&nbsp;оперативное решение задач.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Прозрачная и&nbsp;понятная отчётность</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Каждая задача оценивается в&nbsp;часах и&nbsp;фиксируется в&nbsp;отчёте. Вы видите, на&nbsp;что именно потрачено время и&nbsp;какой результат получен.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Подключение смежных экспертиз при необходимости</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">При необходимости к&nbsp;технической поддержке подключаются <a href="/uvelichenie-konversii-saita" class="tehpod-text-link">UX/UI</a>, <a href="/seo" class="tehpod-text-link">SEO</a> и&nbsp;<a href="/services/marketing" class="tehpod-text-link">контент-маркетинг</a>. Это позволяет решать задачи комплексно, а&nbsp;не ограничиваться только кодом.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Сильная техническая экспертиза и&nbsp;полный стек разработки</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">В&nbsp;проекте работают Middle+ и&nbsp;Senior-специалисты с&nbsp;опытом поддержки и&nbsp;развития коммерческих сайтов. Мы закрываем задачи по&nbsp;фронтенду, бэкенду, CMS и&nbsp;DevOps, без передачи между подрядчиками и&nbsp;потери контекста, включая не&nbsp;только интерфейсные правки, но&nbsp;и&nbsp;системные технические работы.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Оплата только за&nbsp;фактически выполненные работы</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Вы оплачиваете только реально выполненные задачи. Часы сверх пакета учитываются отдельно&nbsp;— без скрытых работ и&nbsp;размытых формулировок.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Гибкая модель T&amp;M</h3>
            <p data-v-4ed7dc78="" class="block__description">Работаем по&nbsp;Time &amp; Materials с&nbsp;минимальным пакетом от&nbsp;10&nbsp;часов. Вы заранее понимаете объём, ставку и&nbsp;формат работы, без долгосрочных контрактов и&nbsp;фиксированных объёмов.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Быстрая реакция на&nbsp;запросы</h3>
            <p data-v-4ed7dc78="" class="block__description">Реагируем на&nbsp;обращения от&nbsp;30&nbsp;минут. Поддержка подходит для проектов, где важны скорость, стабильность и&nbsp;оперативное решение задач.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Прозрачная и&nbsp;понятная отчётность</h3>
            <p data-v-4ed7dc78="" class="block__description">Каждая задача оценивается в&nbsp;часах и&nbsp;фиксируется в&nbsp;отчёте. Вы видите, на&nbsp;что именно потрачено время и&nbsp;какой результат получен.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Подключение смежных экспертиз при необходимости</h3>
            <p data-v-4ed7dc78="" class="block__description">При необходимости к&nbsp;технической поддержке подключаются <a href="/uvelichenie-konversii-saita" class="tehpod-text-link">UX/UI</a>, <a href="/seo" class="tehpod-text-link">SEO</a> и&nbsp;<a href="/services/marketing" class="tehpod-text-link">контент-маркетинг</a>. Это позволяет решать задачи комплексно, а&nbsp;не ограничиваться только кодом.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Сильная техническая экспертиза и&nbsp;полный стек разработки</h3>
            <p data-v-4ed7dc78="" class="block__description">В&nbsp;проекте работают Middle+ и&nbsp;Senior-специалисты с&nbsp;опытом поддержки и&nbsp;развития коммерческих сайтов. Мы закрываем задачи по&nbsp;фронтенду, бэкенду, CMS и&nbsp;DevOps, без передачи между подрядчиками и&nbsp;потери контекста, включая не&nbsp;только интерфейсные правки, но&nbsp;и&nbsp;системные технические работы.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Оплата только за&nbsp;фактически выполненные работы</h3>
            <p data-v-4ed7dc78="" class="block__description">Вы оплачиваете только реально выполненные задачи. Часы сверх пакета учитываются отдельно&nbsp;— без скрытых работ и&nbsp;размытых формулировок.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TEHPOD-APPROACH-END -->
