<!-- UKS-AUDIENCE-FIT-START -->
<section class="page-constructor__section uks-audience-fit-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet" aria-hidden="true"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Для кого подходит услуга</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc content-block__grid--desc-by-row blocks uks-audience-fit-grid">
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Если есть трафик, но&nbsp;нет роста</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">На&nbsp;сайт регулярно приходят посетители из&nbsp;<a href="/seo" class="uks-text-link">поиска</a> или <a href="/kontekstnaya_reklama" class="uks-text-link">рекламы</a>, но&nbsp;они не&nbsp;доходят до&nbsp;заявки, покупки или других целевых действий.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Если продукт или рынок сложные</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Широкий ассортимент, высокая конкуренция или запутанная структура мешают росту конверсии.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Если реклама становится дороже</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Стоимость привлечения растёт, а&nbsp;при сопоставимом или большем трафике количество заявок и&nbsp;продаж не&nbsp;увеличивается.</p>
            </div>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Если нужен комплексный подход</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Требуется системная работа с&nbsp;сайтом, а&nbsp;не отдельные задачи по&nbsp;SEO, дизайну или UX.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Если нужен осмысленный редизайн</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Вы хотите обновить сайт на&nbsp;основе данных и&nbsp;поведения пользователей, а&nbsp;не субъективных решений.</p>
            </div>
          </div>
          <div data-v-4ed7dc78="" class="col-4">
            <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
              <div data-v-4ed7dc78="" class="block__name-wrapper">
                <h3 data-v-4ed7dc78="" class="block__name">Если нужна продуктовая команда</h3>
              </div>
              <p data-v-4ed7dc78="" class="block__description">Проекту нужен постоянный продуктовый подход, а&nbsp;не фрилансер под&nbsp;разовые правки.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks uks-audience-fit-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если есть трафик, но&nbsp;нет роста</h3>
            <p data-v-4ed7dc78="" class="block__description">На&nbsp;сайт регулярно приходят посетители из&nbsp;<a href="/seo" class="uks-text-link">поиска</a> или <a href="/kontekstnaya_reklama" class="uks-text-link">рекламы</a>, но&nbsp;они не&nbsp;доходят до&nbsp;заявки, покупки или других целевых действий.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если продукт или рынок сложные</h3>
            <p data-v-4ed7dc78="" class="block__description">Широкий ассортимент, высокая конкуренция или запутанная структура мешают росту конверсии.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если реклама становится дороже</h3>
            <p data-v-4ed7dc78="" class="block__description">Стоимость привлечения растёт, а&nbsp;при сопоставимом или большем трафике количество заявок и&nbsp;продаж не&nbsp;увеличивается.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если нужен комплексный подход</h3>
            <p data-v-4ed7dc78="" class="block__description">Требуется системная работа с&nbsp;сайтом, а&nbsp;не отдельные задачи по&nbsp;SEO, дизайну или UX.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если нужен осмысленный редизайн</h3>
            <p data-v-4ed7dc78="" class="block__description">Вы хотите обновить сайт на&nbsp;основе данных и&nbsp;поведения пользователей, а&nbsp;не субъективных решений.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если нужна продуктовая команда</h3>
            <p data-v-4ed7dc78="" class="block__description">Проекту нужен постоянный продуктовый подход, а&nbsp;не фрилансер под&nbsp;разовые правки.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- UKS-AUDIENCE-FIT-END -->
