<!-- UKS-NOT-FIT-START -->
<section class="page-constructor__section uks-not-fit-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header title-large number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet" aria-hidden="true"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Кому не&nbsp;подходит услуга</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--desc blocks uks-not-fit-grid">
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Если вы ждёте быстрых результатов</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Ожидание мгновенного роста без аналитики и&nbsp;тестирования делает продуктовый подход неэффективным.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Если вам нужны разовые правки</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Запрос на&nbsp;точечные доработки без системной работы над&nbsp;сайтом не&nbsp;соответствует формату услуги.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <div data-v-4ed7dc78="" class="block__name-wrapper">
              <h3 data-v-4ed7dc78="" class="block__name">Если бизнес не&nbsp;вовлечён в&nbsp;проект</h3>
            </div>
            <p data-v-4ed7dc78="" class="block__description">Отсутствие готовности обсуждать УТП, воронку, логику продаж и&nbsp;опираться на&nbsp;аналитику, эксперименты и&nbsp;поведение пользователей, продуктовый подход перестаёт быть управляемым и&nbsp;не&nbsp;даёт прогнозируемого результата.</p>
          </div>
        </div>
      </div>
      <div data-v-4ed7dc78="" class="content-block__grid content-block__grid--tablet blocks uks-not-fit-grid">
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если вы ждёте быстрых результатов</h3>
            <p data-v-4ed7dc78="" class="block__description">Ожидание мгновенного роста без аналитики и&nbsp;тестирования делает продуктовый подход неэффективным.</p>
          </div>
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если вам нужны разовые правки</h3>
            <p data-v-4ed7dc78="" class="block__description">Запрос на&nbsp;точечные доработки без системной работы над&nbsp;сайтом не&nbsp;соответствует формату услуги.</p>
          </div>
        </div>
        <div data-v-4ed7dc78="" class="col-4 content-block__grid-wrapper">
          <div data-v-4ed7dc78="" class="col-4 col-sm-12 block-item">
            <h3 data-v-4ed7dc78="" class="block__name">Если бизнес не&nbsp;вовлечён в&nbsp;проект</h3>
            <p data-v-4ed7dc78="" class="block__description">Отсутствие готовности обсуждать УТП, воронку, логику продаж и&nbsp;опираться на&nbsp;аналитику, эксперименты и&nbsp;поведение пользователей, продуктовый подход перестаёт быть управляемым и&nbsp;не&nbsp;даёт прогнозируемого результата.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- UKS-NOT-FIT-END -->
