<!-- UKS-PRODUCT-APPROACH-START -->
<section class="page-constructor__section uks-product-approach-section">
  <div data-v-4ed7dc78="" class="modern content-block">
    <div data-v-4ed7dc78="" class="page__container">
      <div data-v-490c7534="" data-v-4ed7dc78="" class="numbered-header number-header__empty">
        <div data-v-490c7534="" class="row">
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__title-column">
            <div data-v-490c7534="" class="numbered-header__bullet"></div>
            <div data-v-490c7534="" class="numbered-header__title">
              <h2 data-v-490c7534="">Продуктовый подход к&nbsp;росту конверсии</h2>
              <h4 data-v-490c7534="" style="display: none;"></h4>
            </div>
          </div>
          <div data-v-490c7534="" class="col-6 col-md-12 numbered-header__subtitle-column">
            <p data-v-4ed7dc78="" data-v-490c7534="" class="content-block__desc">Работаем с&nbsp;сайтом как с&nbsp;продуктом: формируем гипотезы, проверяем их через данные и&nbsp;внедряем изменения только там, где видим измеримый потенциал роста. Каждое улучшение проходит через аналитику, прогноз эффекта и&nbsp;последующую проверку результата.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- UKS-PRODUCT-APPROACH-END -->
