<!-- UKS-SKLADNO-CASE-START -->
<section class="page-constructor__section uks-case-section uks-skladno-case-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-uks-skladno"
        class="swiper-container cases-block__slider-swiper-container swiper-container-autoheight"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-uks-skladno"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide cases-block__swiper-slide--skladno swiper-slide-uks-skladno swiper-slide-only swiper-slide-active"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;https://serenity.agency/storage/C4FYcS0nVvWwTeCubZiM4GP2qBRFLxBhWiyhfZ1p.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <img
                  data-v-bd2e570a=""
                  src="https://serenity.agency/storage/ZRgK38D1aowr1OhG5h5e7GqTbhbme8mr8dz4qs9D.webp"
                  alt="Кейс Складно — брендированный фургон доставки мебели"
                  width="906"
                  height="515"
                  loading="eager"
                  class="cases-block__swiper-slide-contant-image"
                />
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3
                  data-v-bd2e570a=""
                  class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big"
                >
                  Складно
                </h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Магазин доступной мебели
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Внедрили комплексные ТЗ от&nbsp;аналитики, контекстной рекламы и&nbsp;SEO. В&nbsp;результате средний чек вырос до&nbsp;15&nbsp;585&nbsp;₽, а&nbsp;количество заявок стабильно увеличилось более чем на&nbsp;200 в&nbsp;месяц.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/all/skladno-internet-magazin-mebeli"
                  class="buttonlink cases-block__swiper-slide-button"
                >
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                        aria-hidden="true"
                      >
                        <path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- UKS-SKLADNO-CASE-END -->
