<!-- UKS-DARKRAIN-CASE-START -->
<section class="page-constructor__section uks-case-section uks-darkrain-case-section">
  <div data-v-bd2e570a="" class="cases-block">
    <div data-v-bd2e570a="" class="cases-block__slider">
      <div
        data-v-bd2e570a=""
        id="swiper-container-uks-darkrain"
        class="swiper-container cases-block__slider-swiper-container swiper-container-autoheight"
      >
        <div
          data-v-bd2e570a=""
          class="swiper-wrapper cases-block__swiper-wrapper swiper-wrapper-uks-darkrain"
        >
          <div
            data-v-bd2e570a=""
            class="swiper-slide cases-block__swiper-slide cases-block__swiper-slide--darkrain swiper-slide-uks-darkrain swiper-slide-only swiper-slide-active"
          >
            <div
              data-v-bd2e570a=""
              class="background"
              style="background-image: url(&quot;https://serenity.agency/storage/zkZyJK20M9IcZYCni1sB1UmxY92w5JhJ6i3rUWmg.webp&quot;);"
            ></div>
            <div
              data-v-bd2e570a=""
              class="cases-block__swiper-slide-tags-wrapper cases-block__swiper-slide-tags-wrapper_hidden"
            >
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-tags"></div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-contant">
              <div data-v-bd2e570a="" class="old">
                <video
                  data-v-bd2e570a=""
                  class="uks-case-video"
                  autoplay="autoplay"
                  muted="muted"
                  loop="loop"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="none"
                  src="https://serenity.agency/storage/QEVi94VE7ZxcJh7uwsem6kjJypzJR7bFT1GiBt6v.mp4"
                ></video>
              </div>
            </div>
            <div data-v-bd2e570a="" class="cases-block__swiper-slide-text-contant">
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-title-wrapper">
                <h3
                  data-v-bd2e570a=""
                  class="cases-block__swiper-slide-title cases-block__swiper-slide-title_big"
                >
                  Darkrain
                </h3>
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-subtitle">
                  Бренд минималистичных ювелирных украшений с&nbsp;шоурумами в&nbsp;СПб и&nbsp;Москве.
                </p>
              </div>
              <div data-v-bd2e570a="" class="cases-block__swiper-slide-button-wrapper">
                <p data-v-bd2e570a="" class="cases-block__swiper-slide-description">
                  Провели UX-исследование и&nbsp;обнаружили, что реальные паттерны поиска покупателей не&nbsp;совпадают
                  с&nbsp;логикой каталога. Потенциальные клиенты не&nbsp;находили нужные товары, хотя они были на&nbsp;сайте.
                  Мы расширили структуру каталога, добавили гибкие параметры и&nbsp;исправили ошибки транслитерации.
                  Как итог, конверсия выросла с&nbsp;0,1% до&nbsp;3%.
                </p>
                <a
                  data-v-7f5f1051=""
                  data-v-bd2e570a=""
                  href="/case/darkrain-store"
                  class="buttonlink cases-block__swiper-slide-button"
                >
                  <div data-v-7f5f1051="" class="buttonlink__content">
                    <div data-v-bd2e570a="" data-v-7f5f1051="">
                      Смотреть кейс
                      <svg
                        data-v-bd2e570a=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        data-v-7f5f1051=""
                        aria-hidden="true"
                      >
                        <path
                          d="M1 6.5H15M15 6.5L9.4 1M15 6.5L9.4 12"
                          stroke="white"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div data-v-7f5f1051="" class="buttonlink__backplate"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- UKS-DARKRAIN-CASE-END -->
